<template>
    <div class="server-options">
        <linux-general-content v-if="desired_option === 'algemeen'"/>
        <linux-status-content v-if="desired_option === 'stop' || desired_option  === 'start'"/>
        <linux-reset-content v-if="desired_option === 'reset'"/>
        <linux-delete-content v-if="desired_option === 'verwijderen'"/>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import LinuxGeneralContent from "../../content/linux/LinuxGeneralContent";
    import LinuxStatusContent from "../../content/linux/LinuxStatusContent";
    import LinuxResetContent from "../../content/linux/LinuxResetContent";
    import LinuxDeleteContent from "../../content/linux/LinuxDeleteContent";

    export default {
        name: 'ServerOptions',
        data() {
            return {}
        },
        computed: {
            ...mapGetters("servers", ["desired_option"]),
        },
        components: {
            LinuxGeneralContent,
            LinuxStatusContent,
            LinuxResetContent,
            LinuxDeleteContent,
        },
        methods: {

        }
    }
</script>
