<template>
    <div class="linux-properties properties">
        <p>
            Toegang met opgegeven persoonlijk account.
        </p>
        <p>
            Virtuele server
        </p>
        <ul>
            <li>#CPU: 1</li>
            <li>Memory: 256MB</li>
            <li>Storage: HD1:8GB:OS; HD2:1GB:Free; HD3:1GB:Free</li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "LinuxProperties",
    }
</script>

<style lang="scss">
    @import "src/scss/abstracts/base";

</style>
