<template>
    <div class="grid-x">

        <a v-if="server.status === 'active'"
           @click="stop_server(server.id)"
           class="option-link">
            stoppen
        </a>
        <a v-else-if="server.status === 'inactive'"
           @click="start_server(server.id)"
           class="option-link">
            starten
        </a>

        <a v-else-if="server.status === 'pending'">
            De server is op dit moment nog niet klaar voor gebruik.
        </a>

    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "LinuxStatusContent",
        data() {
            return {
                status: "active"
            }
        },
        computed: {
            ...mapGetters("servers", ["server"]),
        },
        methods: {
            ...mapActions({
                getActivities: 'activities/getActivities',
                sendUpdateStatusRequest: 'servers/sendUpdateStatusRequest',
            }),
            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
            start_server(id) {
                this.status = 'active'
                this.request_data = {
                    id: id,
                    status: this.status
                }
                this.sendUpdateStatusRequest(this.request_data)
                    .then((response) => {
                        this.$set(this.server, 'status', response.data.status)
                    })
                    .then(() => {
                        this.getActivities()
                    })
                    .then(() => {
                        this.$toast.success("Succes, de server " + this.server.type + " met id " + id + " is opgestart.")
                    })

            },
            stop_server(id) {
                this.status = 'inactive'
                this.request_data = {
                    id: id,
                    status: this.status
                }
                this.sendUpdateStatusRequest(this.request_data)
                    .then((response) => {
                        this.$set(this.server, 'status', response.data.status)
                    })
                    .then(() => {
                        this.getActivities()
                    })
                    .then(() => {
                        this.$toast.success("Succes, de server " + this.server.type + " met id " + id + " is opgestart.")
                    })
            },
        }
    }
</script>
