<template>
    <modal name="create-server-modal"
           :minWidth="modal.minWidth"
           :maxWidth="modal.maxWidth"
           :width="modal.width"
           :minHeight="modal.minHeight"
           :adaptive="modal.adaptive"
           :clickToClose="modal.clickToClose"
           :delay="modal.delay"
           :transition="modal.transition">
        <div class="modal-content create-server-content">
            <div class="grid-x modal-grid" v-if="servers">
                <div class="cell small-24 medium-24 server-window-container">
                    <create-server-window v-if="servers.length < 4"/>
                    <div v-else class="empty-catch">
                        <span>
                            Op dit moment zijn er geen servers beschikbaar
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import CreateServerWindow from "../CreateServerWindow";
    import {mapGetters} from "vuex";

    export default {
        name: 'CreateServerModal',
        data() {
            return {
                mySteps: ['Step 1', 'Step 2', 'Step 3'],
                modal: {
                    name: 'Reserveer server',
                    desc: ``,
                    transition: "nice-modal-fade",
                    width: "100%",
                    height: 'auto',
                    maxWidth: 840,
                    minHeight: 740,
                    minWidth: 320,
                    delay: 100,
                    adaptive: true,
                    clickToClose: true,
                    scrollable: false,
                    showBackgroundMask: false,
                    go_back: require('../../assets/files/svg/arrow.svg')
                },
            }
        },
        components: {
            CreateServerWindow
        },
        computed: {
            ...mapGetters("servers", ["servers"]),
        },
        methods: {
            close_modal() {
                this.$modal.hide('create-server-modal')
            },
            check_existence(type) {
                return !this.servers.some(server => server.type === type)
            },

        }
    }
</script>


<style lang="scss">
    @import "src/scss/abstracts/base";

    $border-radius: 6px;
    $transition-timing: cubic-bezier(0.86, 0, 0.07, 1);
    $transition-duration: 320ms;
    $tab-modal-background: $success-light;
    $server-modal-padding: 0 rem-calc(12);
    $tab-border-radius: rem-calc(6);
    $tab-transition-timing: cubic-bezier(0.86, 0, 0.07, 1);
    $tab-transition-property: height;
    $tab-transition-duration: 320ms;


    .modal-desc {
        margin-top: rem-calc(4);
    }

    .create-server-content {
        .title {
            font-size: rem-calc(16);
            width: 100%;
        }

        .create-server-header {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-column: 1/-1;
            grid-row: 1;
            grid-gap: 0.25rem;
            background: #2c3e50;
            padding: 0 rem-calc(0);
        }

        .slot-wrapper-x {
            background: rgba(248, 247, 247, 0.13);
            padding: rem-calc(14) rem-calc(16);
            cursor: pointer;
            text-align: center;
            border-top-right-radius: $tab-border-radius;
            border-top-left-radius: $tab-border-radius;
            width: rem-calc(240);

            span,
            img {
                position: relative;
            }

            &:hover {
                .slot-background {
                    height: rem-calc(8);
                }
            }

            &.active {

                cursor: pointer;
                color: white;
                font-weight: 500;
                transition: $tab-transition-property $tab-transition-duration $tab-transition-timing;
                right: 0;
                z-index: 3;
                position: relative;
                background: white;

                span,
                img {
                    z-index: 4;
                }

                span {
                    transition: all $tab-transition-duration $tab-transition-timing;
                    color: $black;
                }
            }


            .slot {
                &-background {
                    border-radius: $border-radius $border-radius 0 0;
                    bottom: 0;
                    $rounding-size: $border-radius;
                    $background-color: #fff;
                    padding: $rounding-size / 2 $rounding-size;
                    display: block;
                    position: absolute;
                    overflow: hidden;
                    transform: scaleX(0);
                    transition: transform $transition-timing $transition-duration;
                }

                &-rounding {
                    $background-color: #fff;
                    $rounding-size: $border-radius;
                    bottom: 0;
                    transform-origin: bottom;


                    &:before {
                        content: "";
                        position: absolute;
                        width: $rounding-size * 2;
                        height: $rounding-size * 2;
                        top: -$rounding-size;
                        left: -$rounding-size;
                        border-radius: 100%;
                    }

                    &.left {
                        left: -$rounding-size;

                        &:before {
                            box-shadow: 0 0 0 10rem $background-color;
                        }
                    }

                    &.right {
                        right: -$rounding-size;

                        &:before {
                            left: $rounding-size;
                            box-shadow: 0 0 0 10rem $background-color;
                        }
                    }
                }
            }

            span {
                color: white;
            }
        }

    }
</style>
