<template>
    <div class="grid-x modal-grid">
        <a @click="delete_server(server.id)" class="option-link">
            verwijderen
        </a>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "UbuntusDeleteContent",
        data() {
            return {}
        },
        computed: {
            ...mapGetters("servers", ["servers"]),
            ...mapGetters("servers", ["server"]),
        },
        mounted() {

        },
        methods: {
            ...mapActions({
                deleteServerRequest: 'servers/deleteServerRequest',
            }),
            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
            delete_server(id) {
                this.deleteServerRequest(id)
                    .then((response) => {
                        this.$modal.hide('main-tabs-modal')
                        this.$toast.success(response.data)
                    })
            },
        }
    }
</script>

<style lang="scss">
    @import "src/scss/abstracts/base";

</style>
