<template>
    <div class="server-options">
        <ubuntu-general-content v-if="desired_option === 'algemeen'"/>
        <ubuntu-status-content v-if="desired_option === 'stop' || desired_option === 'start'"/>
        <ubuntu-reset-content v-if="desired_option === 'reset'"/>
        <ubuntu-delete-content v-if="desired_option === 'verwijderen'"/>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import UbuntuGeneralContent from "../../content/ubuntu/UbuntuGeneralContent";
    import UbuntuStatusContent from "../../content/ubuntu/UbuntuStatusContent";
    import UbuntuResetContent from "../../content/ubuntu/UbuntuResetContent";
    import UbuntuDeleteContent from "../../content/ubuntu/UbuntuDeleteContent";

    export default {
        name: 'ServerOptions',
        data() {
            return {}
        },
        computed: {
            ...mapGetters("servers", ["desired_option"]),
        },
        components: {
            UbuntuGeneralContent,
            UbuntuStatusContent,
            UbuntuResetContent,
            UbuntuDeleteContent,
        }
    }
</script>
