<template>
    <!-- Header with navigation -->
    <header id="header">
        <app-navigation/>
    </header>
</template>

<script>
    import AppNavigation from "./AppNavigation";

    export default {
        name: 'Header',
        data() {
            return {

            }
        },
        components: {
            AppNavigation
        }
    }
</script>
