<template>
    <div class="app-navigation">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell small-24">
                    <div class="nav-group" v-show="user">
                        <div class="nav-item">
                            <router-link to="/dashboard"><a class="button">Dashboard</a></router-link>
                        </div>
                    </div>
                    <div class="nav-group">
                        <div class="nav-item">
                            <router-link to="/forgot-password"><a class="button">Wachtwoord vergeten</a></router-link>
                        </div>
                    </div>
                    <div class="nav-group">
                        <div class="nav-item">
                            <router-link to="/reset-password"><a class="button">Wachtwoord resetten</a></router-link>
                        </div>
                    </div>
                </div>
                <div class="cell small-24 align-right">
                    <div class="nav-group" v-show="!user">
                        <div class="nav-item">
                            <router-link to="/login"><a class="button">Login</a></router-link>
                        </div>
                        <div class="nav-item">
                            <router-link to="/register"><a class="button">Register</a></router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from "vuex";

    export default {
        name: 'AppNavigation',

        mounted() {
            if (localStorage.getItem("authToken")) {
                this.getUserData();
            }
        },
        computed: {
            ...mapGetters("authentication", ["user"])
        },
        methods: {
            ...mapActions("authentication", ["getUserData"]),
        }
    }
</script>

<style lang="scss">
    .nav-item{
        margin: 8px;
        .button {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>
