<template>
    <div class="expand-example">
        <div class="expanded-container">
            <div class="notification-head">
                <span>
                    {{toastification.heading}}}
                </span>
            </div>

            <transition-expand>
                <div v-if="expanded" class="notification-body">
                    {{toastification.body}}}
                </div>
            </transition-expand>
            <div class="window-controls">
                <button @click="expanded = !expanded" class="notification-button">
                    {{ expanded ? `verbergen` : `lees meer` }}
                </button>
            </div>

        </div>
    </div>
</template>


<script>
    import TransitionExpand from "./transitions/TransitionExpand";

    export default {
        name: 'Toastification',
        components: {
            TransitionExpand
        },
        data() {
            return {
                toastification: {
                    heading: 'Success, de server wordt klaar gemaakt voor gebruik.',
                    body: 'Zodra de {_server.type_} server klaar is voor gebruik' +
                           'ontvang je een e-mail met de server gegevens.',
                },
                expanded: false,
            }
        }
    }
</script>

<style lang="scss">
    .expanded-container {
        max-width: rem-calc(400);
        background: white;
        margin: rem-calc(20);
        padding: rem-calc(6);
    }


</style>
