<template>
    <div class="forgot-password">
        <div class="grid-x">

            <div class="cell small-12 align-left">
                <span class="current-page">Wachtwoord Vergeten</span>
            </div>

            <div class="cell small-12 heading align-right">
                <div class="router-group-y">
                    <router-link to="/login" class="router-link">
                        Inloggen
                    </router-link>
                    <router-link to="/register" class="router-link">
                        Registreren
                    </router-link>
                    <router-link to="/reset-password" class="router-link">
                        Wachtwoord opnieuw instellen
                    </router-link>
                </div>
            </div>

            <div class="cell small-24 heading">
                <span class="form-desc-helper align-around">
                    Hier moet je jouw e-mailadres invullen.
                    Je krijgt dan via de e-mail een link toegestuurd
                    waarop je moet klikken om je wachtwoord opnieuw in te stellen.
                </span>
            </div>

            <div class="cel small-24">

                <!-- Validation Observer -->
                <validationObserver ref="forgot_password_form"
                                    v-slot="{ handleSubmit, reset }">

                    <form @submit.prevent="handleSubmit(on_forgot_password)"
                          @reset.prevent="reset">

                        <div class="grid-x">

                            <div class="cell small-24 validate-group">

                                <!-- Email -->
                                <validationProvider rules="required|email|not_unique"
                                                    v-slot="{ errors, classes }">

                                    <!-- Field control -->
                                    <div class="control exception" :class="classes">

                                        <label for="email" class="label-group">E-mailadres</label>

                                        <div class="form-group">

                                            <input v-model="user.email" name="e-mailadres"
                                                   id="email" type="text" autocomplete="off">

                                            <transition name="fade">
                                                <vue-simple-spinner v-if="loading" size="25" :line-size="2"
                                                                    line-fg-color="#41B883" line-bg-color="transparent"
                                                                    :speed="0.5" class="check_emails_loader" key="img"/>

                                                <img v-else :src="images.checkmark" class="checkmark-small">
                                            </transition>

                                        </div>


                                        <span class="message">
                                            {{ errors[0] }}
                                        </span>
                                    </div>

                                </validationProvider>

                            </div>

                            <!-- Reset -->
                            <div class="cell small-6 medium-6">
                                <button @click="on_reset" type="reset" class="button" id="reset-button">
                                    <span>Reset</span>
                                </button>
                            </div>

                            <!-- Submit -->
                            <div class="cell small-18 medium-18">
                                <button ref="submit_button" type="submit" class="button" id="login-button">

                                    <div class="inner-group">
                                        <transition name="fade">
                                            <vue-simple-spinner
                                                    v-if="loading_btn"
                                                    size="28" :line-size="2"
                                                    line-fg-color="#fff"
                                                    line-bg-color="transparent"/>

                                            <div v-else>
                                                <span class="">E-mail versturen</span>
                                                <svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1">
                                                    <path style="fill:none;stroke-width: 1px;stroke: #fff;"
                                                          d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/>
                                                </svg>
                                            </div>
                                        </transition>
                                    </div>

                                </button>
                            </div>

                        </div>
                    </form>

                </validationObserver>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex"
    import {ValidationProvider} from 'vee-validate'
    import {ValidationObserver} from 'vee-validate'
    import VueSimpleSpinner from "vue-simple-spinner"


    export default {
        name: 'forgotPassword',
        data() {
            return {
                user: {
                    email: null,
                    password: null,
                },
                images: {
                    padlock: require('../../assets/files/icons/padlock.svg'),
                    password: require('../../assets/files/icons/password.svg'),
                    checkmark: require('@/assets/files/checkmark.png'),
                },
                loading_btn: false,
                check_emails_loading: false,
            }
        },
        mounted() {
            this.$store.commit("setErrors", {});
        },
        components: {
            ValidationProvider,
            ValidationObserver,
            VueSimpleSpinner
        },
        computed: {
            ...mapGetters(["errors"]),

            loading() {
                return this.$store.state.application.loading
            },
        },
        methods: {
            ...mapActions({
                "sendForgotPasswordRequest": "authentication/sendForgotPasswordRequest",
            }),


            on_forgot_password() {
                this.$Progress.start()
                this.loading_btn = true

                this.sendForgotPasswordRequest({email: this.user.email})
                    .then((response) => {
                        localStorage.setItem("email", this.user.email)
                        this.$toast.success(response.data.message, {timeout: false})
                    })
                    .then(() => {
                        this.$Progress.finish()
                        this.loading_btn = false
                        this.loading = false
                    })
                    .catch(() => {
                        this.$toast.error(this.errors.email[0])
                        this.$Progress.fail()
                        this.loading_btn = false
                        this.loading = false
                    })
            },

            on_reset() {
                this.user.email = '',
                    this.user.password = '',
                    this.type = 'password',
                    this.type_text = 'Wachtwoord weergeven',
                    this.$toast.info("Het formulier is gereset")
            },
        }
    }
</script>

<style lang="scss">
    @import './src/scss/abstracts/base';


</style>
