<template>
    <div class="auth-container">
        <div class="grid-x">
            <div class="cell small-24 auth-card">


                <div class="grid-x">
                    <!-- title -->
                    <div class="cell small-12 align-left">
                        <span class="current-page">Inloggen</span>
                    </div>
                    <!-- links -->
                    <div class="cell small-12 heading align-right">
                        <div class="router-group-y">
                            <router-link to="/register" class="router-link">
                                Registreren
                            </router-link>
                            <router-link to="/forgot-password" class="router-link">
                                Wachtwoord vergeten
                            </router-link>
                        </div>
                    </div>
                </div>

                <!-- Validation Observer -->
                <validationObserver ref="login_form"
                                    v-slot="{ handleSubmit, reset }">

                    <form @submit.prevent="handleSubmit(on_login)"
                          @reset.prevent="reset"
                          id="login_form"
                          autocomplete="off">

                        <!-- Grid-x inner container-->
                        <div class="grid-x grid-margin-x">
                            <!-- Validate-group Email -->
                            <div class="cell small-24 validate-group">
                                <validationProvider rules="required|email|not_unique" v-slot="{ errors, classes }">
                                    <div class="control email" :class="classes">
                                        <div class="grid-x form-group">
                                            <div class="cell small-24 label-group flex-start">
                                                <label for="email">E-mailadres</label>
                                            </div>
                                            <div class="cell small-24">
                                                <input v-model="user.email" name="e-mailadres" id="email" type="text"
                                                       autocomplete="off">
                                                <transition name="fade">
                                                    <vue-simple-spinner v-if="loading" size="23" :line-size="2"
                                                                        line-fg-color="#41B883"
                                                                        line-bg-color="transparent"
                                                                        :speed="0.5" class="check_emails_loader"
                                                                        key="img"/>
                                                    <img v-else :src="checkmark" class="checkmark-small" key="img">
                                                </transition>
                                                <span class="message">
                                                    {{ errors[0] }}
                                                    <span v-if="errors.email">{{ errors.email[0] }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </validationProvider>
                            </div>

                            <!-- Register Wachtwoord -->
                            <div class="cell small-24 validate-group password">
                                <validationProvider rules="required|minmax:7,28"
                                                    name="wachtwoord"
                                                    v-slot="{ errors, classes }">
                                    <div class="control password" :class="classes">
                                        <div class="grid-x form-group">
                                            <div class="cell small-12 label-group">
                                                <label for="password">
                                                    Wachtwoord
                                                </label>
                                            </div>
                                            <div class="cell small-12 flex-end label-group">
                                                <label>
                                                    <a @click.prevent="show_password" class="toggle-visibility">
                                                        {{type_text}}
                                                    </a>
                                                </label>
                                            </div>
                                            <div class="cell small-24">
                                                <input v-model="user.password" :type="type" name="wachtwoord"
                                                       id="password"
                                                       autocomplete="new-password">
                                                <img :src="checkmark" class="checkmark-small">
                                                <span class="message">{{ errors[0] }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </ValidationProvider>
                            </div>

                            <!-- Reset -->
                            <div class="cell small-6 medium-6">
                                <button @click="on_reset" type="reset" class="button" id="reset-button">
                                    <span>Reset</span>
                                </button>
                            </div>

                            <!-- Submit -->
                            <div class="cell small-18 medium-18">
                                <button ref="submit_button" type="submit" class="button" id="login-button">

                                    <div class="inner-group">
                                        <transition name="fade" tag="span">
                                            <vue-simple-spinner
                                                    v-if="loading_btn"
                                                    size="28" :line-size="2"
                                                    line-fg-color="#fff"
                                                    line-bg-color="transparent"/>

                                            <div v-else>
                                                <span class="">Inloggen</span>
                                                <svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1">
                                                    <path style="fill:none;stroke-width: 1px;stroke: #fff;"
                                                          d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/>
                                                </svg>
                                            </div>
                                        </transition>
                                    </div>

                                </button>
                            </div>


                        </div>

                    </form>

                </ValidationObserver>

            </div>
        </div>
    </div>
</template>

<script>
    import {ValidationProvider} from 'vee-validate';
    import {ValidationObserver} from 'vee-validate';
    import {mapGetters, mapActions} from "vuex";
    import VueSimpleSpinner from "vue-simple-spinner"

    // Export default Vue
    export default {
        name: 'LoginForm',
        components: {
            ValidationProvider,
            ValidationObserver,
            VueSimpleSpinner
        },
        data() {
            return {
                user: {
                    email: null,
                    password: null,
                    device_name: 'browser',
                },
                type: 'password',
                type_text: 'Wachtwoord weergeven',
                checkmark: require('@/assets/files/checkmark.png'),
                loading_btn: false,
                success: false,
                check_emails_loading: false,
            }
        },
        mounted() {
            this.$store.commit("setErrors", {});
        },
        computed: {
            ...mapGetters(["errors"]),

            loading() {
                let loading_state = this.$store.state.application.loading;

                return loading_state
            }
        },
        methods: {
            ...mapActions("authentication", ["sendLoginRequest"]),

            on_login: function () {
                this.loading_btn = true

                this.sendLoginRequest(this.user)

                    .then((response) => {
                        if (response.status === 200) {
                            this.$toast.success("Success, je bent ingelogd")
                        }
                    })
                    .then(() => {
                        this.$router.push({
                            name: "Dashboard"
                        })
                    })
                    .catch((error) => {
                        this.loading_btn = false
                        this.$toast.error("Er is een fout opgetreden bij het inloggen  " + "<br>" + error.message)
                    })
            },
            on_reset() {
                this.user.email = '',
                    this.user.password = '',
                    this.type = 'password',
                    this.type_text = 'Wachtwoord weergeven',
                    this.$toast.info("Het formulier is gereset")
            },
            show_password() {
                if (this.type === 'password') {
                    this.type = 'text',
                        this.type_text = 'Wachtwoord verbergen'
                } else {
                    this.type = 'password'
                    this.type_text = 'Wachtwoord weergeven'
                }
            }
        }
    }
</script>
