<template>
    <div class="password-generator">

        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell small-24 medium-8">
                <div class="grid-y">
                    <div class="cell small-3" v-for="(type, index) in characters" :key="index">
                        <div class="checkboxes" :class="(type.checked) ? 'checked' : 'unchecked'">
                            <div class="type-field">
                                <label :for="type.name">{{type.label}}</label>
                            </div>
                            <div class="checkbox-field">
                                <label class="checkbox path">
                                    <input type="checkbox" v-model="type.checked" @click="click_for_value"
                                           :id="type.name">
                                    <svg viewBox="0 0 21 21">
                                        <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                                    </svg>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-24 medium-16 position-relative">
                <div class="grid-x grid-margin-x grid-margin-y">
                    <div class="cell small-24">

                    </div>
                    <div class="cell small-24">
                        <div class="range-password-length">
                            <label for="range-number">Wachtwoordlengte</label>
                            <div class="range-slider">
                                <input class="range-slider-range" type="range" min="7" max="28"
                                       v-model="generator_length">
                                <span class="range-slider-value">
                                    <input type="text" v-model="generator_length" id="range-number"
                                           class="range-slider-value-field" placeholder="">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell small-24 has-placeholder">
            <div class="pass-placeholder">
                <input v-model="password_placeholder" type="text" class="g-placeholder" placeholder="">
                <a @click.prevent="onGenerate" class="generate-icon">
                    <img src="../../assets/files/svg/generator_icon.svg" class="">
                </a>
                <a @click.prevent="onCopyPass" class="copy-icon">
                    <img src="../../assets/files/svg/copy_black.svg" class="">
                </a>
                <a @click.prevent="onFillPass" class="fill-in-icon">
                    <img src="../../assets/files/svg/document.svg" class="">
                </a>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        data: function () {
            return {
                checked_chars: [],
                characters: [
                    {
                        name: "kleineletter",
                        label: "Kleineletters",
                        chars: "a-z",
                        value: "abcdefghijklmnopqrstuvwxyz",
                        checked: true,
                    },
                    {
                        name: "hoofdletter",
                        label: "Hoofdletters",
                        chars: "A-Z",
                        value: "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
                        checked: true,
                    },
                    {
                        name: "getal",
                        label: "Getallen",
                        chars: "0-9",
                        value: "0123456789",
                        checked: true,
                    },
                    {
                        name: "speciaal_teken",
                        label: "Speciale tekens",
                        chars: "%*!",
                        value: "_-+=)(*&^%$#@!`~",
                        checked: false,
                    },
                ],
                generator_length: 18,
                type: "password",
                password_placeholder: "",
                v_copy_msg: 'Kopieëren',
                v_fillin_msg: "Invullen"
            }
        },
        mounted: function () {

        },
        computed: {
            last() {
                return Object.keys(this.character).length - 1;
            }
        },
        methods: {
            click_for_value: function() {
                this.type.checked = this.checked;
                this.type.checked
            },
            add_to_checked_chars: function () {
                this.checked_chars.push(this);
            },
            addNewTodo: function () {
                this.checked_chars.push({
                    name: this.label
                })
            },
            onGenerate: function () {
                let result = "";
                let charactersVal = "";
                for (var j = 0; j < this.characters.length; j++) {
                    if (this.characters[j].checked) {
                        charactersVal += this.characters[j].value;
                    }
                }
                for (var i = 0; i < this.generator_length; i++) {
                    result += charactersVal.charAt(Math.floor(Math.random() * charactersVal.length));
                }
                this.password_placeholder = result;
            },
            onCopyPass: function () {
                let textToCopy = this.password_placeholder;
                try {
                    navigator.clipboard.writeText(textToCopy);
                } catch (err) {
                    console.error('😕 , Het is niet gelukt te kopieëren: ', err);
                }
            },
            onFillPass: function () {
                // EventBus.$emit('fill-in-password', this.$data.password_placeholder);
                this.$root.$emit('fill-in-password', this.password_placeholder);
            },
            rangeSlider: function () {
                let slider = document.querySelector('.range-slider'),
                    range = document.querySelector('.range-slider-range'),
                    value = document.querySelector('.range-slider-value');

                slider.forEach(function () {
                    value.forEach(function () {
                        let value = this.previousElementSibling.setAttribute('value');
                        this.innerHeight(value);
                    });

                    range.addEventListener('input', function () {
                        this.nextElementSibling.innerHTML(this.value);
                    });
                });
            }
        }
    }
</script>
