<template>
    <!-- Authentication container-->
    <div class="auth-container"
         :class="{'slide-on': slide_is_active, 'slide-off': !slide_is_active}">

        <div class="grid-x">

            <div class="cell small-24 auth-card">

                <!-- C path -->
                <div class="grid-x">
                    <div class="cell small-12 align-left">
                        <span class="current-page">Registreren</span>
                    </div>

                    <div class="cell small-12 heading align-right">
                        <div class="router-group-y">
                            <router-link to="/login" class="router-link">
                                Inloggen
                            </router-link>
                            <router-link to="/forgot-password" class="router-link">
                                Wachtwoord vergeten
                            </router-link>
                        </div>
                    </div>
                </div>


                <!-- Register Form Observer -->
                <validationObserver ref="register_form"
                                    v-slot="{ handleSubmit, reset }">
                    <form @submit.prevent="handleSubmit(on_register)"
                          @reset.prevent="reset"
                          id="register_form"
                          autocomplete="off">

                        <!-- Grid-x inner container-->
                        <div class="grid-x grid-margin-x">
                            <!-- Validate-group voornaam -->
                            <div class="cell small-24 medium-12 validate-group firstname">
                                <ValidationProvider rules="required|minmax:2,12" v-slot="{ errors, classes }">
                                    <div class="control" :class="classes">
                                        <div class="grid-x form-group">
                                            <div class="cell small-24 flex-start">
                                                <label for="firstname">Voornaam</label>
                                            </div>
                                        </div>
                                        <div class="cell small-24">
                                            <input v-model="user.firstname" ref="firstname" type="text" name="voornaam"
                                                   id="firstname">
                                            <img :src="checkmark" class="checkmark-small">
                                            <span class="message">
                                                {{ errors[0] }}
                                            </span>
                                        </div>
                                    </div>
                                </ValidationProvider>
                            </div>
                            <!-- Validate-group achternaam -->
                            <div class="cell small-24 medium-12 validate-group lastname">
                                <ValidationProvider rules="required|minmax:2,12" v-slot="{ errors, classes }">
                                    <div class="control" :class="classes">
                                        <div class="grid-x form-group">
                                            <div class="cell small-24 flex-start">
                                                <label for="lastname">Achternaam</label>
                                            </div>
                                        </div>
                                        <div class="cell small-24">
                                            <input v-model="user.lastname" ref="lastname" type="text" name="achternaam"
                                                   id="lastname">
                                            <img :src="checkmark" class="checkmark-small">
                                            <span class="message">{{ errors[0] }}</span>
                                        </div>
                                    </div>
                                </ValidationProvider>
                            </div>
                            <!-- Validate-group email -->
                            <div class="cell small-24 validate-group email">
                                <validationProvider rules="required|email|unique" v-slot="{ errors, classes }">
                                    <div class="control" :class="classes">
                                        <div class="grid-x form-group">
                                            <div class="cell small-24 flex-start">
                                                <label for="email">E-mailadres</label>
                                            </div>
                                        </div>
                                        <div class="cell small-24">
                                            <input v-model="user.email" ref="email" name="e-mailadres" id="email"
                                                   type="text" autocomplete="off">
                                            <transition name="fade">
                                                <vue-simple-spinner v-if="loading" size="25" :line-size="2"
                                                                    line-fg-color="#41B883" line-bg-color="transparent"
                                                                    :speed="0.5" class="check_emails_loader" key="img"/>
                                                <img v-else :src="checkmark" class="checkmark-small" key="img">
                                            </transition>
                                            <span class="message">{{ errors[0] }}</span>
                                        </div>
                                    </div>
                                </validationProvider>
                            </div>
                            <!-- Validate-group wachtwoord -->
                            <div class="cell small-24 validate-group password">
                                <validationProvider rules="required|minmax:7,28" name="wachtwoord"
                                                    v-slot="{ errors, classes }">
                                    <div class="control password" :class="classes">
                                        <div class="grid-x form-group">
                                            <div class="cell small-14 medium-8">
                                                <label for="password" class="skip">
                                                    Wachtwoord
                                                </label>
                                            </div>
                                            <div class="cell small-10 medium-8 flex-end">
                                                <label>
                                                    <a @click.prevent="on_show_password" class="toggle-visibility">
                                                        <span class="skip">
                                                            {{ password_type_message }}
                                                        </span>
                                                    </a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="cell small-24">
                                            <input ref="password"
                                                   v-model="user.password"
                                                   :type="password_type"
                                                   :value="user.password"
                                                   name="wachtwoord"
                                                   id="password"
                                                   autocomplete="new-password">
                                            <img :src="checkmark" class="checkmark-small">
                                            <Password v-model="user.password"
                                                      :strength-meter-only="true"/>
                                            <transition name="fade">
                                                <span v-if="errors" class="message">
                                                    {{ errors[0] }}
                                                </span>
                                            </transition>
                                        </div>
                                    </div>
                                </ValidationProvider>
                            </div>
                            <!-- Validate-group herhaal wachtwoord -->
                            <div class="cell small-24 validate-group confirm-password">
                                <ValidationProvider rules="required|minmax:7,28|password|password:@wachtwoord"
                                                    name="bevestigings" v-slot="{ errors, classes }">
                                    <div class="control" :class="classes">
                                        <div class="grid-x form-group">
                                            <div class="cell small-12 medium-12">
                                                <label for="password_confirmation">
                                                    Herhaal wachtwoord:
                                                </label>
                                            </div>
                                            <div class="cell small-12 medium-12 flex-end">
                                                <label>
                                                    <a @click.prevent="on_show_password_confirm"
                                                       class="toggle-visibility">
                                                        {{password_confirm_message}}
                                                    </a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="cell small-24">
                                            <input ref="confirm_password" v-model="user.password_confirmation"
                                                   :type="password_confirm_type"
                                                   id="password_confirmation"
                                                   autocomplete="new-password">
                                            <img :src="checkmark" class="checkmark-small">
                                            <span class="message">{{ errors[0] }}</span>
                                        </div>
                                    </div>
                                </ValidationProvider>
                            </div>

                            <!-- Reset -->
                            <div class="cell small-6 medium-6">
                                <button @click="on_reset" type="reset" class="button" id="reset-button">
                                    <span>Reset</span>
                                </button>
                            </div>

                            <!-- Submit -->
                            <div class="cell small-18 medium-18">
                                <button ref="submit_button" type="submit" class="button" id="login-button">

                                    <div class="inner-group">
                                        <transition name="fade" tag="span">
                                            <vue-simple-spinner
                                                    v-if="loading_btn"
                                                    size="28" :line-size="2"
                                                    line-fg-color="#fff"
                                                    line-bg-color="transparent"/>

                                            <div v-else>
                                                <span class="">Registreren</span>
                                                <svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1">
                                                    <path style="fill:none;stroke-width: 1px;stroke: #fff;"
                                                          d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/>
                                                </svg>
                                            </div>
                                        </transition>
                                    </div>

                                </button>
                            </div>
                        </div>


                    </form>
                </ValidationObserver>
            </div> <!-- / auth-card -->

        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from "vuex"
    import Password from 'vue-password-strength-meter'
    import VueSimpleSpinner from "vue-simple-spinner"

    export default {
        name: 'RegisterForm',
        components: {
            Password,
            // PasswordGenerator,
            VueSimpleSpinner,
        },
        data() {
            return {
                user: {
                    email: null,
                    firstname: null,
                    lastname: null,
                    password: null,
                    password_confirmation: null,
                },
                password_type: 'password',
                password_type_message: 'Wachtwoord weergeven',
                password_confirm_type: 'password',
                password_confirm_message: 'Wachtwoord weergeven',
                generator_is_active: false,
                slide_is_active: false,
                generator_state_message: 'Wachtwoord genereren',
                checkmark: require('@/assets/files/checkmark.png'),
                arrow: require('@/assets/files/svg/arrow.svg'),
                loading_btn: false,
                server_message: '',
            }
        },
        mounted() {
            this.$store.commit("setErrors", {});

            this.$root.$on('fill-in-password', password_placeholder => {
                this.password = password_placeholder,
                    this.password_confirmation = password_placeholder,
                    this.generator_is_active = false,
                    this.slide_is_active = false,
                    this.$nextTick(() => this.$refs.password.focus()),
                    this.$nextTick(() => this.$refs.confirm_password.focus()),
                    this.$nextTick(() => this.$refs.submit_button.focus())
            })
        },
        computed: {
            ...mapGetters(["errors"]),

            toggleSlide: function () {
                return {
                    'slide-on': this.slide_is_active,
                    'slide-off': !this.slide_is_active
                }
            },

            loading: function () {
                return this.$store.state.application.loading;
            },
        },
        methods: {
            ...mapActions("authentication", ["sendRegisterRequest"]),

            on_register: function () {
                this.loading_btn = true

                this.sendRegisterRequest(this.user)

                    .then((response) => {

                        if (response.status === 200) {
                            this.$toast.success("Je bent succesvol ingelogd")
                        }
                    })
                    .then(() => {
                        this.loading_btn = false

                        this.$router.push({
                            name: "Dashboard"
                        });
                    })
                    .catch(() => {
                        this.loading_btn = false

                        this.$toast.error("Er is een probleem opgetreden bij het registreren")

                    });
            },
            on_reset: function () {
                this.user.firstname = '',
                    this.user.lastname = '',
                    this.user.email = '',
                    this.user.password = '',
                    this.user.password_confirmation = '',
                    this.user.type = 'password',
                    this.user.type_text = 'Wachtwoord weergeven',
                    this.user.generator_is_active = false,
                    this.slide_is_active = false,
                    this.$toast.info("Het formulier is gereset")
            },
            on_show_password: function () {
                if (this.password_type === 'password') {
                    this.password_type = 'text',
                        this.password_type_message = 'Wachtwoord verbergen'
                } else {
                    this.password_type = 'password'
                    this.password_type_message = 'Wachtwoord weergeven'
                }
            },
            on_show_password_confirm: function () {
                if (this.password_confirm_type === 'password') {
                    this.password_confirm_type = 'text',
                        this.password_confirm_message = 'Wachtwoord verbergen'
                } else {
                    this.password_confirm_type = 'password'
                    this.password_confirm_message = 'Wachtwoord weergeven'
                }
            },
            on_show_password_generator: function () {
                if (this.generator_is_active == true) {
                    this.generator_is_active = false
                    this.generator_state_message = "Wachtwoord genereren"
                    this.slide_is_active = false
                } else {
                    this.generator_is_active = true
                    this.generator_state_message = "Wachtwoord genereren"
                    this.slide_is_active = true
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../scss/abstracts/base";

    // vue2-transitions Override
    .slideYOut {
        animation-name: slideYOut;

        // Edit
        animation-delay: 0s !important;
        animation-duration: 580ms !important;
    }
</style>
