<template>
    <div class="reset-password comp-offset">

        <div class="grid-x">

            <div class="cell small-12">
                <span class="current-page">Wachtwoord opnieuw instellen</span>
            </div>


            <div class="cell small-12 heading align-right">
                <div class="router-group-y">
                    <router-link to="/login" class="router-link">
                        Inloggen
                    </router-link>
                    <router-link to="/forgot-password" class="router-link">
                        Wachtwoord vergeten
                    </router-link>
                </div>
            </div>


            <div class="cell small-24 heading">
                <span class="form-desc-helper align-around">
                    Voer het e-mailadres in dat u hebt gebruikt bij het aanmaken van het account en klik op wachtwoord veranderen. <br>
                    Er wordt een bericht naar dat adres gestuurd met een link om uw wachtwoord opnieuw in te stellen. <br>
                    Om veiligheidsredenen kan de link slechts een uur worden gebruikt.
                </span>
            </div>


            <div class="cel small-24">

                <!-- Validation Observer -->
                <validationObserver ref="login_form"
                                    v-slot="{ handleSubmit, reset }">

                    <form ref="login"
                          @submit.prevent="handleSubmit(on_reset_password)"
                          @reset.prevent="reset">

                        <div class="grid-x">

                            <!-- Email field -->
                            <div class="cell small-24 validate-group">
                                <validationProvider rules="required|email|not_unique" v-slot="{ errors, classes }">
                                    <div class="control exception" :class="classes">

                                        <label for="email" class="label-group">E-mailadres</label>

                                        <div class="form-group">

                                            <input ref="email" v-model="user.email" :placeholder="user.email"
                                                   name="e-mailadres"
                                                   id="email" type="text" autocomplete="off">

                                            <transition name="fade">
                                                <vue-simple-spinner v-if="loading" size="25" :line-size="2"
                                                                    line-fg-color="#41B883" line-bg-color="transparent"
                                                                    :speed="0.5" class="check_emails_loader" key="img"/>

                                                <img v-else :src="images.checkmark" class="checkmark-small">
                                            </transition>

                                        </div>


                                        <span class="message">
                                            {{ errors[0] }}
                                        </span>

                                    </div>
                                </validationProvider>
                            </div>


                            <!-- Password reset token -->
                            <div class="cell small-24 validate-group">
                                <validationProvider rules="required|minmax:64,64" v-slot="{ errors, classes }">
                                    <div class="control exception" :class="classes">

                                        <div class="label-group">
                                            <label for="reset_token">
                                                Token
                                            </label>
                                        </div>

                                        <input ref="token" type="text" name="reset_token"
                                               id="reset_token" v-model="user.token">

                                        <img :src="images.checkmark" class="checkmark-small">

                                        <transition name="fade">
                                            <span v-if="errors" class="message">
                                                {{ errors[0] }}
                                            </span>
                                        </transition>

                                    </div>
                                </validationProvider>
                            </div>


                            <!-- New Password -->
                            <div class="cell small-24 validate-group">
                                <validationProvider rules="required|minmax:7,28" name="wachtwoord"
                                                    v-slot="{ errors, classes }">

                                    <div class="control exception" :class="classes">
                                        <div class="label-group">

                                            <label for="password">
                                                Nieuw wachtwoord
                                            </label>

                                            <label>
                                                <a @click.prevent="on_show_password" class="toggle-visibility">
                                                    {{ password_type_message }}
                                                </a>
                                            </label>

                                        </div>

                                        <input ref="password" :type="password_type" v-model="user.password"
                                               name="wachtwoord" id="password" autocomplete="new-password">

                                        <img :src="images.checkmark" class="checkmark-small">

                                        <Password v-model="user.password" :strength-meter-only="true"/>

                                        <transition name="fade">
                                            <span v-if="errors" class="message">
                                                {{ errors[0] }}
                                            </span>
                                        </transition>
                                    </div>

                                </validationProvider>
                            </div>


                            <!-- Password Confirmation -->
                            <div class="cell small-24 validate-group">

                                <ValidationProvider rules="required|minmax:7,28|password|password:@wachtwoord"
                                                    name="bevestigings" v-slot="{ errors, classes }">

                                    <div class="control" :class="classes">

                                        <div class="label-group">

                                            <label for="password_confirmation">
                                                Herhaal nieuw wachtwoord:
                                            </label>

                                            <label>
                                                <a @click.prevent="on_show_password_confirm" class="toggle-visibility">
                                                    {{password_confirm_message}}
                                                </a>
                                            </label>

                                        </div>

                                        <input ref="confirm_password"
                                               v-model="user.password_confirmation"
                                               :type="password_confirm_type"
                                               id="password_confirmation"
                                               autocomplete="new-password">

                                        <img :src="images.checkmark" class="checkmark-small">

                                        <span class="message">{{ errors[0] }}</span>

                                    </div>

                                </ValidationProvider>

                            </div>


                            <!-- Reset -->
                            <div class="cell small-6 medium-6">
                                <button @click="on_reset" type="reset" class="button" id="reset-button">
                                    <span>Reset</span>
                                </button>
                            </div>


                            <!-- Submit -->
                            <div class="cell small-18 medium-18">

                                <button ref="submit" type="submit" class="button" id="login-button">

                                    <div class="inner-group">

                                        <transition name="fade" tag="span">

                                            <vue-simple-spinner
                                                    v-if="loading_btn"
                                                    size="28" :line-size="2"
                                                    line-fg-color="#fff"
                                                    line-bg-color="transparent"/>

                                            <div v-else>
                                                <span class="">Wachtwoord veranderen</span>
                                                <svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1">
                                                    <path style="fill:none;stroke-width: 1px;stroke: #fff;"
                                                          d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/>
                                                </svg>
                                            </div>

                                        </transition>

                                    </div>

                                </button>
                            </div>

                        </div>

                    </form>

                </validationObserver>

            </div>

        </div>

    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";
    import {ValidationProvider} from 'vee-validate';
    import {ValidationObserver} from 'vee-validate';
    import VueSimpleSpinner from "vue-simple-spinner"
    import Password from 'vue-password-strength-meter'

    export default {
        name: 'resetPassword',
        data() {
            return {
                password_type: 'password',
                password_type_message: 'Wachtwoord weergeven',
                password_confirm_type: 'password',
                password_confirm_message: 'Wachtwoord weergeven',
                user: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                    token: '',
                },
                images: {
                    padlock: require('../../assets/files/icons/padlock.svg'),
                    password: require('../../assets/files/icons/password.svg'),
                    checkmark: require('../../assets/files/checkmark.png'),
                },
                loading_btn: false,
                check_emails_loading: false,
            }
        },
        mounted() {
            this.$store.commit("setErrors", {})

            this.user.token = this.$route.query.token

            this.user.email = localStorage.getItem("email")

            if (this.user.email || this.user.token) {
                this.$nextTick(() => this.$refs.login.focus())
                this.$nextTick(() => this.$refs.email.focus())
                this.$nextTick(() => this.$refs.token.focus())
                this.$nextTick(() => this.$refs.submit.focus())
            }

        },
        components: {
            ValidationProvider,
            ValidationObserver,
            VueSimpleSpinner,
            Password
        },
        computed: {
            ...mapGetters(["errors"]),

            loading() {
                return this.$store.state.application.loading;
            }
        },
        methods: {
            ...mapActions("authentication", ["sendResetPasswordRequest"]),

            on_reset_password() {
                this.$Progress.start()
                this.loading = true

                this.sendResetPasswordRequest(this.user)
                    .then(() => {
                        this.$toast.success('Succes, het wachtwoord is aangepast', {timeout: false})
                        localStorage.removeItem("email")
                        this.$Progress.finish()
                        this.loading = false
                        setTimeout(() => {
                            this.$router.push({name: 'Login'})
                        }, 3200)
                    })
                    .catch(() => {
                        this.$toast.error('Fout bij het aanpassen van het wachtwoord')
                        this.$Progress.fail()
                        this.loading = false
                    })

            },
            on_reset() {
                this.user.email = '',
                    this.user.password = '',
                    this.type = 'password',
                    this.type_text = 'Wachtwoord weergeven',
                    this.$toast.info("Het formulier is gereset")
            },
            on_show_password: function () {
                if (this.password_type === 'password') {
                    this.password_type = 'text'
                    this.password_type_message = 'Wachtwoord verbergen'
                } else {
                    this.password_type = 'password'
                    this.password_type_message = 'Wachtwoord weergeven'
                }
            },
            on_show_password_confirm: function () {
                if (this.password_confirm_type === 'password') {
                    this.password_confirm_type = 'text'
                    this.password_confirm_message = 'Wachtwoord verbergen'
                } else {
                    this.password_confirm_type = 'password'
                    this.password_confirm_message = 'Wachtwoord weergeven'
                }
            },
        }
    }
</script>

<style lang="scss">
    @import './src/scss/abstracts/base';


</style>
