@import "../abstracts/base";

.err,
.message {
  color: #f04124;
}

.toggle-visibility {
  text-align: right;
}

.input-group {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .input-helper {
    position: absolute;
    max-height: rem-calc(22);
    max-width: rem-calc(22);
    right: rem-calc(18);
    margin-top: rem-calc(-1);
    cursor: context-menu;
  }

  #password {

  }
}

.next-submit-button {
  position: absolute;
}

.inner-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-grid {
  @include set-breakpoint(smartphone, down) {
    flex-flow: column-reverse;
  }
}

.server-window-desc {

}

.server-window-container {
}

.server-window-container {
  position: relative;
  //background: #fdf3da;
  /* background: antiquewhite; */


  .create-server-window {
    width: 100%;
    font-size: rem-calc(14);

    .server-icon {
      max-height: rem-calc(38);
      position: relative;
    }

    table th {
      text-align: center;
    }
  }
}


fieldset {
  margin: rem-calc(42) 0;

  label,
  span {
    @include user-select-none;
  }

  legend {
    padding: 0 rem-calc(0) rem-calc(0) rem-calc(18);
    padding-left: 0 !important;
    margin-bottom: rem-calc(24);

    span {
      b, strong {
        margin-bottom: rem-calc(8);
      }
    }
  }


  &.server-selection {

    legend {
      margin-bottom: rem-calc(12);
    }

    .grid {

      .grid-cell {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: rem-calc(-2);
          left: rem-calc(-2);
          right: rem-calc(-2);
          bottom: rem-calc(-2);
          //background: $white;
          transform: skew(2deg, 2deg);
          -webkit-transform: skew(2deg, 2deg);
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          z-index: 0;
          opacity: 0;
          transition: none;
          -webkit-font-smoothing: subpixel-antialiased;
        }

        &.checked {
          &::before {
            //z-index: 99299 !important;
          }

          &.linux::before {
            //background: linear-gradient(315deg, #171717, #555555);
            //opacity: 1;
            //content: 'selected';
          }

          &.centos::before {
            //background: linear-gradient(315deg, #224293, #3c5ebb);
            //opacity: 1;
            //content: 'selected';

          }

          &.ubuntu::before {
            //background: linear-gradient(315deg, #dd4814, #e64a19);
            //opacity: 1;
            //content: 'selected';

          }

          &.mariadb::before {
            //background: linear-gradient(315deg, #5198e3, #137cea);
            //opacity: 1;
            //content: 'selected';

          }
        }

      }
    }

  }

  &.user-details {

    .grid-cell {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    label {
      margin: rem-calc(4) 0;
    }

    .form-group {
      margin: rem-calc(4) 0;
      display: flex;
      flex-direction: column;

      .label-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: rem-calc(4) rem-calc(4) rem-calc(8);
      }
    }

    .password-strength-meter {
      width: 100%;
      margin-top: rem-calc(-14);
      margin-bottom: rem-calc(16);
    }
  }

  &.confirm-request {
    margin-bottom: rem-calc(62);

    input {
      border: none;
      padding: 0;
      background: none;

      &:focus,
      &:hover {
        background: none;
      }
    }

    .user-details-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
      margin: rem-calc(20) 0;

      .grid-left {

      }

      // Password, show-password inline grid
      .sub-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .grid-cell {
          &:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }

      .grid-right,
      .grid-left {
        display: grid;
      }

      .grid-cell {
        height: rem-calc(40);
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-auto-flow: dense;
        grid-gap: rem-calc(8);
        min-width: 50%;

        input[type="password"] {
          background: none;
        }

        #password {
          background: none;
        }

        .toggle-visibility {
          text-align: right;
          text-transform: lowercase;
        }

        &.password {
          position: relative;
          top: rem-calc(10);
        }
      }
    }
  }

  legend {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    //margin: rem-calc(8) 0;
    padding-bottom: rem-calc(20);
    span {
      text-align: left;
      margin: rem-calc(8) 0;
      display: flex;
      flex-direction: column;
    }

  }
}

// Server Request Multi-step Form
.steps-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;

  &::after {
    content: '';
    width: calc(100% - 5rem);
    height: rem-calc(2);
    background: lightslategray;
    position: absolute;
    top: rem-calc(22);
    padding: rem-calc(2);
    right: rem-calc(44);
  }

  &::before {
    content: '';
    height: rem-calc(2);
    background: #1abc9c;
    position: absolute;
    top: rem-calc(22);
    padding: rem-calc(2);
    z-index: 999;
    max-width: calc(100% - 5rem);
    transition: width ease-in-out 600ms;
    left: rem-calc(34);
  }

  &.step-1,
  &.step-2,
  &.step-3 {
    &::before {
      transition: width ease-in-out 600ms;
    }
  }

  &.step-1 {
    &::before {
      width: 0;
      //left: 12px;
    }
  }

  &.step-2 {
    &::before {
      width: 50%;
    }
  }

  &.step-3 {
    &::before {
      width: calc(100% - 2rem);
    }
  }

  .step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: rem-calc(80);

    &:nth-child(2) {
      //margin-left: rem-calc(64);
    }

    .step-desc {
      position: relative;
      top: rem-calc(8);
      font-size: rem-calc(14);
      margin: rem-calc(4) 0;
      transition: ease all 280ms;
    }

    .step-number {
      background: white;
      border-radius: 50%;
      border: solid rem-calc(2) lightslategray;
      width: rem-calc(50);
      height: rem-calc(50);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 999;
      padding: rem-calc(4);
      transition: width ease-in-out 700ms;

      img {
        position: relative;
        left: rem-calc(-4);
      }
    }

    &.inactive {
      .step-number {
      }

      .step-desc {
      }
    }

    &.active {
      .step-number {
        border: solid rem-calc(2) #1abc9c;
        transition: ease-in-out 700ms;
      }

      .step-desc {
        opacity: 1;
      }
    }

    &.completed {
      .step-desc {
        color: #1abc9c;
      }
    }

  }
}

.server-request-form {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem-calc(14);

  @include set-breakpoint(phablet, down) {
    grid-template-columns: 1fr 1fr;
  }

  .grid-cell {
    grid-column: 0/2;
    position: relative;
    box-shadow: 0 rem-calc(2) rem-calc(4) rgba(0, 0, 0, 0.19), 0 rem-calc(4) rem-calc(4) rgba(0, 0, 0, 0.23);
    transition: ease all 200ms;

    .content {
      z-index: 9999;
      position: relative;
      padding: rem-calc(12);
      background: white;
    }

    &.checked {
      background: #1c90fa;
      transition: ease box-shadow 200ms;

      .checkmark_checked {
        display: block;
      }

      &::before {
        opacity: 1;
        transition: ease-in-out 280ms;
        box-shadow: 0 rem-calc(0) rem-calc(2) rgba(0, 0, 0, 0.03), 0 rem-calc(4) rem-calc(4) rgba(0, 0, 0, 0.07);
      }
    }

    label {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: rem-calc(48);
      text-align: center;
    }

    span {
      margin-bottom: rem-calc(12);
    }

    input[type="radio"] {
      pointer-events: none;
      visibility: hidden;
    }

    label {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: rem-calc(18);
      cursor: pointer;
    }
  }

  .grid-footer {
    display: grid;
    grid-column: 1/3;
    margin-top: rem-calc(14);
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 0;

  button {
    width: calc(50% - 0.5rem);

    // Previous
    &[type="button"] {
      margin-right: 0.5rem;
    }

    // Next
    &[type="submit"] {
      margin-left: 0.5rem;
      justify-content: center;
    }
  }
}

// Variables checkmark animation
$checkmark-green: #1abc9c;
$checkmark-green: $success-light;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark-container {
  position: absolute;
  z-index: 9999;
  margin-top: rem-calc(4);
  top: 0;
}

.checkmark {
  width: rem-calc(42);
  height: rem-calc(42);
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: $white;
  stroke-miterlimit: 10;
  box-shadow: inset 0 0 0 $checkmark-green;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $checkmark-green;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px $checkmark-green;
  }
}
