@import '../abstracts/base';

.table-link-button,
.link-button {
  //background: white;
  border-radius: rem-calc(3);
  padding: rem-calc(10) rem-calc(18);
  border: none !important;
  cursor: pointer;
  box-shadow: inset 0 0 12px rgba(55, 84, 170, 0),
  inset 0 0 12px rgba(255, 255, 255, 0),
  4px 4px 12px rgba(55, 84, 170, .15),
  -4px -4px 12px rgba(255, 255, 255, 1),
  inset 0px 0px 4px rgba(255, 255, 255, .2);
  justify-content: center;
  color: $white;

  &:hover {
    color: $white;
  }

  &.copy-link {
    //margin: 0 rem-calc(18);
    font-size: rem-calc(12);
    padding: rem-calc(6) rem-calc(12);
  }

  &.delete {
    background: #2c3e50;
  }

  &.view {
    background: #4e8b4e;
    background: $white;
    color: $black;
  }

  &.xample {
    //background: #d11a2a;
    //background: #f9423a;
  }
}

.timer-icon {
  height: rem-calc(18);
  margin: 0 rem-calc(8);
}

.vertical_dots {
  height: rem-calc(22);
}

.grid-table {
  display: grid;
  align-items: flex-start;
  background: rgba(#fafafa, 0.9);
  background: none;
  width: 100%;
  margin: rem-calc(12) 0;
  border-radius: rem-calc(4);
  //padding: rem-calc(2) 0 rem-calc(2) 0;
  //box-shadow: 0 rem-calc(5) rem-calc(15) 0 rgba(0, 0, 0, 0.2);
  span, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
  }

  @include set-breakpoint(tablet, down) {
    background: transparent;
    box-shadow: none;
  }

  &-icon {
    height: rem-calc(20);
    width: rem-calc(20);
    cursor: pointer;
    margin-left: rem-calc(6);
  }

  &-button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      padding: 0 0 0 rem-calc(8);
    }
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    overflow: hidden;
    background: white;
    height: 100%;
    max-height: rem-calc(80);
    border-radius: rem-calc(4);
    margin: rem-calc(2) 0;
    padding: rem-calc(10) 0;
    align-items: center;

    &.none {
      padding: 0 !important;
    }

    &:not(:last-child, :first-child) {
      border-bottom: rem-calc(1) solid #ddd;
    }

    &:first-child {

    }

    &:last-child {

    }


    &.heading {
      font-weight: 600;
      grid-template-columns: repeat(12, 1fr);

      .grid-table-cell {
        &:last-child {
        }
      }


    }

    @include set-breakpoint(tablet, down) {
      grid-template-columns: repeat(2, 1fr) repeat(2, 1fr);
      margin-bottom: rem-calc(22);
    }

    @include set-breakpoint(phablet, down) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include set-breakpoint(smartphone, down) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include set-breakpoint(mobile, down) {
      grid-template-columns: repeat(1, 1fr);
    }

  }


  &-cell {
    display: flex;
    align-items: center;
    justify-content: center;


    &.handle {
      grid-column: span 2;
    }

    &.logo {
      grid-column: span 2;
      //justify-content: flex-start;
    }

    &.type {
      grid-column: span 6;
    }

    &.duration {
      grid-column: span 6;
    }

    &.status {
      grid-column: span 4;
    }

    &.view {
      grid-column: span 4;

      .table-link-button {
        color: $black;
        border: solid rem-calc(1) $black;
      }
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
    }

    &:not(&.empty-array) {
      @include set-breakpoint(tablet, down) {
        justify-content: space-between;
      }
    }

    &.empty-array {
      grid-column: 1/-1;
      background: #ffffff;
      min-height: rem-calc(80);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 0 !important; // JS Animation Override
      padding-bottom: 0 !important; // JS Animation Override

      &::before {
        position: absolute;
      }
    }

    a {
      position: relative;
      display: flex;
      justify-content: center;

    }

    &:not(:last-child) {
    }

    @include set-breakpoint(tablet, down) {
      &:before {
        @include set-breakpoint(smartphone, down) {

        }
      }

      &:first-child {

        &:before {
        }
      }
    }
  }
}
