@import "../abstracts/base";

// Variables
$tab-border-radius: rem-calc(6);
$tab-transition-timing: cubic-bezier(0.86, 0, 0.07, 1);
$tab-transition-property: height;
$tab-transition-duration: 320ms;
$border-radius: 6px;
$transition-timing: cubic-bezier(0.86, 0, 0.07, 1);
$transition-duration: 320ms;
$tab-modal-background: $success-light;
$server-modal-padding: 0 rem-calc(12);

.tab-panel {
  padding: 0 rem-calc(20);
}

.active.first-element {
  //background: white;
  //box-shadow: rem-calc(10) 0 0 0 white;
  //border-radius: rem-calc(4);
  //transition: width $transition-timing $transition-duration;
}

.servers-loop.active {
  .slot {
    &-wrapper-y {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;

      span {
        //padding: 0 rem-calc(22);
      }

      &:hover {
        .slot-background {
          width: 100%;
        }
      }
    }

    &-background {
      width: 100%;
    }
  }
}

.servers-loop {
  &:hover {
    .slot-background {
      width: rem-calc(8);
    }
  }

  .slot {
    &-wrapper-y {
      border-radius: $border-radius 0 0 $border-radius;

    }

    &-background {
      border-radius: $border-radius 0 0 $border-radius;
      right: 0;
    }

    &-rounding {
      $background-color: #fff;
      $rounding-size: $border-radius;
      top: 0;
      transform-origin: top;

      &:before {
        content: "";
        position: absolute;
        width: $rounding-size * 2;
        height: $rounding-size * 2;
        bottom: -$rounding-size;
        left: -$rounding-size;
        border-radius: 100%;
      }

      &.left {
        left: -$rounding-size;

        &:before {
          box-shadow: 0 0 0 10rem $background-color;
        }
      }

      &.right {
        right: -$rounding-size;

        &:before {
          right: $rounding-size;
          box-shadow: 0 0 0 10rem $background-color;
        }
      }
    }

  }
}

.slot-wrapper-y {
  background: rgba(248, 247, 247, 0.13);
  padding: rem-calc(16);
  cursor: pointer;
  position: relative;

  span,
  img {
    position: relative;
  }

  span {
    padding: 0 rem-calc(10);
  }

  & > * {
    @include user-select-none;
  }


  .slot {

    &-rounding {
      $rounding-size: $border-radius;
      $background-color: #fff;
      padding: $rounding-size / 2 $rounding-size;
      display: block;
      position: absolute;
      overflow: hidden;
      transform: scaleX(0);
      transition: transform $transition-timing $transition-duration;
    }

    &-background {
      display: block;
      position: absolute;
      background: #fff;
      z-index: 0;
      width: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: width $transition-timing $transition-duration;
    }

    &-rounding {
      $background-color: #fff;
      $rounding-size: $border-radius;
      right: 0;
      transform-origin: right;

      &:before {
        content: "";
        position: absolute;
        width: $rounding-size * 3;
        height: rem-calc(14);
        right: -$rounding-size;
        border-radius: 100%;
      }

      &.top {
        top: -$rounding-size;

        &:before {
          top: -$rounding-size;
          box-shadow: 0 0 0 10rem $background-color;
        }
      }

      &.bottom {
        bottom: -$rounding-size;

        &:before {
          right: $rounding-size;
          box-shadow: 0 0 0 10rem $background-color;
        }
      }
    }

  }

  span {
    color: white;
  }
}


.loop.active {
  .slot-wrapper-y:hover {
    .slot-background {
      width: 100%;
    }
  }
}


.tab-card {
  &.server-properties {
    display: grid;
    min-width: rem-calc(320);
    border-radius: rem-calc(4);
    grid-template-rows: rem-calc(56) 1fr;
    grid-template-columns: rem-calc(242) repeat(2, 1fr);
  }

  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0;

    > div {
    }
  }

  .window-controls {
    right: rem-calc(28);
    cursor: pointer;

    a {
      color: $white;
    }
  }

  .tab-header,
  .tab-aside {
    & > * {
      text-transform: capitalize;
    }
  }

  .tab-header {
    display: grid;
    grid-template-columns: rem-calc(154) repeat(8, 1fr);
    grid-column: 1/-1;
    grid-row: 1;
    grid-gap: rem-calc(4);
    //background: $blueish-black-08;
    background: #2c3e50;
    //background: #3C556E;
    @media screen and (max-width: em-calc(460)) {
      grid-template-columns: repeat(4, 1fr);
      grid-column: 1/-1;
    }
  }

  .tab-aside {
    grid-column: 1/2;
    grid-row: 2;
    grid-gap: rem-calc(4);
    //display: grid;
    display: none;
    grid-template-rows: repeat(8, rem-calc(64));
    grid-template-columns: 1fr;
    background: #f1f1f1;

    .slot-wrapper-y {
      span {
        color: black;
      }
    }

    &.revealed {
      display: grid;
      grid-template-columns: 1fr;
    }

    @include set-breakpoint(smartphone, down) {
      display: none;
      background: #f1f1f1;
      grid-template-rows: repeat(7, 1fr);

      .slot-wrapper-y {
        span {
          color: black;
        }
      }
    }

    .servers-loop {
      height: 100%;

      // Hide rounding on background overlay on first (top) element.
      &:nth-child(1) {
        .slot-background {
          .slot-rounding.top {
            &::before {
              display: none;
            }
          }
        }
      }

      .slot-wrapper-y {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
      }
    }
  }

  .tab-main {
    background: white;
    grid-column: 1/-1;
    grid-row: 2;
    min-width: rem-calc(280);
    border-radius: 0 0 rem-calc(4) rem-calc(4);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: rem-calc(80) rem-calc(60) 1fr;
    padding-bottom: rem-calc(90);

    @include set-breakpoint(tablet, down) {
      grid-template-columns: 1fr;
    }

    @include set-breakpoint(smartphone, down) {
      grid-column: 1/12;
      grid-template-columns: 1fr;
      grid-template-rows: rem-calc(60) 0.3fr 1fr
    }

    .cell.desktop-only {
      @include set-breakpoint(smartphone, down) {
        display: none;
      }
    }

    &.revealed {
      grid-column: 2/7;
    }

    .tabs-chart {
      grid-row: 3;
      grid-column: 1/-1;
    }

  }
}

.loop {
  position: relative;

  .slot-wrapper-y {
    &:hover {
      .slot-background {
        width: rem-calc(8);
        height: 100%;
      }
    }
  }

  .slot-wrapper-x {
    background: rgba(248, 247, 247, 0.13);
    padding: rem-calc(18);
    cursor: pointer;
    text-align: center;

    span,
    img {
      position: relative;
    }

    &:hover {
      .slot-background {
        height: rem-calc(8);
      }
    }

    .slot {
      &-rounding {
        $rounding-size: $border-radius;
        $background-color: #fff;
        padding: $rounding-size / 2 $rounding-size;
        display: block;
        position: absolute;
        overflow: hidden;
        transform: scaleY(0);
        transition: transform $transition-timing $transition-duration;
      }

      &-background {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 0;
        height: 0;
        transition: height $transition-timing $transition-duration;
      }
    }

    span {
      color: white;
    }
  }


  &.active {
    .slot-wrapper-x:hover, {
      .slot-background {
        height: 100%;
      }
    }
  }


  &.options-loop {

    &:nth-of-type(1) {
      grid-column-start: 4;
      //@media screen and (max-width: em-calc(360)) {
      //  grid-column-start: 1;
      //}
      @include set-breakpoint(smartphone, down) {
        grid-column-start: 1;
      }
    }

    .slot-wrapper-x {
      border-top-right-radius: $tab-border-radius;
      border-top-left-radius: $tab-border-radius;

      &:nth-of-type(1) {
        //min-width: rem-calc(118);
      }

      .slot {
        &-background {
          border-radius: $border-radius $border-radius 0 0;
          bottom: 0;

        }

        &-rounding {
          $background-color: #fff;
          $rounding-size: $border-radius;
          bottom: 0;
          transform-origin: bottom;


          &:before {
            content: "";
            position: absolute;
            width: $rounding-size * 2;
            height: $rounding-size * 2;
            top: -$rounding-size;
            left: -$rounding-size;
            border-radius: 100%;
          }

          &.left {
            left: -$rounding-size;

            &:before {
              box-shadow: 0 0 0 10rem $background-color;
            }
          }

          &.right {
            right: -$rounding-size;

            &:before {
              left: $rounding-size;
              box-shadow: 0 0 0 10rem $background-color;
            }
          }
        }
      }
    }
  }

  // Tab state is active
  &.active {

    .slot-wrapper-y,
    .slot-wrapper-x {
      cursor: pointer;
      color: white;
      font-weight: 500;
      transition: $tab-transition-property $tab-transition-duration $tab-transition-timing;
      right: 0;
      z-index: 3;
      position: relative;

      span,
      img {
        z-index: 4;
      }

      span {
        transition: all $tab-transition-duration $tab-transition-timing;
        color: $black;
      }
    }

    .slot-background {
      height: 100%;
    }

    .slot-rounding {
      transform: scaleY(1);
    }
  }

}


.tab-icon {
  height: 100%;
  max-height: rem-calc(60);

  margin: rem-calc(12) rem-calc(40) rem-calc(12) rem-calc(12);
}

.window-controls-panel {
  //padding: 0 rem-calc(20);
}

.tabs-content-title {
  grid-column: 1/-1;
  padding: 0 rem-calc(22);

  span {
    font-size: rem-calc(18);
    font-weight: 500;
  }
}


.card-breadcrumbs {
  padding: $server-modal-padding;
  max-height: rem-calc(78);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 1/-1;

  > * {
    //text-transform: capitalize;
  }

  > div {
    margin: 0 rem-calc(4);
  }

  .reveal-servers {
    cursor: pointer;
    height: rem-calc(18);
    margin: 0 rem-calc(4);
    display: none;

    @include set-breakpoint(smartphone, down) {
      display: flex;
    }

  }

  img {
    height: rem-calc(12);
    margin: rem-calc(-1) rem-calc(4) 0;
  }
}

.tab-modal-content {
  > .grid-x {
    @include set-breakpoint(smartphone, down) {
      height: 100vh;
      background: white;
    }
  }
}

.tab-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .tab-modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 rem-calc(40);
  }

  &-body {
    background: white;
  }


  .tab {
    background: white;

    &-image {
      height: rem-calc(28);
      min-width: rem-calc(28);
      margin: 0 rem-calc(8);
    }

    &-header {
      //background-image: linear-gradient(
      //                to top right,
      //                #155abe, #2B32B2 //rgba(21, 90, 190, 0.85), rgba(48, 54, 255, 0.8)
      //);
      //background: $blueish-black-08;
      //border-left: solid rem-calc(6) white;
      //border-right: solid rem-calc(6) white;
    }

    &-card {
    }

    &-head {
      list-style-type: none;
      //display: grid;
      //grid-template-columns: repeat(3, 1fr) repeat(3, 1fr);
      height: 100%;
      text-align: center;
      //grid-gap: rem-calc(12);
      //padding: 0 rem-calc(6);

      &-foot {
        list-style-type: none;
        //display: grid;
        //grid-gap: rem-calc(12);
        //grid-template-columns: repeat(4, 1fr) repeat(2, 1fr);
        //padding: 0 rem-calc(12);
        margin: 0;
        text-align: center;
        position: relative;


        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }

      }
    }

  }

}


//filter: drop-shadow(0 -4px 4px rgba(darken(#0f0545, 30%), .3));

.window-controls-panel {
  min-height: rem-calc(80);
}

.option-card-panel {
  //padding: rem-calc(22);
}

.tab-card-panel {
  //padding: rem-calc(28);
}
