<template>
    <div class="app-header-navigation">
        <div class="dropdown-notifications-container">
            <DropdownNotifications/>
        </div>
        <div class="dropdown-activity-container">
            <DropdownActivity/>
        </div>
        <div class="dropdown-menu-container">
            <DropdownMenu/>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import DropdownMenu from "./../components/DropdownMenu"
    import DropdownActivity from "./../components/DropdownActivity"
    import DropdownNotifications from "./../components/DropdownNotifications"

    export default {
        name: 'AppHeaderNavigation',
        components: {
            DropdownMenu,
            DropdownActivity,
            DropdownNotifications
        },
        data() {
            return {}
        },
        created() {

        },
        mounted() {
            // this.$root.$on('close_open_dropdowns', () => {
            //     this.close_dropdown();
            //     console.log("emitted")
            // })
        },
        computed: {
            ...mapGetters("activities", ["activities"]),
            ...mapGetters("application", ["notifications"]),

        },
        methods: {
            close_dropdown: function () {
                this.show = false
                this.isActive = false
            },
            on_mouse_enter() {
                setTimeout(() => {
                    this.show = true
                    this.isActive = true
                }, 10)
            },
            on_mouse_leave() {
                setTimeout(() => {
                    this.show = false
                    this.isActive = false
                }, 100);
            }
        }
    }
</script>

<style lang="scss">
    @import "src/scss/abstracts/base";

    .icon-sm {
        height: rem-calc(20);
    }

    .icon-avg {
        height: rem-calc(28);
    }

    .icon-container {
        cursor: pointer;
        position: relative;
        z-index: 9001;
    }

    .new-notification {
        position: absolute;
        width: rem-calc(18);
        height: rem-calc(18);
        background: #f65656;
        border-radius: 50%;
        padding: rem-calc(4);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        top: rem-calc(8);
        margin: 0 rem-calc(32);
        font-size: rem-calc(12);
    }

    .app-header-navigation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;

        .box {
            position: absolute;
            background: white;
            min-height: rem-calc(140);
            z-index: 20009;
            top: rem-calc(48);
            text-align: left;
            border-radius: rem-calc(3);
            box-shadow: 0 rem-calc(22) rem-calc(18) rgba(0, 0, 0, 0.15);
            min-width: rem-calc(380);

            @include set-breakpoint(smartphone, down) {
                min-width: rem-calc(328);
            }

            &.activity-box {
                right: 0;
            }

            &.notifications-box {
                right: 0;
            }
        }

        .dropdown {
            &-activity-container,
            &-notifications-container,
            &-menu-container {
                background: $white;
                width: max-content;
                height: rem-calc(45.5);
                border-radius: rem-calc(3);
                padding: 0 rem-calc(0) 0 rem-calc(0);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: rem-calc(16);

                img {
                    margin: rem-calc(12);

                }

                &:hover {

                }
            }

            &-activity-container {

            }

            &-notifications-container {
                .grid-block {
                    &:nth-child(2) {
                        background: rgba(27, 30, 33, 0.14);
                    }
                }
            }

            &-menu-container {

            }

        }

        .grid-layout {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            max-height: rem-calc(290);

            .grid-block {
                display: grid;
                grid-template-columns: 1fr rem-calc(120);
                text-align: left;
                align-items: center;
                grid-column: 1/-1;
                padding: rem-calc(0) rem-calc(14);
                grid-gap: rem-calc(12);

                /*&.unread {*/
                /*    background: #1b1e21;*/
                /*}*/

                .grid-cell {
                    padding: rem-calc(0) rem-calc(4);
                    display: flex;
                    align-items: center;

                    &:nth-of-type(2) {
                        justify-content: flex-end;
                    }
                }
            }

            .grid-header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                grid-column: 1/-1;
                grid-row: 1/3;
                text-align: left;
                padding-left: rem-calc(16);

                .grid-block {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: rem-calc(18) 0;

                    .grid-cell {
                    }
                }
            }

            .grid-main {
                grid-column: 1/-1;
                display: grid;
                grid-gap: rem-calc(12);

                .grid-block {
                    border-top: rem-calc(1) lightslategrey;
                    padding: rem-calc(8) rem-calc(12);

                }

                .grid-cell {
                    img {
                        height: rem-calc(24);
                    }

                    &:nth-of-type(3) {
                        justify-content: space-around;
                    }
                }
            }

            .grid-footer {
                grid-column: 1/-1;

                .grid-block {
                    grid-column: 1/-1;
                    padding: rem-calc(18) 0;

                    .grid-cell {
                        grid-column: 1/-1;
                        display: flex;
                        justify-content: flex-end;
                        padding: rem-calc(4) rem-calc(18);

                        .link {
                            position: relative;
                            z-index: 2001;
                            text-align: center;
                            font-weight: normal;
                        }
                    }
                }
            }

        }

    }
</style>
