<template>
    <div class="clouds">
        <div class="grid-y">
            <div class="cell small-24">

                <!-- Clouds Infinte Iteration-->
                <transition-group name="clouds">
                    <div key="img">
                        <img class="cloud"
                             ref="cloud"
                             v-for="cloud in added_cloud"
                             :key="cloud.id"
                             :src="cloud.src"
                             :style="cloud.style"
                        >
                    </div>
                </transition-group>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Clouds',
        data() {
            return {
                clouds: [
                    require('@/assets/files/clouds/cloud_cartoon.png'),
                ],
                selected_cloud: '',
                added_cloud: [],
                cloud_top: 200,
                cloud_right: 200,
                cloud_width: 220,
                change_interval: 6000,
                change_duration: 2000,
            }
        },
        created() {
            this.random_cloud();
            const random_interval = func => setInterval(func, this.change_interval);
            random_interval(this.random_image);
            random_interval(this.add_cloud);
            random_interval(this.random_position);
        },
        methods: {
            random_cloud() {
                const random_id = Math.floor(Math.random() * this.clouds.length);
                this.selected_cloud = this.clouds[random_id];
            },
            random_position() {
                const random_pos = two_dimensions => Math.round(Math.random() * two_dimensions);
                this.cloud_top = random_pos(window.innerHeight - (window.innerHeight / 2));
                this.cloud_right = random_pos(window.innerWidth - this.cloud_width);
            },
            random_integer(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1)) + min;
            },
            add_cloud() {
                this.added_cloud.push({
                    style: {
                        top: `${this.cloud_top / 16}em`,
                        right: `${this.cloud_right / 16}em`,
                        height: 'auto',
                        width: `${this.random_integer(80, 320) / 16}em`,
                        opacity: 0 + '.' + this.random_integer(75, 95),
                        animationDuration: 0 + this.random_integer(42, 58) + 's',
                    },
                    src: this.selected_cloud,
                });
            },
        },
        components: {},
    }
</script>

<style lang="scss">
    @import "./src/scss/abstracts/base";

    .clouds {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;

        .grid-y {
            height: 100vh;
            width: 100vw;

            & > .cell {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }
    }

    .cloud {
        position: absolute;
        user-select: none;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-name: Horizontal-scroll;
    }

    .initial-cloud {
        min-width: 320px;
    }

    // Cloud float animation keyframes
    @keyframes Horizontal-scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-90vw);
        }
    }

    @keyframes Zoom {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
</style>
