<template>
    <div class="create-server-window">

        <ValidationObserver v-slot="{ passes }">
            <div class="steps-progress-container">

                <div class="steps-container" :class="['step-' + current_step]">
                    <div class="step"
                         :class="[(current_step > 0) ? 'active':'inactive', (current_step > 1) ? 'completed':'incomplete']">

                        <span class="step-number">1</span>
                        <span class="step-desc">Inforrmatie</span>
                        <transition name="fade">
                            <div v-if="current_step > 1" class="checkmark-container">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                </svg>
                            </div>
                        </transition>
                    </div>

                    <div class="step"
                         :class="[(current_step > 1) ? 'active':'inactive', (current_step > 2) ? 'completed':'incomplete']">

                        <span class="step-number">2</span>
                        <span class="step-desc">Server</span>
                        <transition name="fade">
                            <div v-if="current_step > 2" class="checkmark-container">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                </svg>
                            </div>
                        </transition>
                    </div>

                    <div class="step"
                         :class="[(current_step > 2) ? 'active':'inactive', (is_last_step) ? 'completed':'incomplete']">

                        <span class="step-number">3</span>
                        <span class="step-desc">Account</span>
                        <transition name="fade">
                            <div v-if="completed" class="checkmark-container">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                </svg>
                            </div>
                        </transition>
                    </div>

                    <!--                    <div class="step"-->
                    <!--                         :class="[(current_step === 2) ? 'active':'inactive', (current_step > 3) ? 'completed':'incomplete']">-->
                    <!--                        <transition name="">-->
                    <!--                            <div v-if="completed" class="checkmark-container">-->
                    <!--                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">-->
                    <!--                                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>-->
                    <!--                                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>-->
                    <!--                                </svg>-->
                    <!--                            </div>-->
                    <!--                        </transition>-->
                    <!--                        <span class="step-number">3</span>-->
                    <!--                        <span class="step-desc">controleren</span>-->
                    <!--                    </div>-->
                </div>
            </div>
            <form @submit.prevent="passes(next_step)" ref="registerForm" class="server-request-form">
                <transition-group name="fade-out-in">
                    <fieldset v-if="current_step === 1" key="Fieldset" class="server-selection">
                        <legend>
                            <span class="legend-step"><h5>Reserveer een server</h5></span>
                        </legend>
                        <div class="modal-desc">
                            <p>
                                Hier kun jij een persoonlijke server aanvragen.
                                Via email krijg je bericht wanneer jij server klaar is voor gebruik.
                                Meestal ontvang je deze email binnen 60 minuten.
                            </p>
                        </div>
                        <div v-if="servers.length < 4">
                            <p>Op dit moment kun je de volgende servertypen aanvragen:</p>
                            <ul>
                                <li v-if="check_existence('linux')">Linux default server</li>
                                <li v-if="check_existence('centos')">Centos linux server</li>
                                <li v-if="check_existence('ubuntu')">Ubuntu linux server</li>
                                <li v-if="check_existence('mariadb')">MariaDB database server</li>
                            </ul>
                        </div>
                        <div class="server-conditions">
                            <p class="alert-warning">

                                Door gebruik te maken van de servers ga je automatisch akkoord met de
                                voorwaarden.

                            </p>
                        </div>
                    </fieldset>
                    <fieldset v-if="current_step === 2" key="Fieldset" class="server-selection">
                        <legend>
                            <span class="legend-step">Selecteer het gewenste server type</span>
                        </legend>
                        <ValidationProvider name="Servers" rules="required_type" key="1" v-slot="{ classes, errors }">
                            <div class="grid input-group" :class="classes">
                                <div v-if="check_existence('linux')"
                                     class="grid-cell linux" :class="{checked: server.type === 'linux'}">
                                    <div class="content">
                                        <img :src="images.linux" class="server-icon">
                                        <label for="linux">Linux default</label>
                                        <input v-model="server.type" type="radio" value="linux" id="linux">
                                    </div>
                                </div>
                                <div v-if="check_existence('centos')"
                                     class="grid-cell centos" :class="{checked: server.type === 'centos'}">
                                    <div class="content">
                                        <img :src="images.centos" class="server-icon">
                                        <label for="centos">Centos</label>
                                        <input v-model="server.type" type="radio" value="centos" id="centos">
                                    </div>
                                </div>
                                <div v-if="check_existence('ubuntu')"
                                     class="grid-cell ubuntu" :class="{checked: server.type === 'ubuntu'}">
                                    <div class="content">
                                        <img :src="images.ubuntu" class="server-icon">
                                        <label for="ubuntu">Ubuntu</label>
                                        <input v-model="server.type" type="radio" value="ubuntu" id="ubuntu">
                                    </div>
                                </div>
                                <div v-if="check_existence('mariadb')"
                                     class="grid-cell mariadb" :class="{checked: server.type === 'mariadb'}">
                                    <div class="content">
                                        <img :src="images.mariadb" class="server-icon">
                                        <label for="mariadb">MariaDB SQL</label>
                                        <input v-model="server.type" type="radio" value="mariadb" id="mariadb">
                                    </div>
                                </div>
                                <div v-if="errors" class="grid-footer">
                                    <span class="message">{{ errors[0] }}</span>
                                </div>
                            </div>
                        </ValidationProvider>
                    </fieldset>
                    <fieldset v-else-if="current_step === 3" key="Fieldset" class="user-details">
                        <legend>
                            <span>
                                <strong></strong>
                                <span>
                                    Bedenk een gebruikersnaam en wachtwoord om te koppelen aan deze server.
                                    Je hebt deze later nodig om in te loggen.
                                </span>
                            </span>
                        </legend>
                        <ValidationProvider tag="div" class="form-group" key="2" v-slot="{ errors, classes }"
                                            :rules="{
                                                required: true,
                                                is_not_one_of: true,
                                                alpha: true,
                                                custom_minmax: true
                                            }">
                            <div class="label-group">
                                <label for="username">Gebruikersnaam</label>
                            </div>
                            <div class="input-group" :class="classes">
                                <input v-model="server.username" type="text" id="username" name="gebruikersnaam">
                                <img :src="images.checkmark" class="checkmark-small">
                                <span class="message">{{ errors[0] }}</span>
                            </div>
                        </ValidationProvider>
                        <ValidationProvider rules="required|minmax:2,28" tag="div" class="form-group" key="3"
                                            v-slot="{ errors, classes }">
                            <div class="label-group">
                                <label for="password">Wachtwoord</label>
                                <label class="toggle-visibility">
                                    <a @click.prevent="show_password">
                                        {{show_hide_password}}
                                    </a>
                                </label>
                            </div>
                            <div class="input-group" :class="classes">
                                <input v-model="server.password" :type="i_type" id="password" name="Wachtwoord">
                                <img :src="images.checkmark" class="checkmark-small">
                                <span class="message">{{ errors[0] }}</span>
                            </div>
                            <Password v-model="server.password" :strength-meter-only="true"
                                      class="password-strength-meter"/>
                        </ValidationProvider>
                    </fieldset>
                </transition-group>
                <div class="button-group">
                    <transition name="fade">
                        <button v-if="current_step > 1" type="button" @click="prev_step">Vorige</button>
                    </transition>
                    <button type="submit">
                        <transition-group name="" tag="div" class="inner-group">
                            <vue-simple-spinner v-if="loading"
                                                key="div"
                                                size="28" :line-size="2"
                                                line-fg-color="#ffffff"
                                                line-bg-color="transparent"/>
                            <div v-else key="div" class="next-submit-button">
                                <span>
                                    {{ is_last_step ? 'Verzenden' : 'Volgende' }}
                                </span>
                            </div>
                        </transition-group>
                    </button>
                </div>
            </form>
        </ValidationObserver>

    </div>
</template>

<script>
    import VueSimpleSpinner from "vue-simple-spinner";
    import Password from 'vue-password-strength-meter'
    import {mapActions, mapGetters} from "vuex";
    import Toastification from "./Toastification";

    export default {
        name: "CreateServerWindow",
        data: () => ({
            current_step: 1,
            active_step: 0,
            completed: false,
            checked: false,
            i_type: 'password',
            show_hide_password: 'Wachtwoord weergeven',
            loading: false,
            classes: '',
            server: {
                type: [],
                username: 'Test',
                password: 'Account',
            },
            images: {
                server: require('../assets/files/svg/server.svg'),
                checkmark: require('../assets/files/checkmark.png'),
                linux: require('../assets/files/servers/linux.png'),
                centos: require('../assets/files/servers/centos.png'),
                ubuntu: require('../assets/files/servers/ubuntu.png'),
                mariadb: require('../assets/files/servers/mariadb.png'),
                exclamation_mark: require('../assets/files/svg/bulb-exclamation-mark.svg'),
            },
            tooltip: {
                username_helper:
                    "Alphabetische tekens" +
                    "Minimaal 2 en maximaal 8 tekens" +
                    "Mag geen 'student' zijn" +
                    "Mag geen 'root' zijn" +
                    "Mag geen 'dba' zijn",
                password_helper:
                    'Gebruik een uniek wachtwoord' +
                    'Het wachtwoord wordt ook in tekst opgeslagen op server' +
                    'Gebruik geen wachtwoord die je voor andere services gebruikt',
            },
            toastification: {
                heading: `De server wordt geconfigureerd en klaar gezet voor gebruik.`,
                body: `Op het moment dat de server gereed staat voor gebruik
                           ontvang je een e-mail met de server gegevens.`,
            },
            message: `
            De server wordt geconfigureerd en klaar gezet voor gebruik.
            Op het moment dat de server gereed staat voor gebruik
            ontvang je een e-mail met de server gegevens.
            `
        }),
        components: {
            VueSimpleSpinner,
            Password
        },
        mounted() {
        },
        computed: {
            ...mapGetters("servers", ["servers"]),
            ...mapGetters("activities", ["activities"]),

            is_last_step() {
                return this.current_step === 3;
            },
        },
        methods: {
            ...mapActions({
                getUserData: 'authentication/getUserData',
                getServerRequest: 'servers/getServerRequest',
                sendServerRequest: 'servers/sendServerRequest',
                deleteServerRequest: 'servers/deleteServerRequest',
                getActivities: 'activities/getActivities',
                setMessages: 'messages/setMessages',
                getMessages: 'messages/getMessages',

            }),
            submit() {
                return this.process_server()
            },
            process_server() {
                // Asign properties
                this.type = this.server.type
                this.username = this.server.username
                this.password = this.server.password
                this.status = "pending"

                // Bind  properties
                const new_server_request = {
                    type: this.type,
                    username: this.username,
                    password: this.password,
                    status: this.status
                }

                // Send server request
                this.sendServerRequest(new_server_request)
                    .then(() => {
                        setTimeout(() => {
                            this.$modal.hide('create-server-modal')
                            this.loading = false
                            this.getActivities()
                            this.show_toastification()
                            this.setMessages(this.message)

                        }, 40)
                    })
                    .then(() => {
                        this.getMessages();
                    })
            },
            show_toastification() {
                const content = {
                    component: Toastification,
                    props: {
                        toast_heading: this.toastification.heading,
                        toast_body: this.toastification.body
                    },
                    listeners: {
                        click: () => {
                        }
                    }
                }
                this.$toast(content, {timeout: 18000});
            },
            check_existence(type) {
                return !this.servers.some(server => server.type === type)
            },
            show_password() {
                if (this.i_type === 'password') {
                    this.i_type = 'text'
                    this.show_hide_password = 'Wachtwoord verbergen'
                } else {
                    this.i_type = 'password'
                    this.show_hide_password = 'Wachtwoord weergeven'
                }
            },
            next_step() {
                if (this.is_last_step) {
                    this.loading = true
                    this.completed = true;
                    return setTimeout(() => {
                        this.submit()
                    }, 0)
                }
                this.current_step++;
            },
            prev_step() {
                this.current_step--
                if (this.completed === true) {
                    this.completed = false
                }
            },
        },
    }
</script>

<style lang="scss" scoped>
    @import "./src/scss/abstracts/base";


    // TODO: Merge Validation code
    .input-group {
        flex-direction: column;
        align-items: flex-start;

        .checkmark-small {
            transition: ease all 240ms;
            height: rem-calc(18);
            width: rem-calc(18);
            pointer-events: none;
            position: absolute;
            top: rem-calc(14);
            right: rem-calc(-4);
            opacity: 0;
        }

        .message {
            opacity: 0;
            padding: 0 rem-calc(2);
            display: block;
            text-align: left;
            font-size: 0;
            transition: ease all 220ms;
        }


        &.valid {
            input,
            span,
            #password {
                color: $success-light;
            }

            input,
            #password {
                border: rem-calc(1) $success-light solid;
            }

            .checkmark-small {
                animation-name: fadeInRight;
                /*right: rem-calc(24);*/
                right: rem-calc(24);

                opacity: 1;
            }
        }

        &.invalid {
            input,
            span,
            #password {
                color: $error-light;
            }

            input,
            #password {
                border: rem-calc(1) $error-light solid;
            }

            .checkmark-small {
                animation-name: fadeOutRight;
            }

            .message {
                opacity: 1;
                margin-top: rem-calc(12);
                font-size: rem-calc(14);
            }
        }

        &.failed {
            input,
            #password {
                animation-name: shake;
                animation-duration: 800ms;
            }
        }
    }

    /*.steps-progress-container {*/
    /*    background: antiquewhite;*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    top:0;*/
    /*    padding: rem-calc(14) rem-calc(28);*/
    /*}*/
</style>
