<template>
    <div>
        <div id="dropdown-mask"
             :class="{ active: isActive }"
             @click="close_dropdown">
        </div>

        <div @click="on_mouse_enter">

            <div class="icon-container">
                <img :src="images.bell" class="icon-avg">
                <span v-if="unread_notification_count > 0" class="new-notification">
                    {{unread_notification_count}}
                </span>
            </div>

            <transition name="dropdown">
                <div v-if="show" :class="{ active: show }" class="box notifications-box">
                    <div v-if="activities" class="grid-layout">
                        <div class="grid-header">
                            <div class="grid-block">
                                <div class="grid-cell">
                                    <span>
                                        Notificaties
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid-main">
                            <div class="grid-block" v-for="(activity, index) in activities"
                                 :key="index">

                                <div class="grid-cell">
                                    <span>{{activity.description}}</span>
                                </div>
                                <div class="grid-cell">
                                    <span>{{ activity.created_at | moment("dd h:mm a") }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="grid-footer">
                            <div class="grid-block">
                                <div class="grid-cell">
                                    <a class="link">
                                        Alles weergeven
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </transition>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";


    export default {
        name: 'AppHeaderNavigation',
        components: {},
        data() {
            return {
                show: false,
                show_n: false,
                showBackgroundMask: false,
                isActive: false,
                isActive_n: false,
                images: {
                    bell: require('@/assets/files/svg/bell_2.svg'),
                    dish: require('@/assets/files/svg/dish.svg'),
                    antenna: require('@/assets/files/svg/antenna.svg'),
                    user: require('@/assets/files/svg/user.svg'),
                },
                isOpened: false,
                unread_notification_count: 1,
                unread: true,
            }
        },

        created() {
            const onEscape = (e) => {
                if (this.show && e.keyCode === 27) {
                    this.close_dropdown()
                }
            }
            document.addEventListener('keydown', onEscape)

            this.$once('hook:destroyed', () => {
                document.removeEventListener('keydown', onEscape)
            })
        },
        mounted() {
            this.$root.$on('close_open_dropdowns', () => {
                this.close_dropdown()
                console.log("emitted")
            })
        },
        computed: {
            ...mapGetters("activities", ["activities"]),
            ...mapGetters("application", ["notifications"]),

        },
        methods: {
            close_dropdown: function () {
                this.show = false
                this.isActive = false
            },
            on_mouse_enter() {

                setTimeout(() => {
                    this.$root.$emit('close_open_dropdowns', true)

                    this.show = !this.show
                    this.isActive = !this.isActive
                }, 10)
            },
            on_mouse_leave() {
                setTimeout(() => {
                    this.show = false
                    this.isActive = false
                }, 100);
            }
        }
    }
</script>
