<template>
    <div>
        <div id="dropdown-mask"
             :class="{ active: isActive }"
             @click="close_dropdown">
        </div>

        <header class="header">
            <nav class="nav">
                <ul>
                    <li class="item">
                        <a href="#" class="header-link">
                            <transition name="slide-fade">
                                <!-- Header Navigation Menu Icons -->
                                <button class="header-button" v-if="show" key="on"
                                        @click="on_mouse_enter">
                                    <svg viewBox="0 0 24 24" class="icon" width="100%" height="100%">
                                        <title>Close</title>
                                        <path d="M0 0h24v24H0V0z" fill="none"/>
                                        <path fill="#808080"
                                              d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/>
                                    </svg>
                                </button>
                                <button class="header-button" v-else key="off"
                                        @click="on_mouse_enter">
                                    <svg viewBox="0 0 24 24" class="icon" width="100%" height="100%">
                                        <title>Navigation Menu</title>
                                        <path fill="#808080"
                                              d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"/>
                                    </svg>
                                </button>
                            </transition>
                        </a>
                        <!-- Dropdown Menu -->
                        <transition name="dropdown">
                            <div v-if="show" :class="{ active: show }" class="dropdown-menu">

                                <ul class="dropdown-menu-nav">
                                    <li class="dropdown-menu-item">
                                        <a href="#" @click="show_account_modal" class="dropdown-menu-link"
                                           title="Account">
                                            <div class="dropdown-menu-svg">
                                                <svg viewBox="0 0 496 512">
                                                    <path fill="currentColor"
                                                          d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm128 421.6c-35.9 26.5-80.1 42.4-128 42.4s-92.1-15.9-128-42.4V416c0-35.3 28.7-64 64-64 11.1 0 27.5 11.4 64 11.4 36.6 0 52.8-11.4 64-11.4 35.3 0 64 28.7 64 64v13.6zm30.6-27.5c-6.8-46.4-46.3-82.1-94.6-82.1-20.5 0-30.4 11.4-64 11.4S204.6 320 184 320c-48.3 0-87.8 35.7-94.6 82.1C53.9 363.6 32 312.4 32 256c0-119.1 96.9-216 216-216s216 96.9 216 216c0 56.4-21.9 107.6-57.4 146.1zM248 120c-48.6 0-88 39.4-88 88s39.4 88 88 88 88-39.4 88-88-39.4-88-88-88zm0 144c-30.9 0-56-25.1-56-56s25.1-56 56-56 56 25.1 56 56-25.1 56-56 56z"/>
                                                </svg>
                                            </div>
                                            <div class="dropdown-menu-text">Account</div>
                                        </a>
                                    </li>
                                    <li class="dropdown-menu-item">
                                        <a @click="on_logout" href="#" class="dropdown-menu-link" title="Help">
                                            <div class="dropdown-menu-svg">
                                                <svg id="Capa_1" fill="currentColor"
                                                     enable-background="new 0 0 551.13 551.13"
                                                     viewBox="0 0 551.13 551.13"
                                                     width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="m435.616 160.051-24.354 24.354 73.937 73.937h-244.08v34.446h244.08l-73.937 73.937 24.354 24.354 115.514-115.514z"/>
                                                    <path d="m378.902 516.685h-344.456v-482.239h344.456v34.446h34.446v-51.669c0-9.52-7.703-17.223-17.223-17.223h-378.902c-9.52 0-17.223 7.703-17.223 17.223v516.684c0 9.52 7.703 17.223 17.223 17.223h378.902c9.52 0 17.223-7.703 17.223-17.223v-51.668h-34.446z"/>
                                                </svg>
                                            </div>
                                            <div class="dropdown-menu-text">
                                                Uitloggen
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </transition>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</template>

<script>
    import {mapActions} from "vuex"

    export default {
        name: 'Dropdown',
        data() {
            return {
                show: false,
                showBackgroundMask: false,
                isActive: false
            }
        },
        beforeCreate() {
            this.$root.$emit('close_open_dropdowns')
        },
        created() {
            const onEscape = (e) => {
                if (this.show && e.keyCode === 27) {
                    this.close_dropdown()
                }
            }
            document.addEventListener('keydown', onEscape)

            this.$once('hook:destroyed', () => {
                document.removeEventListener('keydown', onEscape)
            })
        },
        mounted() {
            this.$root.$on('close_open_dropdowns', () => {
                this.close_dropdown()
                console.log("emitted")
            })
        },
        methods: {
            ...mapActions("authentication", ["sendLogoutRequest"]),
            on_logout() {
                this.sendLogoutRequest()
                    .then(() => {
                        this.$toast.success('Succes, je bent uitgelogd')
                    })
                    .then(() => {
                        this.$router.push({name: "Login"})
                    })
                    .catch((error) => {
                        this.$toast.error(error)
                    })
            },
            show_account_modal() {
                this.$modal.show('account-modal');
            },
            on_mouse_enter() {
                setTimeout(() => {
                    this.$root.$emit('close_open_dropdowns', true)
                    this.show = !this.show
                    this.isActive = !this.isActive
                }, 10)
            },
            close_dropdown: function () {
                this.show = false
                this.isActive = false
            },

        }
    }
</script>
