<template>
    <div class="server-table">
        <div class="grid-x">

            <div class="cell small-24">

            </div>

            <div class="cell small-24">

                <div class="grid-table">

                    <transition-group name="if-row-exists"
                                      tag="span"
                                      @enter="enter"
                                      @beforeEnter="beforeEnter"
                                      @leave="leave"
                                      @afterLeave="afterLeave"
                                      :css="false">

                        <!-- Table Body -->
                        <div v-if="servers.length > 0" key="span">

                            <draggable :servers="servers"
                                       v-bind="dragOptions"
                                       @end="onEnd"
                                       handle=".move-handle"
                                       tag="span">

                                <!-- Table Row -->
                                <transition-group :name="!drag ? 'flip-rows' : null"
                                                  type="transition"
                                                  tag="span"
                                                  @enter="enter"
                                                  @beforeEnter="beforeEnter"
                                                  @leave="leave"
                                                  @afterLeave="afterLeave">

                                    <div class="grid-table-row" v-for="(server) in servers" :key="server.id">
                                        <div class="grid-table-cell handle">
                                            <img :src="images.vertical_dots" class="vertical_dots move-handle">
                                        </div>
                                        <div class="grid-table-cell logo">
                                            <span class="server-icon-container" :class="server.type">
                                                <img :src="server.icon" class="logo-icon" :class="server.type">
                                            </span>
                                        </div>
                                        <div class="grid-table-cell type">
                                            <span class="font" :class="server.type">
                                                {{ server.type }}
                                            </span>
                                        </div>
<!--                                        <div class="grid-table-cell duration">-->
<!--                                            <img :src="images.timer" class="timer-icon">-->
<!--                                            <span>{{ 120000 | duration('humanize', false) }}</span>-->
<!--                                        </div>-->
                                        <div class="grid-table-cell status">
                                            <span class="font" :class="server.type">
                                                {{ server.status }}
                                            </span>
                                        </div>
                                        <div class="grid-table-cell view"
                                             data-title="">
                                            <a @click.prevent="show_server_menu_modal(server.type, 'algemeen')"
                                               class="table-link-button view">

                                                <img :src="images.maximize" class="maximize-icon">
                                            </a>
                                        </div>
                                    </div>

                                </transition-group>
                            </draggable>

                        </div>

                        <div v-else-if="servers.length <= 0" key="div">
                            <div class="grid-table-row none">
                                <div class="grid-table-cell empty-array">
                                    <span>Er zijn nog geen servers gekoppeld aan je account</span>
                                </div>
                            </div>
                        </div>

                    </transition-group>

                </div>
            </div>
        </div>

        <!-- DEMO BLOCK -->
        <div class="cell small-24">

        </div>

    </div>
</template>

<script>
    import Velocity from "velocity-animate";
    import {mapGetters, mapActions} from 'vuex'
    import draggable from "vuedraggable";

    export default {
        name: 'ServerTableGrid',
        data() {
            return {
                is_active: true,
                drag: false,
                window: {
                    width: 0,
                    height: 0
                },
                enabled: true,
                dragging: false,
                prev_index: '',
                new_index: '',
                debounce: false,
                order: '',
                images: {
                    open_modal: require('../assets/files/icons/modal.png'),
                    cube: require('../assets/files/svg/cube_white.svg'),
                    tab: require('../assets/files/svg/tabsWhite.svg'),
                    expand: require('../assets/files/svg/expand.svg'),
                    expand_1: require('../assets/files/svg/expand(1).svg'),
                    fullscreen_1: require('../assets/files/svg/fullscreen(1).svg'),
                    maximize: require('../assets/files/svg/maximize.svg'),
                    server: require('@/assets/files/svg/server.svg'),
                    servers: require('@/assets/files/server_tripple.svg'),
                    cloud_server: require('@/assets/files/cloud-server.svg'),
                    pending: require('@/assets/files/svg/server_pending.svg'),
                    cloud_server_2: require('@/assets/files/svg/cloud-server.svg'),
                    vertical_dots: require('@/assets/files/svg/moredots.svg'),
                    timer: require('@/assets/files/svg/timer.svg'),
                },
            }
        },
        components: {
            draggable
        },
        computed: {
            ...mapGetters(["errors"]),
            ...mapGetters("servers", ["servers", "desired_modal"]),
            ...mapGetters("servers", ["desired_modal"]),
            ...mapGetters("activities", ["activities"]),


            dragOptions() {
                return {
                    animation: 200,
                    group: "servers",
                    ghostClass: "ghost",
                    disabled: false,
                };
            },
            toggle_class: function () {
                return {
                    'active': this.is_active,
                    'in-active': !this.is_active
                }
            },
        },
        mounted() {
            this.getServerRequest();
            this.getActivities();
        },
        created() {
            window.addEventListener('resize', this.handle_resize);
            this.handle_resize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handle_resize);
        },
        methods: {
            ...mapActions({
                getServerRequest: 'servers/getServerRequest',
                setDesiredModal: 'servers/setDesiredModal',
                setDesiredOption: 'servers/setDesiredOption',
                getActivities: 'activities/getActivities',
                updateItemOrder: 'servers/updateItemOrder',
            }),
            onUpdate() {

            },
            updateItemOrder() {

            },
            onStart(event) {
                console.log(event)
                this.drag = true
                this.prev_index = event.oldIndex;
            },
            onEnd(event) {
                console.log(event)
                this.drag = false
                this.order = event.newIndex
                console.log(this.servers)
                console.log(event.item.id)
            },
            image_path(type) {
                return require('@/assets/files/servers/' + type + '.png')
            },
            clipboard_success() {
                this.$toast.success("Server id is succesvol gekopieërd")
            },
            clipboard_error() {
                this.$toast.error("Server id is niet gekopieërd")
            },
            async open_modal_reset(server_type, server_option) {
                await this.setDesiredModal(server_type)
                await this.setDesiredOption(server_option)
                await this.$modal.show('main-tabs-modal');
            },
            async open_modal_status(server_type, server_option) {
                await this.setDesiredModal(server_type)
                await this.setDesiredOption(server_option)
                await this.$modal.show('main-tabs-modal');
            },
            async open_modal_delete(server_type, server_option) {
                await this.setDesiredModal(server_type)
                await this.setDesiredOption(server_option)
                await this.$modal.show('main-tabs-modal');
            },
            async show_server_menu_modal(server_type, server_option) {
                await this.setDesiredModal(server_type)
                await this.setDesiredOption(server_option)
                await this.$modal.show('main-tabs-modal');
            },
            handle_resize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            /** Before Enter */
            beforeEnter(el) {
                const divs = el.querySelectorAll("div");
                for (let i = 0; i < divs.length; i++) {
                    divs[i].style.maxHeight = "0px";
                    divs[i].style.paddingTop = "0px";
                    divs[i].style.paddingBottom = "0px";
                    divs[i].style.opacity = "0";
                }
            },
            /** Enter */
            enter(el, done) {
                const divs = el.querySelectorAll("div");
                Velocity(divs, {
                        maxHeight: "80px",
                        paddingTop: "12px",
                        paddingBottom: "12px",
                        opacity: "1",
                    }, {
                        duration: 440,
                        delay: 50,
                        complete: done
                    }
                );

            },
            /** Leave */
            leave(el, done) {
                const divs = el.querySelectorAll("div");
                Velocity(divs, {
                        maxHeight: "0px",
                        paddingTop: "0px",
                        paddingBottom: "0px",
                        opacity: "0",
                    }, {
                        duration: 440,
                        delay: 50,
                        complete: done
                    }
                );
            },
            /** After Leave */
            afterLeave(el, done) {
                const divs = el.querySelectorAll("div");
                Velocity(divs, {
                        maxHeight: "80px",
                        paddingTop: "12px",
                        paddingBottom: "12px",
                    },
                    {
                        duration: 440,
                        complete: done
                    }
                )
            }
        }
    }
</script>


<style lang="scss" scoped>
    @import "./src/scss/abstracts/base";

    .server-table {
        overflow: hidden;
    }

    .table-link-button {
        box-shadow: none;
        padding: rem-calc(8) rem-calc(28);
        background: #1b8de3;

        &.reset {
            background: #0072cc;
        }

        &.status {
            &.inactive {
                background: #2aa876;
            }

            &.active {
                background: #e8554e;
            }
        }

        &.delete {
            background: #e8554e;
        }

        &.view {
            background: none;
        }

        &.handle {
            grid-column: 7/8;
        }
    }

    .sortable-chosen {
        opacity: 0.9 !important; // Sortable.js Override
        transition: opacity ease-out 140ms;
    }

    .move-handle {
        cursor: grab;

        &:active,
        &:visited,
        &:focus {
            cursor: grabbing;
        }

        &:active:hover,
        &:active:focus {
            cursor: grabbing;
        }
    }

    .flip-rows-move {
        transition: transform 0.5s;
    }

    .no-move {
        transition: transform 0s;
    }

    .ghost {
        opacity: 0.2;
        background: #c8ebfb;
    }
</style>
<!--                                        <div class="grid-table-cell" data-title="">-->
<!--                                            <transition name="fade" mode="out-in">-->
<!--                                                <a v-if="server.status === 'active'"-->
<!--                                                   @click.prevent="open_modal_status(server.type, 'stop')"-->
<!--                                                   :class="server.status" class="table-link-button status">-->
<!--                                               <span class="font" :class="server.type">-->
<!--                                                    stop-->
<!--                                               </span>-->
<!--                                                </a>-->
<!--                                                <a v-if="server.status === 'inactive'"-->
<!--                                                   @click.prevent="open_modal_status(server.type, 'start')"-->
<!--                                                   :class="server.status" class="table-link-button status">-->
<!--                                               <span class="font" :class="server.type">-->
<!--                                                    start-->
<!--                                               </span>-->
<!--                                                </a>-->
<!--                                            </transition>-->
<!--                                        </div>-->
<!--                                        <div class="grid-table-cell" data-title="">-->
<!--                                            <a v-if="server.status !== 'pending'"-->
<!--                                               @click.prevent="open_modal_reset(server.type, 'reset')"-->
<!--                                               class="table-link-button reset">-->
<!--                                            <span class="font" :class="server.type">-->
<!--                                                {{ server.reset }}-->
<!--                                            </span>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--<div class="grid-table-cell"></div>-->
