<template>
    <div class="toastification-container">
        <div class="toastification-head">
            <span>
                {{toast_heading}}
            </span>
        </div>

        <transition-expand>
            <div v-if="expanded" class="toastification-body">
                <span class="toastification-span">
                    {{toast_body}}
                </span>
            </div>
        </transition-expand>
        <div class="toastification-window-controls">

            <a @click="expanded = !expanded" class="toastification-button">
                {{ expanded ? `verbergen` : `lees meer` }}
            </a>
        </div>
    </div>
</template>

<script>
    import TransitionExpand from "./transitions/TransitionExpand";

    export default {
        name: 'Toastification',
        components: {
            TransitionExpand
        },
        data() {
            return {
                expanded: false,
            }
        },
        props: {
            toast_heading: {
                type: String,
            },
            toast_body: {
                type: String,
            }
        },
    }
</script>

<style lang="scss">
    @import "./src/scss/abstracts/base";

    // Toastification CSS Overrides
    .Vue-Toastification__toast.toast-override {
        max-width: rem-calc(400);

        @include set-breakpoint(tablet, down) {
            max-width: rem-calc(300);
        }

        .Vue-Toastification {

            &__close-button {
                opacity: 1;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                padding: rem-calc(4);
                color: $blueish-black;
                transition: ease all 220ms;
                line-height: 0.5;
            }

            &__icon {

            }
        }

        // Custom content component child of Vue-Toastification
        .toastification-container {
            .toastification-head,
            .toastification-body {
                p, span,
                h1, h2,
                h3, h4,
                h5, h6 {
                    /*display: block;*/
                    user-select: none;
                    -webkit-user-select: none;
                }
            }

            .toastification-head {
                padding-bottom: rem-calc(8);
            }

            .toastification-body {
                .toastification-button {

                }

                .toastification-span {

                }
            }

            .toastification-window-controls {
                position: relative;
                display: flex;
                justify-content: flex-end;
                padding-right: rem-calc(18);
                align-items: center;

                .toastification-button {

                }
            }
        }


    }

    a.toast-push-notifications {
        display: block;
        position: relative;
    }


    // Transition
    .expand-enter-active,
    .expand-leave-active {
        transition: height 0.6s ease-in-out;
        overflow: hidden;
    }

    .expand-enter,
    .expand-leave-to {
        height: 0;
    }
</style>
