<template>
    <div id="app">

        <!-- Progress bar -->
        <vue-progress-bar/>

        <!-- Create Server Modal -->
        <create-server-modal/>

        <!-- Main Tabs Modal -->
        <tab-modal/>

        <!-- Main app container -->
        <main role="main">
            <transition name="router" mode="out-in">
                <!-- Router View -->
                <router-view/>
            </transition>
        </main>

    </div>
</template>

<script>
    import {mapGetters, mapActions} from "vuex";
    import TabModal from "./components/modals/tabs/TabModal";
    import CreateServerModal from "./components/modals/CreateServerModal";

    export default {
        name: 'App',
        data() {
            return {
                search_result: '',
            }
        },
        components: {
            TabModal,
            CreateServerModal,

        },
        mounted() {
            if (localStorage.getItem("authToken")) {
                this.getUserData()
            }
        },
        created() {

        },
        computed: {
            ...mapGetters("authentication", ["user"]),
            ...mapGetters("servers", ["servers"]),
            ...mapGetters("activities", ["activities"]),

        },
        methods: {
            ...mapActions({
                getUserData: 'authentication/getUserData',
                getActivities: 'activities/getActivities',
            }),
            open_tab_modal() {
                this.$modal.show('main-tabs-modal')
            },
        },
    };
</script>


