@import '../abstracts/base';

.header {
  position: relative;
  height: min-content;
  z-index: 10;

  ul {
    list-style-type: none;
  }

  .nav {
    position: relative;
  }

  .item {
    padding: rem-calc(16);
  }

  .icon {
    width: rem-calc(28);
    height: rem-calc(28);
  }

  &-text {
    margin-left: rem-calc(-4);
  }

  &-button {
    position: absolute;
    margin: 0;
    padding: 0;
    color: gray;
    cursor: pointer;
    border: rem-calc(1) solid transparent;
    background: none;
    width: rem-calc(66);
    right: rem-calc(-7);
    top: rem-calc(1);
    display: flex;
    justify-content: center;
    align-items: center;

    &_2 {
      right: rem-calc(200);
    }

    &:focus, &:hover {
      outline: 0;
      background: none;
    }
  }
}

// Dropdown Menu
.dropdown-menu {
  top: 100%;
  right: 0;
  position: absolute;
  z-index: 10;
  //min-height: rem-calc(200);
  min-width: rem-calc(240);
  max-width: rem-calc(380);
  margin-top: rem-calc(17);
  overflow-y: auto;
  padding: rem-calc(4);
  border-radius: rem-calc(3);
  background-color: white;
  border: rem-calc(1) solid var(--color-gray);
  background-clip: padding-box;
  box-shadow: 0 rem-calc(22) rem-calc(18) rgba(0, 0, 0, 0.15);

  &-nav {
    margin: 0 0 rem-calc(8) rem-calc(4);
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    padding: rem-calc(12) 0 rem-calc(12) rem-calc(16);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: rem-calc(3);

    &:hover {
      //color: #17bf63;
      //background-color: rgba(79, 192, 141, 0.1);
      color: #2f9cc2;
      background-color: rgba(56, 185, 229, 0.12);
    }
  }

  &-svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &-text {
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

#dropdown-mask {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  &.active {
    display: block;
    z-index: 9;
  }
}

.close-cross {

}


.mouseover-button {
  width: rem-calc(48);
  height: rem-calc(22);
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 1.75rem;
    height: 1.75rem;

    position: absolute;
  }
}
