// Google fonts import
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=B612&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
// Ubuntu Font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
// CentOS Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Atomic Design SCSS import
@import 'abstracts/base';
@import 'atoms/base';
@import 'molecules/base';
@import 'organisms/base';
@import 'templates/base';
@import 'vendors/base';

/*
 * { Project Breakpoints }
 * - Mobile first
  @include set-breakpoint(mobile, up) {};
  @include set-breakpoint(smartphone, up) {}
  @include set-breakpoint(phablet, up) {};
  @include set-breakpoint(tablet, up) {}
  @include set-breakpoint(laptop, up) {};
  @include set-breakpoint(desktop, up) {};
*/


.server-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  .logo-icon {
    height: rem-calc(22);
    position: relative;
    z-index: 99;

    &.linux {

    }

    &.centos {

    }

    &.ubuntu {

    }

    &.mariadb {

    }
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    padding: rem-calc(24);
  }

  &.linux {
    &::after {
      background: #ffe494;
    }
  }

  &.centos {
    &::after {
      background: #a0d184;
    }
  }

  &.ubuntu {
    &::after {
      background: #ff9e7c;
    }
  }

  &.mariadb {
    &::after {
      background: #68baf5;
    }
  }
}

.blinking {
  -webkit-animation: 800ms blink ease infinite;
  animation: 1.5s blink ease-out infinite;
  position: absolute;

  &.top {
    margin-top: -8px;
    margin-left: -8px;
    transition-delay: 1s;
  }

  &.bottom {
    margin-top: 17px;
    margin-left: -6px
  }
}

@keyframes blink {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.dsahboard-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.verify {
  display: flex;
  align-items: center;
}

.tabs-chart {
  max-width: 50%;
}

.dashboard {
  .chart-container {
    padding: rem-calc(12);
    border-radius: rem-calc(4);
    background: white;

    .chartjs-render-monitor {
      padding: rem-calc(12);
    }

  }

  .app-notifications-container {
    border-radius: rem-calc(4);
    background: white;
  }
}

.grid-x.grid-margin-x.dashboard-cards {
  max-height: rem-calc(280);

}

.dashboard > div {
  border-radius: rem-calc(4);
}

.maximize-icon {
  height: rem-calc(20);
  margin-left: rem-calc(12);
}


.app-activity-container,
.app-notifications-container {
  //background: white;
  //overflow: hidden;
  //border-radius: rem-calc(4);
  //position: relative;
  //max-height: rem-calc(280);
  //&::after {
  //  content: '';
  //  position: absolute;
  //  width: 100%;
  //  height: rem-calc(60);
  //  background: white;
  //  right: 0;
  //  left: 0;
  //  bottom:0;
  //}


}

.grid-server-properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: rem-calc(12);
  padding: rem-calc(8);

  .grid-block {
    &.left, &.middle, &.right {
      .grid-cell:last-child {
        border-bottom: 0;
      }
    }

    &.middle {
    }

    &.right {
      justify-content: flex-end;
    }
  }

  .grid-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem-calc(24) rem-calc(8);
    height: rem-calc(38);
    border-bottom: solid rem-calc(1) rgba(210, 224, 221, 0.34);
  }

  input.clearfix {
    border: none;
    padding: 0;
    background: transparent;
  }
}

.main-tabs-modal {
  &.fullscreen-on {
    .v--modal-box.v--modal {
      width: 100vw !important;
      height: 100vh !important;
      top: 0 !important;
      left: 0 !important;
      right: rem-calc(4) !important;
      bottom: 0;

      .tab-card {
        height: 100%;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
      }
    }
  }
}

.window-controls {
  display: flex;
  margin: 0;
  padding: 0 6px;
  list-style: none;
  position: absolute;
  align-self: center;

  > a.window-link-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 rem-calc(20);
  }
}

.font {
  font-weight: 400;
  text-transform: capitalize;

  > span {
    margin: 0 rem-calc(12);
    font-size: rem-calc(16);

  }

  &.mariadb,
  &.linux {
    //font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
  }

  &.ubuntu {
    font-family: 'Ubuntu', sans-serif;
  }

  &.centos {
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;

  }

  &.mariadb {
  }
}

.properties {
  h5 {
    padding-bottom: rem-calc(12);
  }
}

.centos-style {


}

.ubuntu-style {

}

.icon {
  &-open {
    height: rem-calc(40);
  }
}

.view {
  position: relative;

  &::after {
    //background: #2c3e50;
    //color: white;
    //transform: skew(-20deg);
    //content: '';
    //position: absolute;
    //width: 90px;
    //height: 60px;
    //right: 0;
    //top: rem-calc(-8);
  }

  &:hover {
    color: white;
  }
}

.dialog-container {
  .dialog {
    background-color: white;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
    padding: 0;
    color: #6b7c93;

    &-title {
      font-weight: 600;
      padding-bottom: 15px;
    }

    &-button {
      border-left: 1px solid #eee;
      font-size: rem-calc(12);
      letter-spacing: rem-calc(1);

      &:hover {
        background: rgba(0, 0, 0, 0.01);
      }
    }
  }
}


.text-capitalize {
  text-transform: capitalize;
}

.router-group-y {
  display: flex;
  flex-flow: column nowrap;
  text-align: end;

  .router-link {
    margin: rem-calc(4) 0;
  }
}

.menu-popover-enter,
.menu-popover-leave-to {
  opacity: 0;
  transform: rotateY(50deg);
}

.menu-popover-enter-to,
.menu-popover-leave {
  opacity: 1;
  transform: rotateY(0deg);
}

.menu-popover-enter-active,
.menu-popover-leave-active {
  transition: opacity, transform 200ms ease-out;
}

b, strong {
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  //background: #155abe radial-gradient(circle, #005eb8 0%, #004b93 100%);
  background: #155abe radial-gradient(circle, #1488CC 0%, #2B32B2 100%);
  min-height: 100vh;
  font-size: rem-calc(14);

  #app {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    font-size: rem-calc(14);
    overflow: hidden;

    & > * {
      @include user-select-none;
    }

    @include set-breakpoint(mobile, up) {
      font-size: 96%;
    }
    @include set-breakpoint(smartphone, up) {
      font-size: 97%;
    }
    @include set-breakpoint(phablet, up) {
      font-size: 98%;
    }
    @include set-breakpoint(phablet, down) {
    }
    @include set-breakpoint(tablet, up) {
      font-size: 99%;
    }
    @include set-breakpoint(laptop, up) {
      font-size: 100%;
    }
    @include set-breakpoint(desktop, up) {
      font-size: 100%;
    }

    #nav {
      padding: 30px;
      position: relative;
      z-index: 999;

      a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
          color: #42b983;
        }
      }
    }
  }
}

::-moz-selection {
  color: #1b1e21;
  background: #fffc59;
}

::selection {
  color: #494949;
  background: rgb(182, 177, 253);
}

.vjs-tree__content .has-line .is-root {
  text-align: left;
  background: white;
  padding: rem-calc(12);
  max-width: max-content;
}

.error-container {
  padding: 0 rem-calc(18);

  p, span {
    color: red;
    text-align: left;
  }
}

input[type="password"] {
  font-family: initial;
}

.current-page {
  font-size: rem-calc(16);
}

.plus-icon {
  height: rem-calc(18);
}

.close-modal {
  grid-column: 8/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;

  &:hover {
    color: $white !important;
  }
}

// Go back button
.go-back {
  border: solid rem-calc(1) #1d1d1d;
  border-radius: rem-calc(3);
  padding: rem-calc(6) rem-calc(8);
  color: #1d1d1d;
  width: rem-calc(114);
  position: relative;
  //top: rem-calc(20);
  display: flex;
  justify-content: space-between;
  align-items: center;


  .go-back-icon {
    height: rem-calc(22);
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    color: #1d1d1d;
  }

  span {
    left: rem-calc(28);
    position: relative;
    top: rem-calc(-1);
  }

  .icon.angle {
    max-height: rem-calc(24);
    transform: rotate(-180deg);
    margin-top: rem-calc(-1);
  }
}


// Vue Simple spinner
.verify .vue-simple-spinner {
  position: absolute;
  left: 50%;
  transform: translate(0, -50%);
  text-align: center;

  div & {
    position: relative;
  }
}

.register {
  .check_emails_loader {
    top: rem-calc(48);
  }
}

.forgot-password,
.reset-password {
  .check_emails_loader {
    top: rem-calc(-1);
  }
}

.form-group {
  position: relative;
}

.check_emails_loader {
  position: absolute;
  height: rem-calc(38);
  width: rem-calc(58);
  right: rem-calc(2);
  padding: rem-calc(4);
  margin: rem-calc(1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9001;

  .vue-simple-spinner {
    margin-left: rem-calc(8);
  }
}

#register-button,
#login-button {
  position: relative;

  .inner-group {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    > div {
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: rem-calc(46);
      display: flex;
      justify-content: center;
      align-items: center;

      > span {
        position: absolute;
        left: rem-calc(32);
        top: 50%;
        transform: translate(0%, -50%);
      }

    }
  }
}

.forgot-password {
  display: flex;
  justify-content: end;
  font-size: rem-calc(14);
  padding: 0 rem-calc(10);
  margin-top: rem-calc(-8);
}

.link {
  font-weight: 600;
  @include user-select-none;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

$purple: #9834ef;

//.fade-enter-active,
//.fade-leave-active {
//  & > * {
//    transition-duration: 200ms;
//    transition-property: opacity, transform;
//    transition-timing-function: cubic-bezier(.6, .15, .35, .8);
//  }
//
//}
//
//$delay: 100ms;
//$delayStep: 100ms;
//
//.fade-enter,
//.fade-leave-to {
//  & > * {
//    opacity: 0;
//    transform: translateY(40px);
//  }
//}
