<template>
    <div>
        <ForgotPassword/>
    </div>
</template>

<script>
    import ForgotPassword from "../../components/forms/ForgotPassword";

    export default {
        name: 'forgotPassword',
        data() {
            return {

            }
        },
        mounted() {},
        components: {
            ForgotPassword
        },
        computed: {},
        methods: {}
    }
</script>

<style lang="scss">
    @import './src/scss/abstracts/base';


</style>
