<template>
    <div class="login">
        <Login />
    </div>
</template>
<script>
    import Login from "../../components/forms/Login"

    export default {
        components: {
            Login
        }
    }
</script>
