<template>
    <div class="register">
        <Register />
    </div>
</template>

<script>
    import Register from "../../components/forms/Register"

    export default {
        components: {
            Register
        }
    }
</script>
