<template>
    <div>
        <ResetPassword/>
    </div>
</template>

<script>
    import ResetPassword from "../../components/forms/ResetPassword";

    export default {
        name: 'resetPassword',
        data() {
            return {

            }
        },
        mounted() {},
        components: {
            ResetPassword
        },
        computed: {},
        methods: {}
    }
</script>

<style lang="scss">
    @import './src/scss/abstracts/base';


</style>
