<template>

        <transition name="fade-in">
            <vue-simple-spinner size="38"
                                :line-size="2" :speed="0.6" line-fg-color="#f1f1f1"
                                line-bg-color="transparent" class="dashboard-spinner"/>
        </transition>

</template>

<script>
    import {mapGetters, mapActions} from "vuex";
    import VueSimpleSpinner from 'vue-simple-spinner';

    export default {
        props: ["hash"],

        data() {
            return {};
        },

        mounted() {
            this.$store.commit("setErrors", {})

            this.sendVerifyRequest(this.hash)
                .then((resposne) => {
                    console.log(resposne)
                    this.$router.push("/dashboard");
                })
                .catch((error) => {
                    console.log(error.response.data);
                    this.error = "Er is een fout opgetreden tijdens het verifiëren van je account.";
                    this.error_message = error.response.data.message
                    this.error_status = error.response.status
                });
        },

        computed: {
            ...mapGetters("authentication", ["user"]),
            ...mapGetters(["errors"]),
        },
        methods: {
            ...mapActions("authentication", ["sendVerifyRequest"])
        },

        components: {
            VueSimpleSpinner
        }
    };
</script>

<style lang="scss">
    @import "src/scss/abstracts/base";

    .loader-element {
        position: relative;
        top: rem-calc(-40);
    }

    .loader-text {
        color: #f1f1f1;
        line-height: rem-calc(2);
        font-size: rem-calc(16);
        text-align: center;;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: rem-calc(28);
    }

    .loader-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
</style>
