// Keyframes fade-in-right
//@keyframes fadeInRight {
//  from {
//    opacity: 0;
//    transform: translate3d(100%, 0, 0);
//    right: inherit;
//  }
//
//  to {
//    opacity: 1;
//    transform: translate3d(0, 0, 0);
//    right: rem-calc(10);
//  }
//}
//
//// Keyframes fade-out-right
//@keyframes fadeOutRight {
//  from {
//    right: inherit;
//    opacity: 1;
//  }
//
//  to {
//    opacity: 0;
//    right: rem-calc(-20);
//    transform: translate3d(100%, 0, 0);
//  }
//}

// Keyframes fade-out-down
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

// Keyframes fade-in-up
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

//@keyframes shake {
//  from, to {
//    transform: translate3d(0, 0, 0);
//  }
//
//  10%, 30%, 50%, 70%, 90% {
//    transform: translate3d(rem-calc(-8), 0, 0);
//  }
//
//  20%, 40%, 60%, 80% {
//    transform: translate3d(rem-calc(8), 0, 0);
//  }
//}

@keyframes shake {
  10%, 90% {
    transform: translate3d(rem-calc(-1), 0, 0);
  }

  20%, 80% {
    transform: translate3d(rem-calc(2), 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(rem-calc(-4), 0, 0);
  }

  40%, 60% {
    transform: translate3d(rem-calc(4), 0, 0);
  }
}
