// Functions
@function rem-calc($val) {
  $result: $val / 16;
  @return #{$result}rem;
}

@function em-calc($val) {
  $result: $val / 16;
  @return #{$result}em;
}

// Mixins
@mixin box-shadow {
  box-shadow: 0 rem-calc(2) rem-calc(1) rgba(0, 0, 0, 0.15);
}

@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin user-select-none {
  -webkit-user-select: none; // Chrome all / Safari all
  -moz-user-select: none; // Firefox all
  -ms-user-select: none; // IE 10+
  user-select: none; // Default
}

@mixin user-select-initial {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

// set-breakpoints
@mixin set-breakpoint($object, $break: only) {
  @if map-has-key($breakpoints, $object) {
    @if $break == only {
      $val1 : map-get(map-get($breakpoints, $object), min);
      $val2 : map-get(map-get($breakpoints, $object), max);
      @if $object == mobile {
        @media screen and (max-width: $val2) {
          @content;
        }
      } @elseif $object == widescreen {
        @media screen and (min-width: $val1) {
          @content;
        }
      } @else {
        @media screen and (min-width: $val1) and (max-width: $val2) {
          @content;
        }
      }
    } @elseif $break == up {
      $val : map-get(map-get($breakpoints, $object), min);
      @if $object != mobile {
        @media screen and (min-width: $val) {
          @content;
        }
      } @else {
        @content;
      }
    } @elseif $break == down {
      $val : map-get(map-get($breakpoints, $object), max);
      @if $object != widescreen {
        @media screen and (max-width: $val) {
          @content;
        }
      } @else {
        @content;
      }
    }
  }
  @else {
    @warn 'Unknown {$object} in {$breakpoints}';
  }
}
