// Breakpoints
$breakpoints: (
        mobilexs: (
                min: none,
                max: 360px
        ),
        mobile: (
                min: none,
                max: 479px
        ),
        smartphone: (
                min: 480px,
                max: 639px
        ),
        phablet: (
                min: 640px,
                max: 767px
        ),
        tablet: (
                min: 768px,
                max: 1023px
        ),
        laptop: (
                min: 1024px,
                max: 1199px
        ),
        desktop: (
                min: 1200px,
                max: 1439px
        ),
        widescreen: (
                min: 1440px,
                max: none
        ),
);


// Colors
$colors: (
  // Apple Colors
        iRed: #ff3b30,
        iYellow: #ffcc00,
        iGreen: #4cd964,
        iTealblue: #5ac8fa,
        iBlue: #007aff,
        iPurple: #5856d6,
        iPink: #ff2d55,
        whitegrey: #d1dae0,
        base-green: #2ab27b,
        artist-background: #313131
);


// Variables
$schemeColor-1: #FD940A;
$schemeColor-2: #F9A72B;
$schemeColor-3: #f79d17;
$schemeColor-4: #f68121;

// Base Colors
$black: #181818;
$white: #ffffff;
$primaryBlue: rgba(55, 98, 255, 0.32);
$warning: #ffca4d;
$error-light: #f04124;
$success-light: #41B883;
$green: #ffffff;
$noteYellow: #e6f881;

$bright-gray: #eeeeee;
$anti-flash-white: #f2f2f2;


$blueish-black: rgba(20, 155, 255, 0.62);
$white-shade-1: #e5eaed;
$shade-1: #e5eaed;
$teal: #1abc9c;
$teal: mediumseagreen;
$darker-white: #2c3e50;
$blueish-black-08: #2C3E50;
$blue-black: #2c3e50;
$error-fg: rgba(24, 24, 24, 0.84);
$error-bg: #FFBABA;
$note: #d4690b;
$orange: #f19c65;
$greenBlue: #0a7b83;
$yellow: #ffd265;

// Index
$index-background: 1;
$index-bottom: 9;
$index-middle: 10;
$index-top: 101;
$index-top-top: 1001;

