// Fade-in-out
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// fade-zoom-in-out
.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1);
}

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9);

}

// slide-fade-transition
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s;
}

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0;
}

.slide-fade-enter {
  transform: translateX(31px);
}

.slide-fade-leave-active {
  transform: translateX(-31px);
}

// Dropdown slide-y-transition
.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms;
}

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
