@import '../abstracts/base';

// Preset classes
.min-content {
  height: min-content !important;
}

.callout {
  text-align: left;
}

// Dashboard
.dashboard {
  display: flex;
  align-items: center;

  .grid-container {
    .grid-x {
      .entry-group {
        min-width: rem-calc(240);
        min-height: rem-calc(224);
        height: 100%;
        background: $white;
        z-index: 99;
        //border: solid rem-calc(1) $white;
        box-sizing: content-box;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        border-radius: rem-calc(3);
        //@include box-shadow;

        &.create-server-group {
          img:not(.plus-icon) {
            position: relative;
            top: rem-calc(-4);
          }
        }

        p {
          margin-bottom: 0;
        }

        img {
          height: rem-calc(88);
        }

        .plus-icon {
          height: rem-calc(18);
        }

        svg {
          height: rem-calc(22);
          width: rem-calc(22);
          margin: rem-calc(2) 0 0 rem-calc(8);
        }

      }
    }
  }

  .grid-x.top-section {
    margin-bottom: rem-calc(20);

    & > .cell {
      height: rem-calc(90);

      @include set-breakpoint(smartphone, down) {
        &:nth-child(1) {
          order: 1;
        }

        &:nth-child(2) {
          order: 3;
          display: none !important;
        }

        &:nth-child(3) {
          order: 2;
        }
      }

      &.page-title {
        display: flex;
        justify-content: center;
        text-align: center;

        .title-container {
          background: $white;
          width: max-content;
          height: rem-calc(45.5);
          border-radius: rem-calc(3);
          padding: 0 rem-calc(22);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: rem-calc(16);
          @include set-breakpoint(smartphone, down) {
            margin-left: 0;
            width: 100%;
          }
        }
      }

      &.page-settings {
        display: flex;
        justify-content: flex-end;

        .settings-container {
          //background: $white;
          //width: max-content;
          //height: rem-calc(45.5);
          //border-radius: rem-calc(3);
          //padding: 0 rem-calc(0) 0 rem-calc(0);
          //display: flex;
          //justify-content: center;
          //align-items: center;
          //margin-left: rem-calc(16);
        }
      }

      &.page-menu {
        background: white;
      }

      .logo-container {
        background: $white;
        width: max-content;
        height: rem-calc(45.5);
        border-radius: rem-calc(3);
        padding: 0 rem-calc(22);
        display: flex;
        justify-content: center;
        align-items: center;
        @include box-shadow;

        @include set-breakpoint(mobile, down) {
          width: min-content;
          padding: 0 rem-calc(24);
        }

        span {
          text-align: right;
        }

      }

    }
  }

  .callout {
    @include box-shadow;

    &.contact {
      position: relative;
      background: white;
      height: auto;
      padding: rem-calc(8);
      display: flex;
      align-items: center;
      @include box-shadow;

      p {
        margin: rem-calc(8) 0;
      }

      img {
        height: rem-calc(24);
        margin: 0 rem-calc(8) 0 rem-calc(4);
      }

      a {
        color: #155abe;
        font-weight: 600;
        margin-left: rem-calc(4);
      }
    }

    &.settings {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      img {
        height: rem-calc(24);
        width: rem-calc(24);
      }
    }
  }

  .table-container {
    background: white;

    .table-information {
      padding: rem-calc(8);
    }

    // Server table
    table {
      tbody {
        border-bottom: none;
      }
    }

  }
}
