@import '../abstracts/base';

// Container dimensions
$auth-card-max-width: rem-calc(578);
$auth-card-min-width: rem-calc(260);
$auth-card-min-height: rem-calc(338);

// Transition properties
$transition-duration-primary: 360ms;
$transition-timing-primary: ease-out;

input:focus {
  box-shadow: none !important;
  outline: none !important;
}

.register,
.login {
  background: $white;
  margin: rem-calc(8);

  .forgot-password {
    justify-content: flex-end;
  }

  //@include set-breakpoint(mobile, up) {
  //  padding: rem-calc(14);
  //}
  //
  //@include set-breakpoint(smartphone, up) {
  //  padding: rem-calc(34);
  //}
  //
  //@include set-breakpoint(tablet, up) {
  //  padding: rem-calc(44);
  //}
}

//.login, .register {
//
//  .cloudtion-path {
//    margin-bottom: 0;
//    padding-left: rem-calc(12);
//    padding-right: rem-calc(12);
//
//    .cell {
//      padding-left: 0;
//      padding-right: 0;
//
//      img {
//        height: rem-calc(24);
//      }
//    }
//  }
//}

.auth-container {

  > .grid-x {
    padding: rem-calc(30);
  }

  //&::before {
  //  content: '';
  //  width: 100%;
  //  height: 100%;
  //  background: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, transparent, transparent);
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  z-index: 2000;
  //  pointer-events: none;
  //  transform: translatey(-100%);
  //  transition: transform $transition-timing-primary $transition-duration-primary;
  //}


  //.arrow-dir-top {
  //  height: rem-calc(14);
  //  margin-left: rem-calc(4);
  //}

  //// slide-on
  //&.slide-on {
  //  .arrow-dir-top {
  //    transform: scaleY(-1) rotate(-90deg);
  //    transition: $transition-timing-primary $transition-duration-primary;
  //  }

  //  &::before {
  //    transform: translateY(0);
  //    transition: transform $transition-timing-primary $transition-duration-primary;
  //  }

  //  &::after {
  //    transform: translateY(0);
  //    transition: transform $transition-timing-primary $transition-duration-primary;
  //    transition-delay: 200ms;
  //
  //  }
  //}

  //// slide-off
  //&.slide-off {
  //  .arrow-dir-top {
  //    transform: scaleY(1) rotate(-90deg);
  //    transition: ease-in-out 300ms;
  //  }
  //}
}

// Global Form Styles
input[type='text'],
input[type='password'],
#password {
  color: #374853;
  line-height: 2.375rem;
  min-height: 2.375rem;
  border: rem-calc(1) solid rgb(232, 232, 232);
  border-radius: rem-calc(4) !important;
  background: #fff;
  width: 100%;
  transition: ease all 240ms;
  box-sizing: border-box;
  padding: 0 rem-calc(56) 0 0.8125rem;
  position: relative;
  //z-index: 99999;

  &[id="firstname"],
  &[id="lastname"] {
    text-transform: capitalize;
  }

  &.valid,
  &.invalid {
    transition: ease all 240ms;
  }

  &.valid {
    color: $success-light;
    border: rem-calc(1) $success-light solid;
  }

  &.invalid {
    color: $error-light;
    border: rem-calc(1) $error-light solid;
  }
}

//.cloudtion-path {
//  margin: 0 0 rem-calc(14) 0;
//  text-align: left;
//  position: relative;
//  width: 100%;
//  padding: 0 rem-calc(24) rem-calc(12) rem-calc(26);
//
//  img {
//    height: rem-calc(16);
//  }
//
//  .divider {
//    margin-right: rem-calc(2);
//  }
//
//  span.flex {
//    position: relative;
//  }
//
//  > .cell {
//    display: flex;
//
//    &:nth-child(2) {
//      justify-content: flex-end;
//    }
//  }
//
//  @include set-breakpoint(smartphone, down) {
//    margin-bottom: 0;
//  }
//
//  a,
//  strong,
//  span {
//    color: $black;
//  }
//
//  span {
//    font-size: rem-calc(20);
//
//    &.flex {
//      @include set-breakpoint(smartphone, down) {
//        display: flex;
//      }
//    }
//
//    &.divider {
//      margin: 0 rem-calc(6) 0 rem-calc(4);
//    }
//  }
//}

// Password strenght meter override
.Password {
  max-width: 100% !important;
  padding: 0 rem-calc(4);

  &__strength-meter {
    margin: rem-calc(22) auto 0 auto !important;
    z-index: 2001;
  }
}

.message {
  padding-left: rem-calc(4);
}

.login {
  .validate-group {
    &.password {
      margin-bottom: rem-calc(22);
    }
  }
}

// Vee-validate
.validate-group {
  padding: rem-calc(10) 0;

  &.generator {
    margin: 0;
  }

  &.confirm-password {
    margin-bottom: rem-calc(22);
  }

  &.password {

    .message {
      z-index: 2001;
      position: relative;
    }

    input, label {
      z-index: 2001;
    }

    .form-group {
      background: white;
    }
  }

  &.confirm-password,
  &.button-group-x {
    z-index: 2001;
  }

  .control {
    width: 100%;
    position: relative;
    overflow: visible;

    &:not(&.exception) {
      padding: 0 rem-calc(10);
    }

    margin: rem-calc(4) 0;

    &.password {
      img.checkmark-small {
        z-index: 2001;
      }
    }

    a {
      @include user-select-none;

      &.toggle-visibility {
        right: 0;
        text-align: right;
      }

      &.toggle-visibility,
      &.toggle-generator {
        display: flex;
        justify-content: right;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        z-index: 2001;
        position: relative;
        pointer-events: all;
      }
    }

    label {
      padding: 0 rem-calc(2);
      //width: max-content;

      &[for='remember_login'] {
        display: flex;
        align-items: center;
        margin: 0;
        user-select: none;
        -webkit-user-select: none;

        span {
          margin-left: rem-calc(4);
        }
      }
    }

    img.checkmark-small {
      transition: ease all 240ms;
      height: rem-calc(18);
      width: rem-calc(18);
      pointer-events: none;
      position: absolute;
      right: rem-calc(6);
      opacity: 0;
      margin-top: rem-calc(13);
      //z-index: 2000;

      .password & {
        //z-index: 2001;
      }
    }

    span.message {
      opacity: 0;
      padding: 0 rem-calc(2);
      display: block;
      text-align: left;
      font-size: 0;
      transition: ease all 220ms;
    }


    &.valid {
      input:not(.skip),
      span:not(.skip),
      #password {
        color: $success-light;
      }

      input {
        border: rem-calc(1) $success-light solid;
      }

      img.checkmark-small {
        animation-name: fadeInRight;
        right: rem-calc(24);
        opacity: 1;
      }
    }

    &.invalid {
      input:not(.skip),
      span:not(.skip),
      #password {
        color: $error-light;
      }

      input,
      #password {
        border: rem-calc(1) $error-light solid;
      }

      img.checkmark-small {
        animation-name: fadeOutRight;
      }

      span.message {
        opacity: 1;
        margin-top: rem-calc(12);
        font-size: rem-calc(14);
      }
    }

    &.failed {
      input {
        animation-name: shake;
        animation-duration: 800ms;
      }
    }

    /*
        &.touched {}
        &.required {}
        &.untouched {}
        &.dirty {}
        &.validated {}
        &.changed {}
    */
  }
}

.align-left {
  display: flex;
  justify-content: flex-start;
}

.auth-container {
  position: relative;
  overflow: hidden;

  .grid-x,
  .grid-y {
    justify-content: flex-start;

    &.button-group-x {
      width: 100%;
      padding: rem-calc(28) rem-calc(12) rem-calc(12) rem-calc(28);
      margin-top: rem-calc(14);

      .cell {
        //  Cell Register button
        &:nth-child(2) {
          padding-left: rem-calc(22);
          padding-right: rem-calc(12)
        }
      }
    }

    &.form-group {
      padding: rem-calc(12) 0;

      .cell {
        display: flex;
        align-items: flex-start;
        background: white;
        flex-direction: column;

        &.align-right {
          justify-content: flex-end;
        }
      }
    }

    .cell {
      &.remember-me {
        margin-top: rem-calc(2);
      }

      &.auth-card {
        max-width: rem-calc(578);
        min-height: rem-calc(338);
        min-width: $auth-card-min-width;
        background: white;
        //border-radius: rem-calc(2);
        position: relative;
        //overflow: hidden;
      }

      //&.auth-switch-pages {
      //  text-align: left;
      //  padding-left: 50px;
      //  padding-bottom: 20px;
      //}

    }
  }
}

.position-relative {
  position: relative;
}

.text-lowercase {
  text-transform: lowercase;
}

.login-anchor {
  color: $black;

  .login-icon {
    height: rem-calc(24);
    width: rem-calc(24);
  }
}

.form-group {
  .label-group {
    padding: rem-calc(12) 0;
  }
}

.range-password-length {
  width: 100%;
  @include set-breakpoint(mobile, up) {
    position: relative;
  }

  @include set-breakpoint(phablet, up) {
    position: absolute;
    bottom: rem-calc(8);
  }
}

.password-g-msg {
  padding: 0 0 rem-calc(6) 0;
  margin: 0 0 rem-calc(8) 0;
  font-size: rem-calc(14);

  span {
    &:nth-child(1) {
      margin-bottom: rem-calc(4);
    }
  }
}

.has-slider {
  position: absolute;
  bottom: rem-calc(10);

  label {
    padding-bottom: rem-calc(4);
  }
}

.length-and-slider {
  position: relative;
}

img {
  @include user-select-none;
}

label {
  text-align: left;
}

.flex-end {
  align-items: flex-end !important;
}

.arrow-dir-top {
  height: rem-calc(14);
  margin-left: rem-calc(4);
}

.icon {
  position: absolute;

  img {
    height: rem-calc(40);
  }
}

//box-shadow:
//0 2.8px 2.2px rgba(0, 0, 0, 0.034),
//0 6.7px 5.3px rgba(0, 0, 0, 0.048),
//0 12.5px 10px rgba(0, 0, 0, 0.06),
//0 22.3px 17.9px rgba(0, 0, 0, 0.072),
//0 41.8px 33.4px rgba(0, 0, 0, 0.086),
//0 100px 80px rgba(0, 0, 0, 0.12);


.align-around {
  padding-top: rem-calc(8);
  padding-bottom: rem-calc(8);
}

.forgot-password,
.reset-password {
  text-align: left;
  max-width: rem-calc(578);
  background: white;


  .label-group {
    margin-bottom: rem-calc(12);
  }

  .forgot-icon {
    max-height: rem-calc(80);
  }

  .form-desc-helper {
    display: block;
    font-size: rem-calc(14);
  }

  form .grid-x {
    padding: 0;
  }

  .grid-x {
    padding: rem-calc(18);


    .cell {
      background: white;
      padding: rem-calc(12);

      &.heading {
        padding-bottom: rem-calc(8);
      }

      &.align-right {
        display: flex;
        justify-content: flex-end;
      }

      .input-email {
        min-height: rem-calc(32);
        width: 100%;
        margin: rem-calc(8) 0;
        padding: rem-calc(8);
      }
    }
  }
}

.comp-offset {
  margin: rem-calc(8);
}

.align-around {
  padding-top: rem-calc(8);
  padding-bottom: rem-calc(8);
}

.forgot-password,
.reset-password {
  text-align: left;
  max-width: rem-calc(578);
  background: white;

  .label-group {
    margin-bottom: rem-calc(12);
  }

  .forgot-icon {
    max-height: rem-calc(80);
  }

  .form-desc-helper {
    display: block;
  }

  form .grid-x {
    padding: 0;
  }

  .grid-x {
    padding: rem-calc(14);


    .cell {
      background: white;
      padding: rem-calc(12);

      &.heading {
        padding-bottom: rem-calc(8);
      }

      &.align-right {
        display: flex;
        justify-content: flex-end;
      }

      .input-email {
        min-height: rem-calc(32);
        width: 100%;
        margin: rem-calc(8) 0;
        padding: rem-calc(8);
      }
    }
  }
}

.grid-x.offset {
  margin: rem-calc(28);
}

.label-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  label {
    //max-width: 50%;
  }
}
