@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=B612&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

#register-button,
#reset-button {
  margin-bottom: 0 !important; }

.button-container {
  position: static; }
  .button-container a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    color: #ffffff;
    padding: 0.625rem 1.5rem;
    min-width: 15.625rem;
    top: 0;
    margin-top: 1.375rem;
    position: static;
    width: 50%;
    border-radius: 0.1875rem; }

button,
.button {
  position: relative;
  width: 100%;
  height: 2.875rem;
  background: #2c3e50;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9375rem;
  border-radius: 0.1875rem;
  overflow: hidden;
  transition: none;
  z-index: 9;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center; }
  button:focus,
  .button:focus {
    background: #2c3e50;
    color: white; }
  button:hover,
  .button:hover {
    background: #394f66;
    color: white; }
  button[type='reset'],
  .button[type='reset'] {
    background: white;
    border: 0.0625rem #373737 solid;
    color: #181818;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    button[type='reset'] img,
    .button[type='reset'] img {
      height: 1.25rem;
      position: relative; }
  button[type='submit'],
  .button[type='submit'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; }
    button[type='submit'] span.is-label,
    .button[type='submit'] span.is-label {
      float: left; }
    button[type='submit'] svg,
    .button[type='submit'] svg {
      width: 1.25rem;
      height: 1.25rem;
      right: 2rem;
      top: 0.75rem;
      position: absolute; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.header {
  position: relative;
  height: min-content;
  z-index: 10; }
  .header ul {
    list-style-type: none; }
  .header .nav {
    position: relative; }
  .header .item {
    padding: 1rem; }
  .header .icon {
    width: 1.75rem;
    height: 1.75rem; }
  .header-text {
    margin-left: -0.25rem; }
  .header-button {
    position: absolute;
    margin: 0;
    padding: 0;
    color: gray;
    cursor: pointer;
    border: 0.0625rem solid transparent;
    background: none;
    width: 4.125rem;
    right: -0.4375rem;
    top: 0.0625rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-button_2 {
      right: 12.5rem; }
    .header-button:focus, .header-button:hover {
      outline: 0;
      background: none; }

.dropdown-menu {
  top: 100%;
  right: 0;
  position: absolute;
  z-index: 10;
  min-width: 15rem;
  max-width: 23.75rem;
  margin-top: 1.0625rem;
  overflow-y: auto;
  padding: 0.25rem;
  border-radius: 0.1875rem;
  background-color: white;
  border: 0.0625rem solid var(--color-gray);
  background-clip: padding-box;
  box-shadow: 0 1.375rem 1.125rem rgba(0, 0, 0, 0.15); }
  .dropdown-menu-nav {
    margin: 0 0 0.5rem 0.25rem; }
  .dropdown-menu-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    padding: 0.75rem 0 0.75rem 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 0.1875rem; }
    .dropdown-menu-link:hover {
      color: #2f9cc2;
      background-color: rgba(56, 185, 229, 0.12); }
  .dropdown-menu-svg {
    width: 1.5rem;
    height: 1.5rem; }
  .dropdown-menu-text {
    font-weight: 300;
    margin-left: 1rem;
    margin-right: 1rem; }

#dropdown-mask {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0; }
  #dropdown-mask.active {
    display: block;
    z-index: 9; }

.mouseover-button {
  width: 3rem;
  height: 1.375rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .mouseover-button svg {
    width: 1.75rem;
    height: 1.75rem;
    position: absolute; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.table-link-button,
.link-button {
  border-radius: 0.1875rem;
  padding: 0.625rem 1.125rem;
  border: none !important;
  cursor: pointer;
  box-shadow: inset 0 0 12px rgba(55, 84, 170, 0), inset 0 0 12px rgba(255, 255, 255, 0), 4px 4px 12px rgba(55, 84, 170, 0.15), -4px -4px 12px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  justify-content: center;
  color: #ffffff; }
  .table-link-button:hover,
  .link-button:hover {
    color: #ffffff; }
  .table-link-button.copy-link,
  .link-button.copy-link {
    font-size: 0.75rem;
    padding: 0.375rem 0.75rem; }
  .table-link-button.delete,
  .link-button.delete {
    background: #2c3e50; }
  .table-link-button.view,
  .link-button.view {
    background: #4e8b4e;
    background: #ffffff;
    color: #181818; }

.timer-icon {
  height: 1.125rem;
  margin: 0 0.5rem; }

.vertical_dots {
  height: 1.375rem; }

.grid-table {
  display: grid;
  align-items: flex-start;
  background: rgba(250, 250, 250, 0.9);
  background: none;
  width: 100%;
  margin: 0.75rem 0;
  border-radius: 0.25rem; }
  .grid-table span, .grid-table p, .grid-table h1, .grid-table h2, .grid-table h3, .grid-table h4, .grid-table h5, .grid-table h6 {
    font-family: 'Ubuntu', sans-serif; }
  @media screen and (max-width: 1023px) {
    .grid-table {
      background: transparent;
      box-shadow: none; } }
  .grid-table-icon {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin-left: 0.375rem; }
  .grid-table-button {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .grid-table-button img {
      padding: 0 0 0 0.5rem; }
  .grid-table-row {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    overflow: hidden;
    background: white;
    height: 100%;
    max-height: 5rem;
    border-radius: 0.25rem;
    margin: 0.125rem 0;
    padding: 0.625rem 0;
    align-items: center; }
    .grid-table-row.none {
      padding: 0 !important; }
    .grid-table-row:not(:last-child, :first-child) {
      border-bottom: 0.0625rem solid #ddd; }
    .grid-table-row.heading {
      font-weight: 600;
      grid-template-columns: repeat(12, 1fr); }
    @media screen and (max-width: 1023px) {
      .grid-table-row {
        grid-template-columns: repeat(2, 1fr) repeat(2, 1fr);
        margin-bottom: 1.375rem; } }
    @media screen and (max-width: 767px) {
      .grid-table-row {
        grid-template-columns: repeat(3, 1fr); } }
    @media screen and (max-width: 639px) {
      .grid-table-row {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 479px) {
      .grid-table-row {
        grid-template-columns: repeat(1, 1fr); } }
  .grid-table-cell {
    display: flex;
    align-items: center;
    justify-content: center; }
    .grid-table-cell.handle {
      grid-column: span 2; }
    .grid-table-cell.logo {
      grid-column: span 2; }
    .grid-table-cell.type {
      grid-column: span 6; }
    .grid-table-cell.duration {
      grid-column: span 6; }
    .grid-table-cell.status {
      grid-column: span 4; }
    .grid-table-cell.view {
      grid-column: span 4; }
      .grid-table-cell.view .table-link-button {
        color: #181818;
        border: solid 0.0625rem #181818; }
    @media screen and (max-width: 1023px) {
      .grid-table-cell:not(.grid-table-cell.empty-array) {
        justify-content: space-between; } }
    .grid-table-cell.empty-array {
      grid-column: 1/-1;
      background: #ffffff;
      min-height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 0 !important;
      padding-bottom: 0 !important; }
      .grid-table-cell.empty-array::before {
        position: absolute; }
    .grid-table-cell a {
      position: relative;
      display: flex;
      justify-content: center; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.err,
.message {
  color: #f04124; }

.toggle-visibility {
  text-align: right; }

.input-group {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .input-group .input-helper {
    position: absolute;
    max-height: 1.375rem;
    max-width: 1.375rem;
    right: 1.125rem;
    margin-top: -0.0625rem;
    cursor: context-menu; }

.next-submit-button {
  position: absolute; }

.inner-group {
  display: flex;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 639px) {
  .modal-grid {
    flex-flow: column-reverse; } }

.server-window-container {
  position: relative;
  /* background: antiquewhite; */ }
  .server-window-container .create-server-window {
    width: 100%;
    font-size: 0.875rem; }
    .server-window-container .create-server-window .server-icon {
      max-height: 2.375rem;
      position: relative; }
    .server-window-container .create-server-window table th {
      text-align: center; }

fieldset {
  margin: 2.625rem 0; }
  fieldset label,
  fieldset span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  fieldset legend {
    padding: 0 0rem 0rem 1.125rem;
    padding-left: 0 !important;
    margin-bottom: 1.5rem; }
    fieldset legend span b, fieldset legend span strong {
      margin-bottom: 0.5rem; }
  fieldset.server-selection legend {
    margin-bottom: 0.75rem; }
  fieldset.server-selection .grid .grid-cell {
    position: relative; }
    fieldset.server-selection .grid .grid-cell::before {
      content: '';
      position: absolute;
      top: -0.125rem;
      left: -0.125rem;
      right: -0.125rem;
      bottom: -0.125rem;
      transform: skew(2deg, 2deg);
      -webkit-transform: skew(2deg, 2deg);
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      z-index: 0;
      opacity: 0;
      transition: none;
      -webkit-font-smoothing: subpixel-antialiased; }
  fieldset.user-details .grid-cell {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  fieldset.user-details label {
    margin: 0.25rem 0; }
  fieldset.user-details .form-group {
    margin: 0.25rem 0;
    display: flex;
    flex-direction: column; }
    fieldset.user-details .form-group .label-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0.25rem 0.25rem 0.5rem; }
  fieldset.user-details .password-strength-meter {
    width: 100%;
    margin-top: -0.875rem;
    margin-bottom: 1rem; }
  fieldset.confirm-request {
    margin-bottom: 3.875rem; }
    fieldset.confirm-request input {
      border: none;
      padding: 0;
      background: none; }
      fieldset.confirm-request input:focus, fieldset.confirm-request input:hover {
        background: none; }
    fieldset.confirm-request .user-details-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
      margin: 1.25rem 0; }
      fieldset.confirm-request .user-details-grid .sub-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        fieldset.confirm-request .user-details-grid .sub-grid .grid-cell:nth-child(2) {
          display: flex;
          align-items: center;
          justify-content: flex-end; }
      fieldset.confirm-request .user-details-grid .grid-right,
      fieldset.confirm-request .user-details-grid .grid-left {
        display: grid; }
      fieldset.confirm-request .user-details-grid .grid-cell {
        height: 2.5rem;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-auto-flow: dense;
        grid-gap: 0.5rem;
        min-width: 50%; }
        fieldset.confirm-request .user-details-grid .grid-cell input[type="password"] {
          background: none; }
        fieldset.confirm-request .user-details-grid .grid-cell #password {
          background: none; }
        fieldset.confirm-request .user-details-grid .grid-cell .toggle-visibility {
          text-align: right;
          text-transform: lowercase; }
        fieldset.confirm-request .user-details-grid .grid-cell.password {
          position: relative;
          top: 0.625rem; }
  fieldset legend {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 1.25rem; }
    fieldset legend span {
      text-align: left;
      margin: 0.5rem 0;
      display: flex;
      flex-direction: column; }

.steps-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative; }
  .steps-container::after {
    content: '';
    width: calc(100% - 5rem);
    height: 0.125rem;
    background: lightslategray;
    position: absolute;
    top: 1.375rem;
    padding: 0.125rem;
    right: 2.75rem; }
  .steps-container::before {
    content: '';
    height: 0.125rem;
    background: #1abc9c;
    position: absolute;
    top: 1.375rem;
    padding: 0.125rem;
    z-index: 999;
    max-width: calc(100% - 5rem);
    transition: width ease-in-out 600ms;
    left: 2.125rem; }
  .steps-container.step-1::before, .steps-container.step-2::before, .steps-container.step-3::before {
    transition: width ease-in-out 600ms; }
  .steps-container.step-1::before {
    width: 0; }
  .steps-container.step-2::before {
    width: 50%; }
  .steps-container.step-3::before {
    width: calc(100% - 2rem); }
  .steps-container .step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 5rem; }
    .steps-container .step .step-desc {
      position: relative;
      top: 0.5rem;
      font-size: 0.875rem;
      margin: 0.25rem 0;
      transition: ease all 280ms; }
    .steps-container .step .step-number {
      background: white;
      border-radius: 50%;
      border: solid 0.125rem lightslategray;
      width: 3.125rem;
      height: 3.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 999;
      padding: 0.25rem;
      transition: width ease-in-out 700ms; }
      .steps-container .step .step-number img {
        position: relative;
        left: -0.25rem; }
    .steps-container .step.active .step-number {
      border: solid 0.125rem #1abc9c;
      transition: ease-in-out 700ms; }
    .steps-container .step.active .step-desc {
      opacity: 1; }
    .steps-container .step.completed .step-desc {
      color: #1abc9c; }

.server-request-form {
  position: relative; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.875rem; }
  @media screen and (max-width: 767px) {
    .grid {
      grid-template-columns: 1fr 1fr; } }
  .grid .grid-cell {
    grid-column: 0/2;
    position: relative;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.19), 0 0.25rem 0.25rem rgba(0, 0, 0, 0.23);
    transition: ease all 200ms; }
    .grid .grid-cell .content {
      z-index: 9999;
      position: relative;
      padding: 0.75rem;
      background: white; }
    .grid .grid-cell.checked {
      background: #1c90fa;
      transition: ease box-shadow 200ms; }
      .grid .grid-cell.checked .checkmark_checked {
        display: block; }
      .grid .grid-cell.checked::before {
        opacity: 1;
        transition: ease-in-out 280ms;
        box-shadow: 0 0rem 0.125rem rgba(0, 0, 0, 0.03), 0 0.25rem 0.25rem rgba(0, 0, 0, 0.07); }
    .grid .grid-cell label {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 3rem;
      text-align: center; }
    .grid .grid-cell span {
      margin-bottom: 0.75rem; }
    .grid .grid-cell input[type="radio"] {
      pointer-events: none;
      visibility: hidden; }
    .grid .grid-cell label {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.125rem;
      cursor: pointer; }
  .grid .grid-footer {
    display: grid;
    grid-column: 1/3;
    margin-top: 0.875rem; }

.button-group {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 0; }
  .button-group button {
    width: calc(50% - 0.5rem); }
    .button-group button[type="button"] {
      margin-right: 0.5rem; }
    .button-group button[type="submit"] {
      margin-left: 0.5rem;
      justify-content: center; }

.checkmark-container {
  position: absolute;
  z-index: 9999;
  margin-top: 0.25rem;
  top: 0; }

.checkmark {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  box-shadow: inset 0 0 0 #41B883;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both; }

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #41B883;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; }

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; }

@keyframes stroke {
  100% {
    stroke-dashoffset: 0; } }
@keyframes scale {
  0%, 100% {
    transform: none; }
  50% {
    transform: scale3d(1.1, 1.1, 1); } }
@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px #41B883; } }
@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.tab-panel {
  padding: 0 1.25rem; }

.servers-loop.active .slot-wrapper-y {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }
  .servers-loop.active .slot-wrapper-y:hover .slot-background {
    width: 100%; }
.servers-loop.active .slot-background {
  width: 100%; }

.servers-loop:hover .slot-background {
  width: 0.5rem; }
.servers-loop .slot-wrapper-y {
  border-radius: 6px 0 0 6px; }
.servers-loop .slot-background {
  border-radius: 6px 0 0 6px;
  right: 0; }
.servers-loop .slot-rounding {
  top: 0;
  transform-origin: top; }
  .servers-loop .slot-rounding:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: -6px;
    left: -6px;
    border-radius: 100%; }
  .servers-loop .slot-rounding.left {
    left: -6px; }
    .servers-loop .slot-rounding.left:before {
      box-shadow: 0 0 0 10rem #fff; }
  .servers-loop .slot-rounding.right {
    right: -6px; }
    .servers-loop .slot-rounding.right:before {
      right: 6px;
      box-shadow: 0 0 0 10rem #fff; }

.slot-wrapper-y {
  background: rgba(248, 247, 247, 0.13);
  padding: 1rem;
  cursor: pointer;
  position: relative; }
  .slot-wrapper-y span,
  .slot-wrapper-y img {
    position: relative; }
  .slot-wrapper-y span {
    padding: 0 0.625rem; }
  .slot-wrapper-y > * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .slot-wrapper-y .slot-rounding {
    padding: 3px 6px;
    display: block;
    position: absolute;
    overflow: hidden;
    transform: scaleX(0);
    transition: transform cubic-bezier(0.86, 0, 0.07, 1) 320ms; }
  .slot-wrapper-y .slot-background {
    display: block;
    position: absolute;
    background: #fff;
    z-index: 0;
    width: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: width cubic-bezier(0.86, 0, 0.07, 1) 320ms; }
  .slot-wrapper-y .slot-rounding {
    right: 0;
    transform-origin: right; }
    .slot-wrapper-y .slot-rounding:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 0.875rem;
      right: -6px;
      border-radius: 100%; }
    .slot-wrapper-y .slot-rounding.top {
      top: -6px; }
      .slot-wrapper-y .slot-rounding.top:before {
        top: -6px;
        box-shadow: 0 0 0 10rem #fff; }
    .slot-wrapper-y .slot-rounding.bottom {
      bottom: -6px; }
      .slot-wrapper-y .slot-rounding.bottom:before {
        right: 6px;
        box-shadow: 0 0 0 10rem #fff; }
  .slot-wrapper-y span {
    color: white; }

.loop.active .slot-wrapper-y:hover .slot-background {
  width: 100%; }

.tab-card.server-properties {
  display: grid;
  min-width: 20rem;
  border-radius: 0.25rem;
  grid-template-rows: 3.5rem 1fr;
  grid-template-columns: 15.125rem repeat(2, 1fr); }
.tab-card .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0; }
.tab-card .window-controls {
  right: 1.75rem;
  cursor: pointer; }
  .tab-card .window-controls a {
    color: #ffffff; }
.tab-card .tab-header > *,
.tab-card .tab-aside > * {
  text-transform: capitalize; }
.tab-card .tab-header {
  display: grid;
  grid-template-columns: 9.625rem repeat(8, 1fr);
  grid-column: 1/-1;
  grid-row: 1;
  grid-gap: 0.25rem;
  background: #2c3e50; }
  @media screen and (max-width: 28.75em) {
    .tab-card .tab-header {
      grid-template-columns: repeat(4, 1fr);
      grid-column: 1/-1; } }
.tab-card .tab-aside {
  grid-column: 1/2;
  grid-row: 2;
  grid-gap: 0.25rem;
  display: none;
  grid-template-rows: repeat(8, 4rem);
  grid-template-columns: 1fr;
  background: #f1f1f1; }
  .tab-card .tab-aside .slot-wrapper-y span {
    color: black; }
  .tab-card .tab-aside.revealed {
    display: grid;
    grid-template-columns: 1fr; }
  @media screen and (max-width: 639px) {
    .tab-card .tab-aside {
      display: none;
      background: #f1f1f1;
      grid-template-rows: repeat(7, 1fr); }
      .tab-card .tab-aside .slot-wrapper-y span {
        color: black; } }
  .tab-card .tab-aside .servers-loop {
    height: 100%; }
    .tab-card .tab-aside .servers-loop:nth-child(1) .slot-background .slot-rounding.top::before {
      display: none; }
    .tab-card .tab-aside .servers-loop .slot-wrapper-y {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center; }
.tab-card .tab-main {
  background: white;
  grid-column: 1/-1;
  grid-row: 2;
  min-width: 17.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5rem 3.75rem 1fr;
  padding-bottom: 5.625rem; }
  @media screen and (max-width: 1023px) {
    .tab-card .tab-main {
      grid-template-columns: 1fr; } }
  @media screen and (max-width: 639px) {
    .tab-card .tab-main {
      grid-column: 1/12;
      grid-template-columns: 1fr;
      grid-template-rows: 3.75rem 0.3fr 1fr; } }
  @media screen and (max-width: 639px) {
    .tab-card .tab-main .cell.desktop-only {
      display: none; } }
  .tab-card .tab-main.revealed {
    grid-column: 2/7; }
  .tab-card .tab-main .tabs-chart {
    grid-row: 3;
    grid-column: 1/-1; }

.loop {
  position: relative; }
  .loop .slot-wrapper-y:hover .slot-background {
    width: 0.5rem;
    height: 100%; }
  .loop .slot-wrapper-x {
    background: rgba(248, 247, 247, 0.13);
    padding: 1.125rem;
    cursor: pointer;
    text-align: center; }
    .loop .slot-wrapper-x span,
    .loop .slot-wrapper-x img {
      position: relative; }
    .loop .slot-wrapper-x:hover .slot-background {
      height: 0.5rem; }
    .loop .slot-wrapper-x .slot-rounding {
      padding: 3px 6px;
      display: block;
      position: absolute;
      overflow: hidden;
      transform: scaleY(0);
      transition: transform cubic-bezier(0.86, 0, 0.07, 1) 320ms; }
    .loop .slot-wrapper-x .slot-background {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      background: #fff;
      z-index: 0;
      height: 0;
      transition: height cubic-bezier(0.86, 0, 0.07, 1) 320ms; }
    .loop .slot-wrapper-x span {
      color: white; }
  .loop.active .slot-wrapper-x:hover .slot-background {
    height: 100%; }
  .loop.options-loop:nth-of-type(1) {
    grid-column-start: 4; }
    @media screen and (max-width: 639px) {
      .loop.options-loop:nth-of-type(1) {
        grid-column-start: 1; } }
  .loop.options-loop .slot-wrapper-x {
    border-top-right-radius: 0.375rem;
    border-top-left-radius: 0.375rem; }
    .loop.options-loop .slot-wrapper-x .slot-background {
      border-radius: 6px 6px 0 0;
      bottom: 0; }
    .loop.options-loop .slot-wrapper-x .slot-rounding {
      bottom: 0;
      transform-origin: bottom; }
      .loop.options-loop .slot-wrapper-x .slot-rounding:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: -6px;
        left: -6px;
        border-radius: 100%; }
      .loop.options-loop .slot-wrapper-x .slot-rounding.left {
        left: -6px; }
        .loop.options-loop .slot-wrapper-x .slot-rounding.left:before {
          box-shadow: 0 0 0 10rem #fff; }
      .loop.options-loop .slot-wrapper-x .slot-rounding.right {
        right: -6px; }
        .loop.options-loop .slot-wrapper-x .slot-rounding.right:before {
          left: 6px;
          box-shadow: 0 0 0 10rem #fff; }
  .loop.active .slot-wrapper-y,
  .loop.active .slot-wrapper-x {
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: height 320ms cubic-bezier(0.86, 0, 0.07, 1);
    right: 0;
    z-index: 3;
    position: relative; }
    .loop.active .slot-wrapper-y span,
    .loop.active .slot-wrapper-y img,
    .loop.active .slot-wrapper-x span,
    .loop.active .slot-wrapper-x img {
      z-index: 4; }
    .loop.active .slot-wrapper-y span,
    .loop.active .slot-wrapper-x span {
      transition: all 320ms cubic-bezier(0.86, 0, 0.07, 1);
      color: #181818; }
  .loop.active .slot-background {
    height: 100%; }
  .loop.active .slot-rounding {
    transform: scaleY(1); }

.tab-icon {
  height: 100%;
  max-height: 3.75rem;
  margin: 0.75rem 2.5rem 0.75rem 0.75rem; }

.tabs-content-title {
  grid-column: 1/-1;
  padding: 0 1.375rem; }
  .tabs-content-title span {
    font-size: 1.125rem;
    font-weight: 500; }

.card-breadcrumbs {
  padding: 0 0.75rem;
  max-height: 4.875rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-column: 1/-1; }
  .card-breadcrumbs > div {
    margin: 0 0.25rem; }
  .card-breadcrumbs .reveal-servers {
    cursor: pointer;
    height: 1.125rem;
    margin: 0 0.25rem;
    display: none; }
    @media screen and (max-width: 639px) {
      .card-breadcrumbs .reveal-servers {
        display: flex; } }
  .card-breadcrumbs img {
    height: 0.75rem;
    margin: -0.0625rem 0.25rem 0; }

@media screen and (max-width: 639px) {
  .tab-modal-content > .grid-x {
    height: 100vh;
    background: white; } }

.tab-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
  .tab-card .tab-modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2.5rem; }
  .tab-card-body {
    background: white; }
  .tab-card .tab {
    background: white; }
    .tab-card .tab-image {
      height: 1.75rem;
      min-width: 1.75rem;
      margin: 0 0.5rem; }
    .tab-card .tab-head {
      list-style-type: none;
      height: 100%;
      text-align: center; }
      .tab-card .tab-head-foot {
        list-style-type: none;
        margin: 0;
        text-align: center;
        position: relative; }
        .tab-card .tab-head-foot span {
          display: flex;
          justify-content: center;
          align-items: center; }

.window-controls-panel {
  min-height: 5rem; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

input:focus {
  box-shadow: none !important;
  outline: none !important; }

.register,
.login {
  background: #ffffff;
  margin: 0.5rem; }
  .register .forgot-password,
  .login .forgot-password {
    justify-content: flex-end; }

.auth-container > .grid-x {
  padding: 1.875rem; }

input[type='text'],
input[type='password'],
#password {
  color: #374853;
  line-height: 2.375rem;
  min-height: 2.375rem;
  border: 0.0625rem solid #e8e8e8;
  border-radius: 0.25rem !important;
  background: #fff;
  width: 100%;
  transition: ease all 240ms;
  box-sizing: border-box;
  padding: 0 3.5rem 0 0.8125rem;
  position: relative; }
  input[type='text'][id="firstname"], input[type='text'][id="lastname"],
  input[type='password'][id="firstname"],
  input[type='password'][id="lastname"],
  #password[id="firstname"],
  #password[id="lastname"] {
    text-transform: capitalize; }
  input[type='text'].valid, input[type='text'].invalid,
  input[type='password'].valid,
  input[type='password'].invalid,
  #password.valid,
  #password.invalid {
    transition: ease all 240ms; }
  input[type='text'].valid,
  input[type='password'].valid,
  #password.valid {
    color: #41B883;
    border: 0.0625rem #41B883 solid; }
  input[type='text'].invalid,
  input[type='password'].invalid,
  #password.invalid {
    color: #f04124;
    border: 0.0625rem #f04124 solid; }

.Password {
  max-width: 100% !important;
  padding: 0 0.25rem; }
  .Password__strength-meter {
    margin: 1.375rem auto 0 auto !important;
    z-index: 2001; }

.message {
  padding-left: 0.25rem; }

.login .validate-group.password {
  margin-bottom: 1.375rem; }

.validate-group {
  padding: 0.625rem 0; }
  .validate-group.generator {
    margin: 0; }
  .validate-group.confirm-password {
    margin-bottom: 1.375rem; }
  .validate-group.password .message {
    z-index: 2001;
    position: relative; }
  .validate-group.password input, .validate-group.password label {
    z-index: 2001; }
  .validate-group.password .form-group {
    background: white; }
  .validate-group.confirm-password, .validate-group.button-group-x {
    z-index: 2001; }
  .validate-group .control {
    width: 100%;
    position: relative;
    overflow: visible;
    margin: 0.25rem 0;
    /*
        &.touched {}
        &.required {}
        &.untouched {}
        &.dirty {}
        &.validated {}
        &.changed {}
    */ }
    .validate-group .control:not(.validate-group .control.exception) {
      padding: 0 0.625rem; }
    .validate-group .control.password img.checkmark-small {
      z-index: 2001; }
    .validate-group .control a {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .validate-group .control a.toggle-visibility {
        right: 0;
        text-align: right; }
      .validate-group .control a.toggle-visibility, .validate-group .control a.toggle-generator {
        display: flex;
        justify-content: right;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        z-index: 2001;
        position: relative;
        pointer-events: all; }
    .validate-group .control label {
      padding: 0 0.125rem; }
      .validate-group .control label[for='remember_login'] {
        display: flex;
        align-items: center;
        margin: 0;
        user-select: none;
        -webkit-user-select: none; }
        .validate-group .control label[for='remember_login'] span {
          margin-left: 0.25rem; }
    .validate-group .control img.checkmark-small {
      transition: ease all 240ms;
      height: 1.125rem;
      width: 1.125rem;
      pointer-events: none;
      position: absolute;
      right: 0.375rem;
      opacity: 0;
      margin-top: 0.8125rem; }
    .validate-group .control span.message {
      opacity: 0;
      padding: 0 0.125rem;
      display: block;
      text-align: left;
      font-size: 0;
      transition: ease all 220ms; }
    .validate-group .control.valid input:not(.skip),
    .validate-group .control.valid span:not(.skip),
    .validate-group .control.valid #password {
      color: #41B883; }
    .validate-group .control.valid input {
      border: 0.0625rem #41B883 solid; }
    .validate-group .control.valid img.checkmark-small {
      animation-name: fadeInRight;
      right: 1.5rem;
      opacity: 1; }
    .validate-group .control.invalid input:not(.skip),
    .validate-group .control.invalid span:not(.skip),
    .validate-group .control.invalid #password {
      color: #f04124; }
    .validate-group .control.invalid input,
    .validate-group .control.invalid #password {
      border: 0.0625rem #f04124 solid; }
    .validate-group .control.invalid img.checkmark-small {
      animation-name: fadeOutRight; }
    .validate-group .control.invalid span.message {
      opacity: 1;
      margin-top: 0.75rem;
      font-size: 0.875rem; }
    .validate-group .control.failed input {
      animation-name: shake;
      animation-duration: 800ms; }

.align-left {
  display: flex;
  justify-content: flex-start; }

.auth-container {
  position: relative;
  overflow: hidden; }
  .auth-container .grid-x,
  .auth-container .grid-y {
    justify-content: flex-start; }
    .auth-container .grid-x.button-group-x,
    .auth-container .grid-y.button-group-x {
      width: 100%;
      padding: 1.75rem 0.75rem 0.75rem 1.75rem;
      margin-top: 0.875rem; }
      .auth-container .grid-x.button-group-x .cell:nth-child(2),
      .auth-container .grid-y.button-group-x .cell:nth-child(2) {
        padding-left: 1.375rem;
        padding-right: 0.75rem; }
    .auth-container .grid-x.form-group,
    .auth-container .grid-y.form-group {
      padding: 0.75rem 0; }
      .auth-container .grid-x.form-group .cell,
      .auth-container .grid-y.form-group .cell {
        display: flex;
        align-items: flex-start;
        background: white;
        flex-direction: column; }
        .auth-container .grid-x.form-group .cell.align-right,
        .auth-container .grid-y.form-group .cell.align-right {
          justify-content: flex-end; }
    .auth-container .grid-x .cell.remember-me,
    .auth-container .grid-y .cell.remember-me {
      margin-top: 0.125rem; }
    .auth-container .grid-x .cell.auth-card,
    .auth-container .grid-y .cell.auth-card {
      max-width: 36.125rem;
      min-height: 21.125rem;
      min-width: 16.25rem;
      background: white;
      position: relative; }

.position-relative {
  position: relative; }

.text-lowercase {
  text-transform: lowercase; }

.login-anchor {
  color: #181818; }
  .login-anchor .login-icon {
    height: 1.5rem;
    width: 1.5rem; }

.form-group .label-group {
  padding: 0.75rem 0; }

.range-password-length {
  width: 100%;
  position: relative; }
  @media screen and (min-width: 640px) {
    .range-password-length {
      position: absolute;
      bottom: 0.5rem; } }

.password-g-msg {
  padding: 0 0 0.375rem 0;
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem; }
  .password-g-msg span:nth-child(1) {
    margin-bottom: 0.25rem; }

.has-slider {
  position: absolute;
  bottom: 0.625rem; }
  .has-slider label {
    padding-bottom: 0.25rem; }

.length-and-slider {
  position: relative; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

label {
  text-align: left; }

.flex-end {
  align-items: flex-end !important; }

.arrow-dir-top {
  height: 0.875rem;
  margin-left: 0.25rem; }

.icon {
  position: absolute; }
  .icon img {
    height: 2.5rem; }

.align-around {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.forgot-password,
.reset-password {
  text-align: left;
  max-width: 36.125rem;
  background: white; }
  .forgot-password .label-group,
  .reset-password .label-group {
    margin-bottom: 0.75rem; }
  .forgot-password .forgot-icon,
  .reset-password .forgot-icon {
    max-height: 5rem; }
  .forgot-password .form-desc-helper,
  .reset-password .form-desc-helper {
    display: block;
    font-size: 0.875rem; }
  .forgot-password form .grid-x,
  .reset-password form .grid-x {
    padding: 0; }
  .forgot-password .grid-x,
  .reset-password .grid-x {
    padding: 1.125rem; }
    .forgot-password .grid-x .cell,
    .reset-password .grid-x .cell {
      background: white;
      padding: 0.75rem; }
      .forgot-password .grid-x .cell.heading,
      .reset-password .grid-x .cell.heading {
        padding-bottom: 0.5rem; }
      .forgot-password .grid-x .cell.align-right,
      .reset-password .grid-x .cell.align-right {
        display: flex;
        justify-content: flex-end; }
      .forgot-password .grid-x .cell .input-email,
      .reset-password .grid-x .cell .input-email {
        min-height: 2rem;
        width: 100%;
        margin: 0.5rem 0;
        padding: 0.5rem; }

.comp-offset {
  margin: 0.5rem; }

.align-around {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.forgot-password,
.reset-password {
  text-align: left;
  max-width: 36.125rem;
  background: white; }
  .forgot-password .label-group,
  .reset-password .label-group {
    margin-bottom: 0.75rem; }
  .forgot-password .forgot-icon,
  .reset-password .forgot-icon {
    max-height: 5rem; }
  .forgot-password .form-desc-helper,
  .reset-password .form-desc-helper {
    display: block; }
  .forgot-password form .grid-x,
  .reset-password form .grid-x {
    padding: 0; }
  .forgot-password .grid-x,
  .reset-password .grid-x {
    padding: 0.875rem; }
    .forgot-password .grid-x .cell,
    .reset-password .grid-x .cell {
      background: white;
      padding: 0.75rem; }
      .forgot-password .grid-x .cell.heading,
      .reset-password .grid-x .cell.heading {
        padding-bottom: 0.5rem; }
      .forgot-password .grid-x .cell.align-right,
      .reset-password .grid-x .cell.align-right {
        display: flex;
        justify-content: flex-end; }
      .forgot-password .grid-x .cell .input-email,
      .reset-password .grid-x .cell .input-email {
        min-height: 2rem;
        width: 100%;
        margin: 0.5rem 0;
        padding: 0.5rem; }

.grid-x.offset {
  margin: 1.75rem; }

.label-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.min-content {
  height: min-content !important; }

.callout {
  text-align: left; }

.dashboard {
  display: flex;
  align-items: center; }
  .dashboard .grid-container .grid-x .entry-group {
    min-width: 15rem;
    min-height: 14rem;
    height: 100%;
    background: #ffffff;
    z-index: 99;
    box-sizing: content-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.1875rem; }
    .dashboard .grid-container .grid-x .entry-group.create-server-group img:not(.plus-icon) {
      position: relative;
      top: -0.25rem; }
    .dashboard .grid-container .grid-x .entry-group p {
      margin-bottom: 0; }
    .dashboard .grid-container .grid-x .entry-group img {
      height: 5.5rem; }
    .dashboard .grid-container .grid-x .entry-group .plus-icon {
      height: 1.125rem; }
    .dashboard .grid-container .grid-x .entry-group svg {
      height: 1.375rem;
      width: 1.375rem;
      margin: 0.125rem 0 0 0.5rem; }
  .dashboard .grid-x.top-section {
    margin-bottom: 1.25rem; }
    .dashboard .grid-x.top-section > .cell {
      height: 5.625rem; }
      @media screen and (max-width: 639px) {
        .dashboard .grid-x.top-section > .cell:nth-child(1) {
          order: 1; }
        .dashboard .grid-x.top-section > .cell:nth-child(2) {
          order: 3;
          display: none !important; }
        .dashboard .grid-x.top-section > .cell:nth-child(3) {
          order: 2; } }
      .dashboard .grid-x.top-section > .cell.page-title {
        display: flex;
        justify-content: center;
        text-align: center; }
        .dashboard .grid-x.top-section > .cell.page-title .title-container {
          background: #ffffff;
          width: max-content;
          height: 2.84375rem;
          border-radius: 0.1875rem;
          padding: 0 1.375rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1rem; }
          @media screen and (max-width: 639px) {
            .dashboard .grid-x.top-section > .cell.page-title .title-container {
              margin-left: 0;
              width: 100%; } }
      .dashboard .grid-x.top-section > .cell.page-settings {
        display: flex;
        justify-content: flex-end; }
      .dashboard .grid-x.top-section > .cell.page-menu {
        background: white; }
      .dashboard .grid-x.top-section > .cell .logo-container {
        background: #ffffff;
        width: max-content;
        height: 2.84375rem;
        border-radius: 0.1875rem;
        padding: 0 1.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.15); }
        @media screen and (max-width: 479px) {
          .dashboard .grid-x.top-section > .cell .logo-container {
            width: min-content;
            padding: 0 1.5rem; } }
        .dashboard .grid-x.top-section > .cell .logo-container span {
          text-align: right; }
  .dashboard .callout {
    box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.15); }
    .dashboard .callout.contact {
      position: relative;
      background: white;
      height: auto;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.15); }
      .dashboard .callout.contact p {
        margin: 0.5rem 0; }
      .dashboard .callout.contact img {
        height: 1.5rem;
        margin: 0 0.5rem 0 0.25rem; }
      .dashboard .callout.contact a {
        color: #155abe;
        font-weight: 600;
        margin-left: 0.25rem; }
    .dashboard .callout.settings {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0; }
      .dashboard .callout.settings img {
        height: 1.5rem;
        width: 1.5rem; }
  .dashboard .table-container {
    background: white; }
    .dashboard .table-container .table-information {
      padding: 0.5rem; }
    .dashboard .table-container table tbody {
      border-bottom: none; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.modal-content > .grid-x > .cell {
  padding: 2.5rem; }

.modal-grid {
  z-index: 9001;
  position: relative;
  padding: 1.375rem 3.375rem; }

.v--modal {
  background: none;
  padding: 0.75rem;
  border-radius: 0.1875rem;
  box-shadow: none;
  -webkit-box-shadow: none; }
  @media screen and (max-width: 639px) {
    .v--modal {
      height: 100vh;
      width: 100vw;
      top: 0 !important;
      padding: 0; } }
  .v--modal-overlay {
    background: rgba(0, 0, 0, 0.35); }
    .v--modal-overlay[data-modal="modal-dialog"] {
      background: rgba(0, 0, 0, 0.35); }
    .v--modal-overlay .v--modal-background-click {
      height: 0;
      width: 0;
      min-height: 0; }
    .v--modal-overlay .v--modal-box {
      overflow: initial; }
  .v--modal .modal-content {
    background: white;
    width: 100%;
    border-radius: 0.1875rem;
    box-shadow: 0 1.25rem 3.75rem -0.125rem rgba(27, 33, 58, 0.4);
    -webkit-box-shadow: 0 1.25rem 3.75rem -0.125rem rgba(27, 33, 58, 0.4); }
    .v--modal .modal-content .grid-x > .cell {
      padding: 1.75rem; }
    .v--modal .modal-content .close-cross {
      width: 1.25rem;
      height: 1.25rem; }
    .v--modal .modal-content .modal-title::before {
      content: '';
      position: absolute;
      height: 0.125rem;
      background: #1c90fa;
      width: 2.125rem;
      margin-top: 2.375rem; }
    .v--modal .modal-content .grid-x.top-section {
      justify-content: center;
      align-items: center; }
    .v--modal .modal-content .grid-x .cell {
      display: flex;
      align-items: flex-start;
      flex-flow: column;
      justify-content: flex-start; }
      .v--modal .modal-content .grid-x .cell.go-back {
        justify-content: flex-end; }

.card {
  width: 100%; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.tooltip {
  display: block !important;
  z-index: 10000;
  background: rgba(20, 155, 255, 0.62);
  border: solid 0.0625rem rgba(255, 255, 255, 0.3);
  width: 100%;
  max-width: 11.25rem; }
  .tooltip .tooltip-inner {
    background: rgba(20, 155, 255, 0.62);
    color: white;
    border-radius: 16px;
    padding: 8px 4px;
    text-align: center; }
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: rgba(20, 155, 255, 0.62); }
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px; }
    .tooltip[x-placement^="top"] .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0; }
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px; }
    .tooltip[x-placement^="bottom"] .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0; }
  .tooltip[x-placement^="right"] {
    margin-left: 5px; }
    .tooltip[x-placement^="right"] .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0; }
  .tooltip[x-placement^="left"] {
    margin-right: 5px; }
    .tooltip[x-placement^="left"] .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0; }
  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .28s, visibility .28s; }
  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .28s; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.0625rem, 0, 0); }
  20%, 80% {
    transform: translate3d(0.125rem, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-0.25rem, 0, 0); }
  40%, 60% {
    transform: translate3d(0.25rem, 0, 0); } }
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.router-enter-active,
.router-leave-active {
  transition: all ease-in-out 0.2s;
  transform: scale(1); }

.router-enter,
.router-leave-to {
  opacity: 0;
  transform: scale(0.9); }

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.4s; }

.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0; }

.slide-fade-enter {
  transform: translateX(31px); }

.slide-fade-leave-active {
  transform: translateX(-31px); }

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 400ms; }

.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(30px); }

.Vue-Toastification__close-button {
  display: none !important; }

.Vue-Toastification__container {
  padding: 0; }

.Vue-Toastification__container {
  padding: 0.5rem 0.875rem 0.5rem 0.5rem; }

.Vue-Toastification__container .Vue-Toastification__toast {
  margin: 0.25rem;
  border-radius: 0.375rem !important; }
  @media screen and (max-width: 1023px) {
    .Vue-Toastification__container .Vue-Toastification__toast {
      margin: 0.5rem 0.25rem 0.5rem 0.25rem;
      border-radius: 0.25rem; } }

.Vue-Toastification {
  transform: translateX(0);
  will-change: transform; }

.Vue-Toastification__toast--default {
  border-bottom: solid 0.0625rem #1976d2;
  background-color: white !important;
  color: #0a0a0a; }

.Vue-Toastification__toast--info {
  border-bottom: solid 0.0625rem #2196f3;
  background-color: white !important;
  color: #0a0a0a; }

.Vue-Toastification__toast--success {
  background-color: white !important;
  color: #0a0a0a; }

.Vue-Toastification__toast--error {
  border-bottom: solid 0.0625rem #ff5252;
  background-color: white !important;
  color: #0a0a0a; }

.Vue-Toastification__toast--warning {
  border-bottom: solid 0.0625rem #ffc107;
  background-color: white !important;
  color: #0a0a0a; }

/*
 * { Project Breakpoints }
 * - Mobile first
  @include set-breakpoint(mobile, up) {};
  @include set-breakpoint(smartphone, up) {}
  @include set-breakpoint(phablet, up) {};
  @include set-breakpoint(tablet, up) {}
  @include set-breakpoint(laptop, up) {};
  @include set-breakpoint(desktop, up) {};
*/
.server-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; }
  .server-icon-container .logo-icon {
    height: 1.375rem;
    position: relative;
    z-index: 99; }
  .server-icon-container::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    padding: 1.5rem; }
  .server-icon-container.linux::after {
    background: #ffe494; }
  .server-icon-container.centos::after {
    background: #a0d184; }
  .server-icon-container.ubuntu::after {
    background: #ff9e7c; }
  .server-icon-container.mariadb::after {
    background: #68baf5; }

.blinking {
  -webkit-animation: 800ms blink ease infinite;
  animation: 1.5s blink ease-out infinite;
  position: absolute; }
  .blinking.top {
    margin-top: -8px;
    margin-left: -8px;
    transition-delay: 1s; }
  .blinking.bottom {
    margin-top: 17px;
    margin-left: -6px; }

@keyframes blink {
  from, to {
    opacity: 0; }
  50% {
    opacity: 1; } }
.dsahboard-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.verify {
  display: flex;
  align-items: center; }

.tabs-chart {
  max-width: 50%; }

.dashboard .chart-container {
  padding: 0.75rem;
  border-radius: 0.25rem;
  background: white; }
  .dashboard .chart-container .chartjs-render-monitor {
    padding: 0.75rem; }
.dashboard .app-notifications-container {
  border-radius: 0.25rem;
  background: white; }

.grid-x.grid-margin-x.dashboard-cards {
  max-height: 17.5rem; }

.dashboard > div {
  border-radius: 0.25rem; }

.maximize-icon {
  height: 1.25rem;
  margin-left: 0.75rem; }

.grid-server-properties {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.75rem;
  padding: 0.5rem; }
  .grid-server-properties .grid-block.left .grid-cell:last-child, .grid-server-properties .grid-block.middle .grid-cell:last-child, .grid-server-properties .grid-block.right .grid-cell:last-child {
    border-bottom: 0; }
  .grid-server-properties .grid-block.right {
    justify-content: flex-end; }
  .grid-server-properties .grid-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem;
    height: 2.375rem;
    border-bottom: solid 0.0625rem rgba(210, 224, 221, 0.34); }
  .grid-server-properties input.clearfix {
    border: none;
    padding: 0;
    background: transparent; }

.main-tabs-modal.fullscreen-on .v--modal-box.v--modal {
  width: 100vw !important;
  height: 100vh !important;
  top: 0 !important;
  left: 0 !important;
  right: 0.25rem !important;
  bottom: 0; }
  .main-tabs-modal.fullscreen-on .v--modal-box.v--modal .tab-card {
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0; }

.window-controls {
  display: flex;
  margin: 0;
  padding: 0 6px;
  list-style: none;
  position: absolute;
  align-self: center; }
  .window-controls > a.window-link-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.25rem; }

.font {
  font-weight: 400;
  text-transform: capitalize; }
  .font > span {
    margin: 0 0.75rem;
    font-size: 1rem; }
  .font.mariadb, .font.linux {
    font-family: 'Ubuntu', sans-serif; }
  .font.ubuntu {
    font-family: 'Ubuntu', sans-serif; }
  .font.centos {
    font-family: 'Ubuntu', sans-serif; }

.properties h5 {
  padding-bottom: 0.75rem; }

.icon-open {
  height: 2.5rem; }

.view {
  position: relative; }
  .view:hover {
    color: white; }

.dialog-container .dialog {
  background-color: white;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
  padding: 0;
  color: #6b7c93; }
  .dialog-container .dialog-title {
    font-weight: 600;
    padding-bottom: 15px; }
  .dialog-container .dialog-button {
    border-left: 1px solid #eee;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem; }
    .dialog-container .dialog-button:hover {
      background: rgba(0, 0, 0, 0.01); }

.text-capitalize {
  text-transform: capitalize; }

.router-group-y {
  display: flex;
  flex-flow: column nowrap;
  text-align: end; }
  .router-group-y .router-link {
    margin: 0.25rem 0; }

.menu-popover-enter,
.menu-popover-leave-to {
  opacity: 0;
  transform: rotateY(50deg); }

.menu-popover-enter-to,
.menu-popover-leave {
  opacity: 1;
  transform: rotateY(0deg); }

.menu-popover-enter-active,
.menu-popover-leave-active {
  transition: opacity, transform 200ms ease-out; }

b, strong {
  font-weight: 400; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  background: #155abe radial-gradient(circle, #1488CC 0%, #2B32B2 100%);
  min-height: 100vh;
  font-size: 0.875rem; }
  body #app {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 0.875rem;
    overflow: hidden;
    font-size: 96%; }
    body #app > * {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    @media screen and (min-width: 480px) {
      body #app {
        font-size: 97%; } }
    @media screen and (min-width: 640px) {
      body #app {
        font-size: 98%; } }
    @media screen and (min-width: 768px) {
      body #app {
        font-size: 99%; } }
    @media screen and (min-width: 1024px) {
      body #app {
        font-size: 100%; } }
    @media screen and (min-width: 1200px) {
      body #app {
        font-size: 100%; } }
    body #app #nav {
      padding: 30px;
      position: relative;
      z-index: 999; }
      body #app #nav a {
        font-weight: bold;
        color: #2c3e50; }
        body #app #nav a.router-link-exact-active {
          color: #42b983; }

::-moz-selection {
  color: #1b1e21;
  background: #fffc59; }

::selection {
  color: #494949;
  background: #b6b1fd; }

.vjs-tree__content .has-line .is-root {
  text-align: left;
  background: white;
  padding: 0.75rem;
  max-width: max-content; }

.error-container {
  padding: 0 1.125rem; }
  .error-container p, .error-container span {
    color: red;
    text-align: left; }

input[type="password"] {
  font-family: initial; }

.current-page {
  font-size: 1rem; }

.plus-icon {
  height: 1.125rem; }

.close-modal {
  grid-column: 8/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff; }
  .close-modal:hover {
    color: #ffffff !important; }

.go-back {
  border: solid 0.0625rem #1d1d1d;
  border-radius: 0.1875rem;
  padding: 0.375rem 0.5rem;
  color: #1d1d1d;
  width: 7.125rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .go-back .go-back-icon {
    height: 1.375rem;
    transform: rotate(180deg); }
  .go-back:hover, .go-back:focus {
    color: #1d1d1d; }
  .go-back span {
    left: 1.75rem;
    position: relative;
    top: -0.0625rem; }
  .go-back .icon.angle {
    max-height: 1.5rem;
    transform: rotate(-180deg);
    margin-top: -0.0625rem; }

.verify .vue-simple-spinner {
  position: absolute;
  left: 50%;
  transform: translate(0, -50%);
  text-align: center; }
  div .verify .vue-simple-spinner {
    position: relative; }

.register .check_emails_loader {
  top: 3rem; }

.forgot-password .check_emails_loader,
.reset-password .check_emails_loader {
  top: -0.0625rem; }

.form-group {
  position: relative; }

.check_emails_loader {
  position: absolute;
  height: 2.375rem;
  width: 3.625rem;
  right: 0.125rem;
  padding: 0.25rem;
  margin: 0.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9001; }
  .check_emails_loader .vue-simple-spinner {
    margin-left: 0.5rem; }

#register-button,
#login-button {
  position: relative; }
  #register-button .inner-group,
  #login-button .inner-group {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    #register-button .inner-group > div,
    #login-button .inner-group > div {
      position: absolute;
      width: 100%;
      height: 100%;
      line-height: 2.875rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      #register-button .inner-group > div > span,
      #login-button .inner-group > div > span {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translate(0%, -50%); }

.forgot-password {
  display: flex;
  justify-content: end;
  font-size: 0.875rem;
  padding: 0 0.625rem;
  margin-top: -0.5rem; }

.link {
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.align-right {
  display: flex;
  justify-content: flex-end; }

/*# sourceMappingURL=app.css.map */
