<template>
    <div class="grid-x modal-grid">
        <a @click="delete_server(server.id)" class="option-link">
            verwijderen
        </a>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "LinuxDeleteContent",
        data() {
            return {
                search_result: '',
            }
        },
        computed: {
            ...mapGetters("servers", ["servers"]),
            ...mapGetters("servers", ["server"]),

        },
        methods: {
            ...mapActions({
                deleteServerRequest: 'servers/deleteServerRequest',
                getActivities: 'activities/getActivities'
            }),
            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
            delete_server(id) {
                this.deleteServerRequest(id)
                    .then((response) => {
                        this.getActivities(() => {
                            console.log("Fetched Activities")
                        })
                        this.$modal.hide('main-tabs-modal')
                        this.$toast.success(response.data)
                    })
            },
        }
    }
</script>
