<template>
    <div class="grid-x modal-grid">
        <a @click="reset_server(server.id)" class="option-link">
            resetten
        </a>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "CentosResetContent",
        data() {
            return {}
        },
        computed: {
            ...mapGetters("servers", ["servers"]),
            ...mapGetters("servers", ["server"]),
        },
        methods: {
            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
            reset_server(id) {
                const server_type = this.server.type
                const server_id = id
                this.$toast.success("Succes, de server " + server_type + " met id " + server_id + " is gereset")
            },
        }
    }
</script>

<style lang="scss">
    @import "src/scss/abstracts/base";

</style>
