<template>
    <div class="server-options">
        <centos-general-content v-if="desired_option === 'algemeen'"/>
        <centos-status-content v-if="desired_option === 'stop' || desired_option === 'start'"/>
        <centos-reset-content v-if="desired_option === 'reset'"/>
        <centos-delete-content v-if="desired_option === 'verwijderen'"/>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import CentosGeneralContent from "./CentosGeneralContent";
    import CentosStatusContent from "./CentosStatusContent";
    import CentosResetContent from "./CentosResetContent";
    import CentosDeleteContent from "./CentosDeleteContent";

    export default {
        name: 'ServerOptions',
        data() {
            return {}
        },
        computed: {
            ...mapGetters("servers", ["desired_option"]),
        },
        components: {
            CentosGeneralContent,
            CentosStatusContent,
            CentosResetContent,
            CentosDeleteContent,
        }
    }
</script>
