<template>
    <div class="clouds">
        <!-- Clouds Infinte Iteration-->
        <Clouds />
    </div>
</template>

<script>
    import Clouds from "../../components/Clouds";

    export default {
        name: 'Clouds_view',
        data() {
            return {
                title: "View | Clouds",
            }
        },
        components: {
            Clouds,
        }
    }
</script>

<style lang="scss">

</style>
