<template>
    <div class="dashboard">

        <transition name="fade" tag="div" mode="out-in">

            <div v-if="user" class="grid-container" key="div">

                <!-- Grid-x Top section -->
                <div class="grid-x top-section">
                    <!-- Cell Logo -->
                    <div class="cell small-8 medium-8 cloudtion">
                        <div class="logo-container">
                            <span>Cloudtion</span>
                        </div>
                    </div>

                    <!-- Cell Title -->
                    <div class="cell small-24 medium-8 page-title"></div>

                    <!-- Cell Menu -->
                    <div class="cell small-16 medium-8 page-settings">
                        <app-header-navigation/>
                    </div>
                </div>

                <div class="grid-x main-section grid-margin-x grid-margin-y">
                    <div class="cell small-24 medium-12 large-16 callout min-content">
                        <div v-if="!user.email_verified_at">
                            <p>
                                Hallo, <strong>{{ user.firstname }} {{user.lastname}}</strong> de registratie geslaagd,
                                controleer je inbox en klik op de bevestigingslink om je account te verifieëren. Als je
                                de
                                e-mail niet heeft ontvangen, <a @click="verifyResend" class="link"> klik dan hier</a> om
                                een
                                nieuwe aan te vragen
                            </p>
                        </div>
                        <div v-else>
                            <p>
                                Welkom <strong>{{ user.firstname }} {{user.lastname}}</strong> in de Cloudtion omgeving.
                                Dit is de plek waar je jouw persoonlijke servers kunt opzetten.
                                Deze servers worden gekoppeld aan je Cloudtion account en toegewezen via een gekozen
                                gebruikersnaam en wachtwoord.
                            </p>
                        </div>
                    </div>

                    <div class="cell small-24 medium-12 large-8">
                        <div class="entry-group create-server-group">
                            <div v-if="!user.email_verified_at">
                                <p>
                                    Verifieër je account voordat je servers aan kunt maken.
                                </p>
                                <a class="button email" href="https://mailtrap.io/inboxes/963677/messages/1748103824">
                                    Controleer je inbox
                                    <img :src="outlook_icon" class="email-icon">
                                </a>
                            </div>
                            <div v-else>
                                <img src="../assets/files/svg/cloud-server.svg">
                                <p>
                                    Maak een nieuwe server
                                </p>
                                <div class="button-container">
                                    <a @click="show_create_server_modal" class="a-button">
                                        <span>Nieuwe server</span>
                                        <img :src="plus_icon" class="plus-icon">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Servers data table -->
                    <div class="cell small-24 large-24">
                        <server-table-grid/>
                    </div>

                    <div class="cell small-24">

                    </div>

                </div>
            </div>

            <vue-simple-spinner v-else size="38"
                                :line-size="2" :speed="0.6" line-fg-color="#f1f1f1"
                                line-bg-color="transparent" class="dashboard-spinner"/>

        </transition>

    </div>
</template>

<script>
    import {mapGetters, mapActions} from "vuex";
    import VueSimpleSpinner from "vue-simple-spinner"
    import ServerTableGrid from "./../components/ServerTableGrid";
    import AppHeaderNavigation from "../components/AppHeaderNavigation";

    export default {
        name: 'Dashboard',
        data() {
            return {
                view: 'Dashboard',
                plus_icon: require('@/assets/files/svg/add-plus-button.svg'),
                outlook_icon: require('@/assets/files/icons/outlook.png'),
                chatbot: require('@/assets/files/svg/chatbot.svg'),
                cloudtion_message: require('@/assets/files/svg/Ai.svg'),
                server: require('@/assets/files/svg/server.svg'),

            }
        },
        components: {
            AppHeaderNavigation,
            ServerTableGrid,
            VueSimpleSpinner,
        },
        computed: {
            ...mapGetters(["errors"]),
            ...mapGetters("authentication", ["user"]),
            ...mapGetters("servers", ["servers"]),
            ...mapGetters("activities", ["activities"]),
        },
        mounted() {
            this.$store.commit("setErrors", {});

        },
        created() {
            this.getUserData()
        },
        methods: {
            ...mapActions({
                sendVerifyResendRequest: 'authentication/sendVerifyResendRequest',
                sendRefreshTokenRequest: 'authentication/sendRefreshTokenRequest',
                getActivities: 'activities/getActivities',
                getUserData: 'authentication/getUserData',
            }),
            image_path(type) {
                return require('@/assets/files/servers/' + type + '.png')
            },
            show_create_server_modal() {
                this.$modal.show('create-server-modal')
            },
            verifyResend() {
                this.$Progress.start()
                this.sendVerifyResendRequest()
                    .then((response) => {
                        if (response.status === 202) {
                            this.$toast.success("De verificatielink is succesvol verzonden.")
                        }
                        this.$Progress.success()
                        this.$Progress.finish()
                    })
                    .catch((error) => {
                        this.$Progress.fail()
                        this.$toast.error(error)
                    });
            },
            async request_refresh_token() {
                try {
                    let response = await this.sendRefreshTokenRequest();
                    console.log(response)
                } catch (error) {
                    console.log(error)
                }
            },
        }
    }
</script>

<style lang="scss">
    @import '../scss/abstracts/base';

    .button.email {
        background: rgb(0, 114, 204);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: rem-calc(20) rem-calc(0);
        padding: 0 rem-calc(28);
    }

    .email-icon {
        max-height: rem-calc(32);
    }

    .icon-chatbot {
        height: rem-calc(40);
    }

    .create-server-group {
        padding: 0 rem-calc(18);
    }
</style>
