@import "../abstracts/base";

// TODO: Verplaatsen opnieuw selecteren
#register-button,
#reset-button {
  margin-bottom: 0 !important;
}

.button-container {
  position: static;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    color: $white;
    padding: rem-calc(10) rem-calc(24);
    min-width: rem-calc(250);
    top: 0;
    margin-top: rem-calc(22);
    position: static;
    width: 50%;
    border-radius: rem-calc(3);
  }
}

button,
.button {
  position: relative;
  width: 100%;
  height: rem-calc(46);
  background: #2c3e50;
  color: $white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: rem-calc(15);
  border-radius: rem-calc(3);
  overflow: hidden;
  transition: none;
  z-index: 9;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    background: #2c3e50;
    color: white;
  }

  &:hover {
    background: #394f66;
    color: white;
  }

  &[type='reset'] {
    background: white;
    border: rem-calc(1) #373737 solid;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      height: rem-calc(20);
      position: relative;
    }
  }

  &[type='submit'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem-calc(16);

    span.is-label {
      float: left;
    }

    svg {
      width: rem-calc(20);
      height: rem-calc(20);
      right: rem-calc(32);
      top: rem-calc(12);
      position: absolute;
    }
  }
}
