<template>
    <div class="grid-x">
        <transition name="fade" mode="out-in">
            <a v-if="server.status === 'active'"
               @click="stop_server(server.id)"
               class="option-link">
                stoppen
            </a>
            <a v-else-if="server.status === 'inactive'"
               @click="start_server(server.id)"
               class="option-link">
                starten
            </a>
        </transition>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "MariadbStatusContent",
        data() {
            return {}
        },
        computed: {
            ...mapGetters("servers", ["server"]),
        },
        methods: {
            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
            start_server(id) {
                this.$set(this.server, 'status', 'active')
                this.$toast.success("Succes, de server " + this.server.type + " met id " + id + " is opgestart")
            },
            stop_server(id) {
                this.$set(this.server, 'status', 'inactive')
                this.$toast.success("Succes, de server " + this.server.type + " met id " + id + " is gestopt")
            },
        }
    }
</script>
