<template>
    <div class="grid-server-properties">
        <div class="grid-block left">
            <div class="grid-cell id">id</div>
            <div class="grid-cell type">type</div>
            <div class="grid-cell status">Status</div>
            <div class="grid-cell port">Poort</div>
            <div class="grid-cell username">Gebruikersnaam</div>
            <div class="grid-cell password">Wachtwoord</div>
            <div class="grid-cell created">Aangemaakt</div>
        </div>
        <div class="grid-block middle">
            <div class="grid-cell">
                {{server.id}}
            </div>
            <div class="grid-cell">
                <span>{{server.type}}</span>
            </div>
            <div class="grid-cell">
                <span>{{server.status}}</span>
            </div>
            <div class="grid-cell">
                <span>8001</span>
            </div>
            <div class="grid-cell">
                <span>{{server.username}}</span>
            </div>
            <div class="grid-cell">
                <input :type="type" :value="server.password" disabled="disabled" class="clearfix">
            </div>
            <div class="grid-cell">
                <span>{{server.created_at}}</span>
            </div>
        </div>
        <div class="grid-block right">
            <div class="grid-cell">
                <a v-clipboard="server.id"
                   v-clipboard:success="clipboard_success"
                   v-clipboard:error="clipboard_error"
                   class="copy-link">
                    Kopieëren
                </a>
            </div>
            <div class="grid-cell">

            </div>
            <div class="grid-cell">
                <transition name="fade" mode="out-in">
                    <a v-if="server.status === 'active'"
                       @click="stop_server(server.id)"
                       class="option-link">
                        stoppen
                    </a>
                    <a v-else-if="server.status === 'inactive'"
                       @click="start_server(server.id)"
                       class="option-link">
                        starten
                    </a>
                </transition>
            </div>
            <div class="grid-cell">
                <a v-clipboard="server"
                   v-clipboard:success="clipboard_success"
                   v-clipboard:error="clipboard_error"
                   class="copy-link">
                    Kopieëren
                </a>
            </div>
            <div class="grid-cell">

            </div>
            <div class="grid-cell">
                <a @click.prevent="show_password">{{show_hide_password}}</a>
            </div>
            <div class="grid-cell">
                <timeago :datetime="server.created_at" :auto-update="60"/>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "CentosGeneralContent",
        data() {
            return {
                type: 'password',
                show_hide_password: 'weergeven',
                images: {
                    linux: require('@/assets/files/servers/linux.png'),
                    centos: require('@/assets/files/servers/centos.png'),
                    ubuntu: require('@/assets/files/servers/ubuntu.png'),
                    mariadb: require('@/assets/files/servers/mariadb.png'),
                },
            }
        },
        computed: {
            ...mapGetters("servers", ["servers"]),
            ...mapGetters("servers", ["server"]),
        },
        methods: {
            clipboard_success() {
                this.$toast.success("Server id is gekopieërd.")
            },
            clipboard_error() {
                this.$toast.error("Server id is niet gekopieërd.")
            },
            show_password() {
                if (this.type === 'password') {
                    this.type = 'text'
                    this.show_hide_password = 'verbergen'
                } else {
                    this.type = 'password'
                    this.show_hide_password = 'weergeven'
                }
            },
            start_server(id) {
                this.$set(this.server, 'status', 'active')
                this.$toast.success("Server " + this.server.type + " met id " + id + " is opgestart.")
            },
            stop_server(id) {
                this.$set(this.server, 'status', 'inactive')
                this.$toast.success("Server " + this.server.type + " met id " + id + " is gestopt.")
            },
        }
    }
</script>

<style lang="scss">
    @import "src/scss/abstracts/base";

    .grid-server-properties {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: rem-calc(12);
        padding: rem-calc(8);

        .grid-block {
            &.left, &.middle, &.right {
                .grid-cell:last-child {
                    border-bottom: 0;
                }
            }

            &.middle {
            }

            &.right {
                justify-content: flex-end;
            }
        }

        .grid-cell {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: rem-calc(12) rem-calc(8);
            height: rem-calc(38);
            border-bottom: solid rem-calc(1) rgba(210, 224, 221, 0.34);
        }

        input.clearfix {
            border: none;
            padding: 0;
            background: transparent;
        }
    }
</style>
