<template>
    <div class="grid-x modal-grid">
        <a data-title="" @click.prevent="delete_server(server.id)">
            {{server.delete}}
        </a>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "MariadbDeleteContent",
        data() {
            return {

            }
        },
        computed: {
            ...mapGetters("servers", ["servers"]),
            ...mapGetters("servers", ["server"]),

        },
        mounted() {

        },
        methods: {
            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
            ...mapActions({
                deleteServerRequest: 'servers/deleteServerRequest',
            }),
            delete_server(id) {
                this.deleteServerRequest(id)
                    .then((response) => {

                        this.$modal.hide('main-tabs-modal')
                        this.$toast.success(response.data)
                    })
            },
        }
    }
</script>

<style lang="scss">
    @import "src/scss/abstracts/base";

</style>
