<template>
    <div class="server-options">
        <mariadb-general-content v-if="desired_option === 'algemeen'"/>
        <mariadb-status-content v-if="desired_option === 'stop' || desired_option === 'start'"/>
        <mariadb-reset-content v-if="desired_option === 'reset'"/>
        <mariadb-delete-content v-if="desired_option === 'verwijderen'"/>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";
    import MariadbGeneralContent from "../../content/mariadb/MariadbGeneralContent";
    import MariadbStatusContent from "../../content/mariadb/MariadbStatusContent";
    import MariadbResetContent from "../../content/mariadb/MariadbResetContent";
    import MariadbDeleteContent from "../../content/mariadb/MariadbDeleteContent";

    export default {
        name: 'ServerOptions',
        data() {
            return {}
        },
        computed: {
            ...mapGetters("servers", ["desired_option"]),
        },
        components: {
            MariadbGeneralContent,
            MariadbStatusContent,
            MariadbResetContent,
            MariadbDeleteContent,
        }
    }
</script>
