<template>
    <div class="tab-card server-properties">
        <!--        <header class="tab-header">-->
        <!--            <div v-for="option in options" :key="option"-->
        <!--                 :class="{'active': desired_option === option}"-->
        <!--                 class="loop options-loop"-->
        <!--                 @click="switch_option(option)">-->

        <!--                <div class="slot-wrapper-x">-->
        <!--                    <div class="slot-background">-->
        <!--                        <div class="slot-rounding left"></div>-->
        <!--                        <div class="slot-rounding right"></div>-->
        <!--                    </div>-->
        <!--                    <slot :name="optionHeadSlotName(option)">-->
        <!--                        <span>-->
        <!--                            {{option}}-->
        <!--                        </span>-->
        <!--                    </slot>-->
        <!--                </div>-->

        <!--            </div>-->
        <!--            <div class="window-controls">-->
        <!--                <a @click="close_modal">sluiten</a>-->
        <!--            </div>-->
        <!--        </header>-->
        <!--        <aside class="tab-aside">-->
        <!--            <div v-for="(tab) in server_types" :key="tab">-->
        <!--                <div @click="switch_tab(tab)"-->
        <!--                     :class="[{'active': activeTab === tab}]"-->
        <!--                     class="loop servers-loop">-->
        <!--                    <slot :name="tabHeadSlotName(tab)">-->
        <!--                        <div class="slot-wrapper-y">-->
        <!--                            <div class="slot-background">-->
        <!--                                <div class="slot-rounding top"></div>-->
        <!--                                <div class="slot-rounding bottom"></div>-->
        <!--                            </div>-->
        <!--                            <img :src="imagePath(tab)" class="tab-image">-->
        <!--                            <span>-->
        <!--                                {{ capitalize_some(tab) }}-->
        <!--                            </span>-->
        <!--                        </div>-->
        <!--                    </slot>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </aside>-->
        <main class="tab-main">
            <div class="cell small-24 card-breadcrumbs">
                <div>
                    <img :src="imagePath(desired_modal)">
                    <span>{{extend_server_types(desired_modal)}}</span>
                </div>
                <div>
                    <img :src="images.next" class="image-next">
                </div>
                <div>
                    <span>
                        {{handle_tab_title(desired_option)}}
                    </span>
                </div>
            </div>
            <div class="tabs-content-title">
                <span class="text-capitalize">
                   {{desired_modal}}
                </span>
                <span>
                    {{handle_tab_title(desired_option)}}
                </span>
                <span>
                    {{option_title}}
                </span>
            </div>
            <div class="cell small-24 medium-8 tab-panel">
                <slot :name="optionPanelSlotName"></slot>
            </div>
            <div class="cell small-24 medium-18 tab-panel">
                <slot :name="tabPanelSlotName"></slot>
            </div>
        </main>
    </div>
</template>


<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        props: {
            initialTab: String,
            initialOption: String,
            tabs: Array,
            options: Array
        },
        data() {
            return {
                activeTab: this.initialTab,
                activeOption: this.initialOption,
                revealed: false,
                first_active: true,
                option_title: "",
                window: {
                    width: 0,
                    height: 0,
                },
                images: {
                    plus_icon: require('@/assets/files/svg/add-plus-button.svg'),
                    linux: require('@/assets/files/servers/linux.png'),
                    centos: require('@/assets/files/servers/centos.png'),
                    ubuntu: require('@/assets/files/servers/ubuntu.png'),
                    mariadb: require('@/assets/files/servers/mariadb.png'),
                    next: require('@/assets/files/svg/next.svg'),
                    reveal: require('@/assets/files/svg/open_menu.svg'),
                    arrow_right: require('@/assets/files/svg/arrows/right-arrow.svg'),
                    arrow_left: require('@/assets/files/svg/arrows/left-arrow.svg'),
                    key: require('@/assets/files/svg/key.svg'),
                },
            };
        },
        computed: {
            ...mapGetters("servers", [
                "servers",
                "server",
                "server_types",
                "desired_modal",
                "desired_option"
            ]),

            tabPanelSlotName() {
                return `tab-panel-${this.activeTab}`;
            },
        },
        mounted() {
            this.initialize_tabs()
        },
        methods: {
            ...mapActions({
                setDesiredModal: 'servers/setDesiredModal',
                setDesiredOption: 'servers/setDesiredOption',
                getServerTypes: 'servers/getServerTypes',
            }),
            toggle_reveal() {
                return this.revealed = !this.revealed
            },
            handle_tab_title(option) {
                switch (option) {
                    case "algemeen":
                        this.option_title = "eigenschappen"
                        break;
                    case "start":
                        this.option_title = "starten (booten)"
                        break;
                    case "stop":
                        this.option_title = "stoppen"
                        break;
                    case "reset":
                        this.option_title = "resetten"
                        break;
                    case "verwijderen":
                        this.option_title = "verwijderen"
                        break;
                    default:
                        return option
                }
            },
            async initialize_tabs() {
                try {
                    await this.switch_tab(this.desired_modal)
                    await this.switch_option(this.desired_option)
                } catch (error) {
                    console.log(error)
                }
            },
            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
            extend_server_types(server_type) {
                switch (server_type) {
                    case "linux":
                        this.extended = server_type
                        server_type = this.extended
                        break;
                    case "centos":
                        this.extended = server_type
                        server_type = this.extended
                        break;
                    case "ubuntu":
                        this.extended = server_type
                        server_type = this.extended
                        break;
                    case "mariadb":
                        this.extended = server_type
                        server_type = this.extended
                        break;
                    default:
                        return server_type
                }
                return server_type
            },
            check_existence(type) {
                return this.servers.some(server => server.type === type)
            },
            tabHeadSlotName(tabName) {
                return `tab-head-${tabName}`;
            },
            optionHeadSlotName(optionName) {
                return `option-head-${optionName}`;
            },
            imagePath: function (tab) {
                return require('@/assets/files/servers/' + tab + '.png')
            },
            switch_option(optionName) {
                this.activeOption = optionName
                this.setDesiredOption(this.activeOption)
            },
            switch_tab(tabName) {
                this.activeTab = tabName
                this.setDesiredModal(this.activeTab)
            },
            capitalize_some(string) {
                let maria = string.substr(0, 5)
                let db = string.substr(5, 7)
                let cent = string.substr(0, 4)
                let os = string.substr(4, 5)
                switch (string) {
                    case 'mariadb':
                        string = maria + db.toUpperCase();
                        break;
                    case 'centos':
                        string = cent + os.toUpperCase();
                        break;
                    default:
                        return string
                }
                return string
            }
        }
    }
</script>
