<template>
    <!-- Allaround Modal-->
    <modal name="main-tabs-modal" tag="div" class="main-tabs-modal"
           :minWidth="modal.minWidth" :maxWidth="modal.maxWidth"
           :width="modal.width" :minHeight="modal.minHeight"
           :adaptive="modal.adaptive" :clickToClose="modal.clickToClose"
           :delay="modal.delay" :transition="modal.transition">
        <div class="tab-modal-content">
            <div class="grid-x">
                <div class="cell small-24">
                    <TabCard :tabs="tabs" :options="options" :initialTab="initialTab" :initialOption="initialOption">
                        <template slot="tab-panel">
                            <server-properties/>
                            <server-status/>
                            <server-reset/>
                            <server-delete/>
                        </template>
                        <template slot="panel">
                            <div v-if="desired_option === 'algemeen'">

                            </div>
                            <div v-if="desired_option === 'stop'">
                                <p>
                                    Om 4:00 uur 's nachts worden alle persoonlijke servers automatisch uitgeschakeld.
                                    Dit gebeurt ongeacht de programma's die nog actief zijn.
                                    Via hier kun jij jouw persoonlijke server weer starten (booten).
                                </p>
                            </div>
                            <div v-if="desired_option === 'start'">
                                <p>
                                    Om 4:00 uur 's nachts worden alle persoonlijke servers automatisch uitgeschakeld.
                                    Dit gebeurt ongeacht de programma's die nog actief zijn.
                                    Via hier kun jij jouw persoonlijke server stoppen.
                                </p>
                            </div>
                            <div v-if="desired_option === 'reset'">
                                <p>
                                    Servers die 21 dagen niet gestart zijn worden automatisch verwijderd.
                                    Zorg er dus voor dat er geen belangrijke bestanden op jouw server staan.
                                </p>
                            </div>
                            <div v-if="desired_option === 'verwijderen'">
                                <p>
                                    De server uitgezet wordt en daarna verwijderd.
                                    Na de annulering ben je alle data kwijt die jij op de server had opgeslagen.
                                </p>
                            </div>
                        </template>
                    </TabCard>
                </div>
            </div>
        </div>
    </modal>
</template>

<script>
    import TabCard from "./TabCard";
    import {mapActions, mapGetters} from "vuex";

    import ServerProperties from "./content/ServerProperties";
    import ServerStatus from "./content/ServerStatus";
    import ServerReset from "./content/ServerReset";
    import ServerDelete from "./content/ServerDelete";


    export default {
        name: 'MainTabsModal',
        data() {
            return {
                isActive: false,
                initialTab: 'linux',
                initialOption: 'algemeen',
                tabs: this.servers,
                options: ['algemeen', 'start', 'reset', 'verwijderen'],
                images: {
                    go_back: require('@/assets/files/svg/arrow.svg'),
                },
                modal: {
                    transition: "nice-modal-fade",
                    width: "100%",
                    height: '100%',
                    maxWidth: 1128,
                    minHeight: 740,
                    minWidth: 320,
                    delay: 100,
                    adaptive: true,
                    clickToClose: true,
                    scrollable: true,
                    showBackgroundMask: false,
                },
            }
        },
        computed: {
            ...mapGetters("servers", [
                "servers",
                "server",
                "server_types",
                "desired_modal",
                "desired_option"
            ]),
        },
        components: {
            TabCard,
            ServerProperties,
            ServerStatus,
            ServerReset,
            ServerDelete,
        },
        methods: {
            ...mapActions({
                setDesiredModal: 'servers/setDesiredModal',
            }),
            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
        }
    }
</script>
