<template>
    <div class="window-controls">
        <a @click="close_modal" class="go-back">
            <img :src="images.go_back" class="go-back-icon">
        </a>
    </div>
</template>


<script>
    import {mapActions} from "vuex";

    export default {
        data() {
            return {
                fullscreen: false,
                images: {
                    go_back: require('../../assets/files/svg/cancel.svg'),
                    fullscreen: require('../../assets/files/svg/fullscreen_corner.png'),
                }
            }
        },
        computed: {},
        methods: {
            ...mapActions("servers", ["toggleFullscreen"]),

            close_modal() {
                this.$modal.hide('main-tabs-modal')
            },
            async toggle_fullscreen() {
                this.fullscreen = !this.fullscreen
                await this.toggleFullscreen(this.fullscreen)
                await console.log(this.fullscreen)
            },

        }
    }
</script>


<style lang="scss">

</style>
