<template>
    <div class="server-voorwaarden">
        <h4>Server eigenschappen en informatie</h4>
        <p>
            Tijdens het aanvragen van een eigen server ben je verplicht correcte gegevens op te
            geven.
        </p>
        <p>
            Het is niet toegestaan andere studenten onder jouw naam op jouw server in te laten
            loggen.
            Jij bent zelf verantwoordelijk dat de server op de juiste manier gebruikt wordt.
            Ook ben jij verantwoordelijk voor het geheimhouden van het persoonlijke
            gebruikersaccount die voor jou gemaakt is.
        </p>
        <p>
            De servers op de npserver worden aangeboden om jou een eigen oefenomgeving te geven
            waarin je kunt oefenen met Linux en MariaDB SQL.
            Je bent de enige gebruiker van jouw server.
            Je mag extra software installeren.
        </p>
        <p>
            Persoonlijke servers kunnen altijd (zonder kennisgeving) verwijderd worden.
            Sla daarom geen belangrijke bestanden op de server op.
        </p>
    </div>
</template>
